{%- assign wishlist_enabled = settings.app_wk_enabled -%}

{% case fragment %}
	{% when 'head' %}
		<div class="section__head">
			<h1 class="section__title">
				{%- if template contains 'orders' -%}
					{{- 'customer.account.orders_title' | t -}}
				{%- elsif template == 'customers/order' -%}
					{{- 'customer.account.order_title' | t -}}
				{%- elsif template == 'customers/addresses' -%}
					{{- 'customer.addresses.title' | t -}}
				{%- elsif template == 'page.wishlist' -%}
					{{- 'customer.account.wishlist_title' | t -}}
				{%- elsif template == 'page.wishlist-shared' -%}
					{{- 'customer.account.wishlist_shared_title' | t -}}
				{%- else -%}
					{{- 'customer.account.account_title' | t -}}
				{%- endif -%}
			</h1><!-- /.section__title -->
		</div><!-- /.section__head -->
	{% when 'sidebar' %}
		<aside class="section__aside">
			<ul class="hidden-xs">
				<li class="{%- if template contains 'account' -%}{%- unless template.suffix == 'orders' -%}active{%- endunless -%}{%- endif -%}">
					<a href="/account">{{- 'customer.account.account' | t -}}</a>
				</li>

				<li class="{%- if template.suffix == 'orders' or template == 'customers/order' -%}active{%- endif -%}">
					<a href="/account?view=orders">{{- 'customer.account.orders' | t -}}</a>
				</li>

				<li{% if template contains 'addresses' %} class="active"{% endif %}>
					<a href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
				</li>

				{%- if wishlist_enabled -%}
					<li{% if template contains 'wishlist' %} class="active"{% endif %}>
						<!-- include 'wishlist-link' -->
					</li>
				{%- endif -%}

				<li>
					{{- 'customer.account.log_out' | t | customer_logout_link -}}
				</li>
			</ul>

			<div class="dropdown visible-xs-block">
				<a href="#nav-account-dropdown" class="js-click js-dropdown-toggle">
					{{- 'customer.account.account_menu' | t -}}

					{%- include 'icons', icon: 'arrow-right' -%}
				</a>

				<div class="dropdown__content" id="nav-account-dropdown">
					<ul>
						<li class="{%- if template contains 'account' -%}{%- unless template.suffix == 'orders' -%}active{%- endunless -%}{%- endif -%}">
							<a href="/account">{{- 'customer.account.account' | t -}}</a>
						</li>

						<li class="{%- if template.suffix == 'orders' or template == 'customers/order' -%}active{%- endif -%}">
							<a href="/account?view=orders">{{- 'customer.account.orders' | t -}}</a>
						</li>

						<li{% if template contains 'addresses' %} class="active"{% endif %}>
							<a href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
						</li>

						{%- if wishlist_enabled -%}
							<li{% if template contains 'wishlist' %} class="active"{% endif %}>
								<!-- include 'wishlist-link' -->
							</li>
						{%- endif -%}
						
						<li>
							{{- 'customer.account.log_out' | t | customer_logout_link -}}
						</li>
					</ul>
				</div><!-- /.dropdown__content -->
			</div><!-- /.dropdown -->
		</aside><!-- /.section__aside -->
{% endcase %}

{%- assign fragment = '' -%}
