{%- if content and is_splitted -%}
  {%- assign open_tag = split | append: '>' | prepend: '<' -%}
  {%- assign close_tag = split | append: '>' | prepend: '</' -%}

  {%- assign content_start_array = content | split: open_tag -%}
  {%- unless content_start_array[0] contains close_tag -%}
    {{ content_start_array[0] }}
  {%- endunless -%}
  {%- for accordion_item in content_start_array -%}

    {%- if accordion_item == blank -%}
      {% continue %}
    {%- endif -%}
    {%- unless accordion_item contains close_tag -%}
      {% continue %}
    {%- endunless -%}

    <div class="accordion js-accordion{% if is_initially_open %} is-active{% endif %}">
      {%- assign accordion_item_array = accordion_item | split: close_tag -%}
      {%- assign accordion_head = accordion_item_array | first -%}
      {%- assign accordion_content = accordion_item_array | last -%}
      <div class="accordion__head">
        <{{split}}>
          {{ accordion_head }}

          {%- include 'icons', icon: 'plus' -%}
        </{{split}}>
      </div><!-- /.accordion__head -->
      <div class="accordion__content js-accordion-content"{% unless is_initially_open %} style="display: none;"{% endunless %}>
        {{ accordion_content }}
      </div><!-- /.accordion__content -->
    </div><!-- /.accordion -->
  {%- endfor -%}
{%- elsif content and _title -%}
  <div class="accordion js-accordion{% if is_initially_open %} is-active{% endif %}">
    <div class="accordion__head">
      <{{split}}>
        {{ _title }}

        {%- include 'icons', icon: 'plus' -%}
      </{{split}}>
    </div><!-- /.accordion__head -->
    <div class="accordion__content js-accordion-content"{% unless is_initially_open %} style="display: none;"{% endunless %}>
      {{ content }}
    </div><!-- /.accordion__content -->
  </div><!-- /.accordion -->
{%- endif -%}
