{%- assign is_unavailable = false -%}
{%- assign is_on_sale = false -%}
{%- assign is_new = false -%}

{%- assign product_created_at = _product.created_at | date: '%s' -%}
{%- assign time_since_created = 'now' | date: '%s' | minus: product_created_at | divided_by: 86400 -%}

{%- if time_since_created < settings.badge_new_days_offset -%}
  {%- assign is_new = true -%}
{%- endif -%}

{%- unless _product.available -%}
  {%- assign is_unavailable = true -%}
{%- endunless -%}

{%- if _product.compare_at_price > _product.price -%}
  {%- assign is_on_sale = true -%}
{%- endif -%}

<div class="product__badges badges {{ class }} js-product-badges" data-tags="{%- for tag in _product.tags -%}{{- tag -}}{%- unless forloop.last -%}||{%- endunless -%}{%- endfor -%}">
  {%- if is_unavailable -%}
    {%- assign default_text = 'products.product.sold_out' | t  -%}
    {%- assign badge_text = settings.badge_sold_out_text -%}
    {%- assign badge_color = settings.badge_sold_out_color -%}
    {%- assign badge_bg_color = settings.badge_sold_out_bg_color -%}
    {%- assign modifier_class = 'badge--sold-out' -%}

    <span class="badges__item badge {{ modifier_class }}" style="color: {{ badge_color }}; background-color: {{ badge_bg_color }};">
      {{- badge_text | default: default_text -}}
    </span>
  {%- endif -%}

  {%- if is_on_sale -%}
    {%- assign default_text = 'products.product.sale' | t  -%}
    {%- assign badge_text = settings.badge_sale_text -%}
    {%- assign badge_color = settings.badge_sale_color -%}
    {%- assign badge_bg_color = settings.badge_sale_bg_color -%}
    {%- assign modifier_class = 'badge--sale' -%}

    <span class="badges__item badge {{ modifier_class }}" style="color: {{ badge_color }}; background-color: {{ badge_bg_color }};">
      {{- badge_text | default: default_text -}}
    </span>
  {%- endif -%}

  {%- if is_new -%}
    {%- assign default_text = 'products.product.new' | t  -%}
    {%- assign badge_text = settings.badge_new_text -%}
    {%- assign badge_color = settings.badge_new_color -%}
    {%- assign badge_bg_color = settings.badge_new_bg_color -%}
    {%- assign modifier_class = 'badge--new' -%}

    <span class="badges__item badge {{ modifier_class }}" style="color: {{ badge_color }}; background-color: {{ badge_bg_color }};">
      {{- badge_text | default: default_text -}}
    </span>
  {%- endif -%}
</div><!-- /.product__badges -->
