{% if line_item.product.metafields.Embroidery.enabled %}
    <div class="tooltip tooltip-popup">
        <div class="tooltip-header">
            <a href="#embroidery_popup_see_details" class="js-close-embroidery-tooltip" data-js-embroidery-popup-tooltip-toggle>×</a>
        </div>
        {{ settings.embroidery_tooltip }}
    </div>
{% endif %}

{% if line_item.product.metafields.embroidery_right_cuf.enabled and line_item.product.metafields.embroidery_left_ches.enabled %}
    <div class="tooltip tooltip-sweatshirt-popup">
        <div class="tooltip-header">
            <a href="#embroidery_sweatshirt_see_details" class="js-close-embroidery-sweatshirt-tooltip" data-js-embroidery-sweatshirt-popup-tooltip-toggle>×</a>
        </div>
        {{ settings.embroidery_left_chest_tooltip }}
    </div>
{% elsif line_item.product.metafields.embroidery_left_ches.enabled %}
    <div class="tooltip tooltip-left-chest-popup">
        <div class="tooltip-header">
            <a href="#embroidery_left_chest_popup_see_details" class="js-close-embroidery-left-chest-tooltip" data-js-embroidery-left-chest-popup-tooltip-toggle>×</a>
        </div>
        {{ settings.embroidery_left_chest_tooltip }}
    </div>
{% elsif line_item.product.metafields.embroidery_hat_left.enabled %}
    <div class="tooltip tooltip-hat-left-popup">
        <div class="tooltip-header">
            <a href="#embroidery_hat_left_popup_see_details" class="js-close-embroidery-hat-left-tooltip" data-js-embroidery-hat-left-popup-tooltip-toggle>×</a>
        </div>
        {{ settings.embroidery_hat_left_tooltip }}
    </div>
{% elsif line_item.product.metafields.embroidery_hat_right.enabled %}
    <div class="tooltip tooltip-hat-right-popup">
        <div class="tooltip-header">
            <a href="#embroidery_hat_right_popup_see_details" class="js-close-embroidery-hat-right-tooltip" data-js-embroidery-hat-right-popup-tooltip-toggle>×</a>
        </div>
        {{ settings.embroidery_hat_right_tooltip }}
    </div>
{% elsif line_item.product.metafields.embroidery_right_cuf.enabled %}
    <div class="tooltip tooltip-right-cuff-popup">
        <div class="tooltip-header">
            <a href="#embroidery_right_cuff_popup_see_details" class="js-close-embroidery-right-cuff-tooltip" data-js-embroidery-right-cuff-popup-tooltip-toggle>×</a>
        </div>
        {{ settings.embroidery_right_cuff_tooltip }}
    </div>
{% endif %}

{% if line_item.product.metafields.embroidery_bag.enabled %}
    <div class="tooltip tooltip-bag-popup">
        <div class="tooltip-header">
            <a href="#embroidery_bag_popup_see_details" class="js-close-embroidery-bag-tooltip" data-js-embroidery-bag-popup-tooltip-toggle>×</a>
        </div>
        {{ settings.embroidery_bag_tooltip }}
    </div>
{% endif %}


