<table class="js-cart-items help">
  {%- for line_item in cart.items -%}
    {% assign embroidery_enabled = false %}
    {% assign line_item_is_embroidery = false %}
    {% if line_item.product.metafields.embroidery.enabled or line_item.product.metafields.embroidery_left_ches.enabled or line_item.product.metafields.embroidery_right_cuf.enabled or line_item.product.metafields.embroidery_hat_left.enabled or line_item.product.metafields.embroidery_hat_right.enabled or line_item.product.metafields.embroidery_bag.enabled %}
      {% assign embroidery_enabled = true %}
    {% endif %}
    {% if line_item.product.handle == settings.embroidery_product or line_item.product.handle == settings.embroidery_hat_right_product or line_item.product.handle == settings.embroidery_bag_product %}
      {% assign line_item_is_embroidery = true %}
    {% endif %}    
    {% include 'cart-items-tooltips' %}
    <tr class="table__product js-table-product" data-product-id="{{- line_item.product.id -}}">
      {%- if line_item.image -%}
        <td class="table__image">
          <a href="{{- line_item.url -}}" class="lazyload" data-bg="{{ line_item.image | img_url: '240x' }}" role="img" aria-label="{{ line_item.image.alt | escape }}"></a>
        </td><!-- /.table__image -->
      {%- endif -%}

      <td class="table__content">
        <h5>
          <a href="{{- line_item.url -}}">{{- line_item.product.title -}}</a>
        </h5>

        {%- unless line_item.variant.title contains 'Default' or line_item.product.title contains 'Protection' -%}
          <p>
            {%- for option in line_item.options_with_values -%}
              {%- assign option_name = option.name | handle -%}
              
              {%- if option_name == 'color' or option_name == 'colour' -%}
                {{- option.value -}}
              {%- else -%}
                {{- option.name -}}: <strong>{{- option.value -}}</strong>
              {%- endif -%}

              {%- unless forloop.last -%}
                <br />
              {%- endunless -%}
            {%- endfor -%}
          </p>
        {%- endunless -%}
          {% assign custom = false %}
          {%- if is_cart_layout -%}
              {% assign property_size = line_item.properties | size %}

              {% if property_size > 0 %}
                  <p style="text-transform: none;">
                      {% if line_item.product.metafields.Embroidery.enabled %}
                      {% for p in line_item.properties %}
                      {% assign first_character_in_key = p.first | truncate: 1, '' %}
                      {% unless p.last == blank or first_character_in_key == '_' %}
                          {% if p.first == 'MESSAGE' %}
                              {% assign custom = true %}
                              MESSAGE: {{ p.last }}
                              <br>
                          {% endif %}
                          {% if p.first == 'COLOR' %}
                              COLOR: {{ p.last }}
                              <br>
                          {% endif %}
                          {% if p.first == 'STYLE' %}
                              STYLE: {{ p.last }}
                              <br>
                          {% endif %}
                      {% endunless %}
                      {% endfor %}
                      {% endif %}
                      {% if line_item.product.metafields.embroidery_left_ches.enabled %}
                          <br>
                          {% assign props = line_item.properties | sort_natural %}
                      {% for p in props %}
                          {% assign first_character_in_key = p.first | truncate: 1, '' %}
                          {% unless p.last == blank or first_character_in_key == '_' %}
                              {% if p.first == 'MESSAGE LEFT CHEST' %}
                                  {% assign custom = true %}
                                  MESSAGE LEFT CHEST: {{ p.last }}
                                  <br>
                              {% endif %}
                              {% if p.first == 'COLOR LEFT CHEST' %}
                                  COLOR LEFT CHEST: {{ p.last }}
                                  <br>
                              {% endif %}
                              {% if p.first == 'STYLE LEFT CHEST' %}
                                  STYLE LEFT CHEST: {{ p.last }}
                                  <br>
                              {% endif %}
                          {% endunless %}
                      {% endfor %}
                      {% endif %}
                      {% if line_item.product.metafields.embroidery_right_cuf.enabled %}
                          <br>
                          {% assign props = line_item.properties | sort_natural %}
                      {% for p in props %}
                          {% assign first_character_in_key = p.first | truncate: 1, '' %}
                          {% unless p.last == blank or first_character_in_key == '_' %}
                              {% if p.first == 'MESSAGE RIGHT CUFF' %}
                                  {% assign custom = true %}
                                  MESSAGE RIGHT CUFF: {{ p.last }}
                                  <br>
                              {% endif %}
                              {% if p.first == 'COLOR RIGHT CUFF' %}
                                  COLOR RIGHT CUFF: {{ p.last }}
                                  <br>
                              {% endif %}
                              {% if p.first == 'STYLE RIGHT CUFF' %}
                                  STYLE RIGHT CUFF: {{ p.last }}
                                  <br>
                              {% endif %}
                          {% endunless %}
                      {% endfor %}
                      {% endif %}

                      {% if line_item.product.metafields.embroidery_hat_left.enabled %}
                          <br>
                          {% assign props = line_item.properties | sort_natural %}
                      {% for p in props %}
                          {% assign first_character_in_key = p.first | truncate: 1, '' %}
                          {% unless p.last == blank or first_character_in_key == '_' %}
                              {% if p.first == 'MESSAGE HAT LEFT' %}
                                  {% assign custom = true %}
                                  MESSAGE HAT LEFT: {{ p.last }}
                                  <br>
                              {% endif %}
                              {% if p.first == 'COLOR HAT LEFT' %}
                                  COLOR HAT LEFT: {{ p.last }}
                                  <br>
                              {% endif %}
                              {% if p.first == 'STYLE HAT LEFT' %}
                                  STYLE HAT LEFT: {{ p.last }}
                                  <br>
                              {% endif %}
                          {% endunless %}
                      {% endfor %}
                      {% endif %}

                      {% if line_item.product.metafields.embroidery_hat_right.enabled %}
                          <br>
                          {% assign props = line_item.properties | sort_natural %}
                      {% for p in props %}
                          {% assign first_character_in_key = p.first | truncate: 1, '' %}
                          {% unless p.last == blank or first_character_in_key == '_' %}
                              {% if p.first == 'MESSAGE HAT RIGHT' %}
                                  {% assign custom = true %}
                                  MESSAGE HAT RIGHT: {{ p.last }}
                                  <br>
                              {% endif %}
                              {% if p.first == 'COLOR HAT RIGHT' %}
                                  COLOR HAT RIGHT: {{ p.last }}
                                  <br>
                              {% endif %}
                              {% if p.first == 'STYLE HAT RIGHT' %}
                                  STYLE HAT RIGHT: {{ p.last }}
                                  <br>
                              {% endif %}
                          {% endunless %}
                      {% endfor %}
                      {% endif %}

                      {% if line_item.product.metafields.embroidery_bag.enabled %}
                          <br>
                          {% assign props = line_item.properties | sort_natural %}
                      {% for p in props %}
                          {% assign first_character_in_key = p.first | truncate: 1, '' %}
                          {% unless p.last == blank or first_character_in_key == '_' %}
                              {% if p.first == 'MESSAGE' %}
                                  {% assign custom = true %}
                                  MESSAGE: {{ p.last }}
                                  <br>
                              {% endif %}
                              {% if p.first == 'COLOR' %}
                                  COLOR: {{ p.last }}
                                  <br>
                              {% endif %}
                              {% if p.first == 'STYLE' %}
                                  STYLE: {{ p.last }}
                                  <br>
                              {% endif %}
                          {% endunless %}
                      {% endfor %}
                      {% endif %}
                  </p>
              {% endif %}

              {% include 'cart-items-embroidery' %}

              {% else %}
              {% assign property_size = line_item.properties | size %}

              {% if property_size > 0 %}
                  <p style="clear: both;text-transform: none;">
                  {% if line_item.product.metafields.Embroidery.enabled %}
                  {% for p in line_item.properties %}
                      {% assign first_character_in_key = p.first | truncate: 1, '' %}
                      {% unless p.last == blank or first_character_in_key == '_' %}
                          {% if p.first == 'MESSAGE' %}
                              {% assign custom = true %}
                              MESSAGE: {{ p.last }}
                              <br>
                          {% endif %}
                          {% if p.first == 'COLOR' %}
                              COLOR: {{ p.last }}
                              <br>
                          {% endif %}
                          {% if p.first == 'STYLE' %}
                              STYLE: {{ p.last }}
                              <br>
                          {% endif %}
                      {% endunless %}
                    {% endfor %}
                  {% endif %}
                  {% if line_item.product.metafields.embroidery_left_ches.enabled %}
                      {% assign props = line_item.properties | sort_natural %}
                      <br>
                      {% for p in props %}
                          {% assign first_character_in_key = p.first | truncate: 1, '' %}
                          {% unless p.last == blank or first_character_in_key == '_' %}
                              {% if p.first == 'MESSAGE LEFT CHEST' %}
                                  {% assign custom = true %}
                                  MESSAGE LEFT CHEST: {{ p.last }}
                                  <br>
                              {% endif %}
                              {% if p.first == 'COLOR LEFT CHEST' %}
                                  COLOR LEFT CHEST: {{ p.last }}
                                  <br>
                              {% endif %}
                              {% if p.first == 'STYLE LEFT CHEST' %}
                                  STYLE LEFT CHEST: {{ p.last }}
                                  <br>
                              {% endif %}
                          {% endunless %}
                      {% endfor %}
                      {% endif %}
                      {% if line_item.product.metafields.embroidery_right_cuf.enabled %}
                          {% assign props = line_item.properties | sort_natural %}
                          <br>
                      {% for p in props %}
                          {% assign first_character_in_key = p.first | truncate: 1, '' %}
                          {% unless p.last == blank or first_character_in_key == '_' %}
                              {% if p.first == 'MESSAGE RIGHT CUFF' %}
                                  {% assign custom = true %}
                                  MESSAGE RIGHT CUFF: {{ p.last }}
                                  <br>
                              {% endif %}
                              {% if p.first == 'COLOR RIGHT CUFF' %}
                                  COLOR RIGHT CUFF: {{ p.last }}
                                  <br>
                              {% endif %}
                              {% if p.first == 'STYLE RIGHT CUFF' %}
                                  STYLE RIGHT CUFF: {{ p.last }}
                                  <br>
                              {% endif %}
                          {% endunless %}
                      {% endfor %}
                      {% endif %}

                      {% if line_item.product.metafields.embroidery_hat_left.enabled %}
                          {% assign props = line_item.properties | sort_natural %}
                          <br>
                      {% for p in props %}
                          {% assign first_character_in_key = p.first | truncate: 1, '' %}
                          {% unless p.last == blank or first_character_in_key == '_' %}
                              {% if p.first == 'MESSAGE HAT LEFT' %}
                                  {% assign custom = true %}
                                  MESSAGE HAT LEFT: {{ p.last }}
                                  <br>
                              {% endif %}
                              {% if p.first == 'COLOR HAT LEFT' %}
                                  COLOR HAT LEFT: {{ p.last }}
                                  <br>
                              {% endif %}
                              {% if p.first == 'STYLE HAT LEFT' %}
                                  STYLE HAT LEFT: {{ p.last }}
                                  <br>
                              {% endif %}
                          {% endunless %}
                      {% endfor %}
                      {% endif %}

                      {% if line_item.product.metafields.embroidery_hat_right.enabled %}
                          {% assign props = line_item.properties | sort_natural %}
                          <br>
                      {% for p in props %}
                          {% assign first_character_in_key = p.first | truncate: 1, '' %}
                          {% unless p.last == blank or first_character_in_key == '_' %}
                              {% if p.first == 'MESSAGE HAT RIGHT' %}
                                  {% assign custom = true %}
                                  MESSAGE HAT RIGHT: {{ p.last }}
                                  <br>
                              {% endif %}
                              {% if p.first == 'COLOR HAT RIGHT' %}
                                  COLOR HAT RIGHT: {{ p.last }}
                                  <br>
                              {% endif %}
                              {% if p.first == 'STYLE HAT RIGHT' %}
                                  STYLE HAT RIGHT: {{ p.last }}
                                  <br>
                              {% endif %}
                          {% endunless %}
                      {% endfor %}
                      {% endif %}
                      
                      {% if line_item.product.metafields.embroidery_bag.enabled %}
                          {% assign props = line_item.properties | sort_natural %}
                          <br>
                      {% for p in props %}
                          {% assign first_character_in_key = p.first | truncate: 1, '' %}
                          {% unless p.last == blank or first_character_in_key == '_' %}
                              {% if p.first == 'MESSAGE' %}
                                  {% assign custom = true %}
                                  MESSAGE: {{ p.last }}
                                  <br>
                              {% endif %}
                              {% if p.first == 'COLOR' %}
                                  COLOR: {{ p.last }}
                                  <br>
                              {% endif %}
                              {% if p.first == 'STYLE' %}
                                  STYLE: {{ p.last }}
                                  <br>
                              {% endif %}
                          {% endunless %}
                      {% endfor %}
                      {% endif %}
                 </p>
                  <div style="float: none;clear: both;"></div>
              {% endif %}

              {% include 'cart-items-embroidery' %}

            {% endif %}

          {%- unless is_cart_layout -%}
          <div class="table__quantity">
            <div class="quantity">
              {% unless line_item.product.title contains 'Protection' %}

              {%- unless line_item.product.tags contains 'embroidery' -%}
                <a
                    href="#quantity-{{- line_item.key -}}"
                    class="js-quantity js-quantity-decrease cart-qty"
                    data-line-item-key="{{ line_item.key }}"
                    {% if embroidery_enabled %}data-embroidery="true"{% endif %}
                  {% if line_item_is_embroidery %}style="visibility: hidden;"{% endif %}
                >
                  {%- include 'icons', icon: 'minus' -%}
                </a>
              {% endunless %}
              <input
                  type="number"
                  name="updates[]"
                  id="quantity-{{- line_item.key -}}"
                  {%- if settings.cart_type == 'drawer' -%}
                    class="js-quantity"
                    data-variant-id="{{- line_item.id -}}"
                    data-line-item-key="{{ line_item.key }}"
                  {%- endif -%}
                  value="{{- line_item.quantity -}}"
                {% if embroidery_enabled %}data-embroidery{% endif %}
                  min="1"
                  max="{{- line_item.variant.inventory_quantity -}}" 
                  {%- if line_item.product.tags contains 'embroidery' or line_item_is_embroidery -%}readonly{% endif %}
              >
              {%- unless line_item.product.tags contains 'embroidery' -%}

                <a
                    href="#quantity-{{- line_item.key -}}"
                    class="js-quantity js-quantity-increase cart-qty"
                    data-line-item-key="{{ line_item.key }}"
                    {% if embroidery_enabled %}data-embroidery="true"{% endif %}
                  {% if line_item_is_embroidery %}style="visibility: hidden;"{% endif %}
                >
                  {%- include 'icons', icon: 'plus' -%}
                </a>
              {% endunless %}
              {% endunless %}
            </div><!-- /.quantity -->
          </div><!-- /.table__quantity -->

        <div class="table__price">
          <span>{{- line_item.final_line_price | money_without_trailing_zeros -}}</span><!-- /.price -->
        </div><!-- /.table__price -->
        {%- endunless -%}
      </td><!-- /.table__content -->

      {%- if is_cart_layout -%}
        <td class="table__quantity">
          <div class="quantity">
        {% unless line_item.product.title contains 'Protection' %}
              {%- unless line_item.product.tags contains 'embroidery' -%}
            <a
              href="#quantity-{{- line_item.key -}}"
              class="js-quantity js-quantity-decrease cart-qty"
              data-line-item-key="{{ line_item.key}}"
              {% if embroidery_enabled %}data-embroidery="true"{% endif %}
                {% if line_item_is_embroidery %}style="visibility: hidden;"{% endif %}
            >
              {%- include 'icons', icon: 'minus' -%}
            </a>
            {% endunless %}
            <input
              type="number"
              name="updates[]"
              id="quantity-{{- line_item.key -}}"
              {%- if settings.cart_type == 'drawer' -%}
                class="js-quantity"
                data-variant-id="{{- line_item.id -}}"
                data-line-item-key="{{ line_item.key}}"
              {%- endif -%}
              value="{{- line_item.quantity -}}"
                {% if embroidery_enabled %}data-embroidery{% endif %}
              min="1"
              max="{{- line_item.variant.inventory_quantity -}}"
                {%- if line_item.product.tags contains 'embroidery' or line_item_is_embroidery -%}readonly{% endif %}
            >
          {%- unless line_item.product.tags contains 'embroidery' -%}
            <a
              href="#quantity-{{- line_item.key -}}"
              class="js-quantity js-quantity-increase cart-qty"
              data-line-item-key="{{ line_item.key}}"
              {% if embroidery_enabled %}data-embroidery="true"{% endif %}
                {% if line_item_is_embroidery %}style="visibility: hidden;"{% endif %}
            >
              {%- include 'icons', icon: 'plus' -%}
            </a>
            {% endunless %}
          {% endunless %}
          </div><!-- /.quantity -->
        </td><!-- /.table__quantity -->
      {%- endif -%}

      <td class="table__remove">
        {%- unless line_item.product.tags contains 'embroidery' or line_item_is_embroidery -%}
          {%- if settings.cart_type == 'drawer' -%}
            <a
              href="{{- line_item.key -}}"
              class="btn-remove js-remove"
              {% if embroidery_enabled %}data-embroidery="true"{% endif %}
            >
            {%- include 'icons', icon: 'plus' -%}
            {{- 'cart.general.remove' | t -}}
            </a>
          {%- else -%}
            <a
              href="/cart/change?line={{- forloop.index -}}&amp;quantity=0"
              class="btn-remove"
              {% if embroidery_enabled %}data-embroidery="true"{% endif %}
            >
            {%- include 'icons', icon: 'plus' -%}
            {{- 'cart.general.remove' | t -}}
            </a>
          {%- endif -%}
        {% endunless %}
      </td><!-- /.table__remove -->

      {%- if is_cart_layout -%}
        <td class="table__price">
          <span>{{- line_item.final_line_price | money_without_trailing_zeros -}}</span><!-- /.price -->
        </td><!-- /.table__price -->
      {%- endif -%}
    </tr><!-- /.table__product -->
  {%- endfor -%}
</table>
