<div class="collection-items__item" id="{{- id -}}">
  {%- if item_image -%}
    <div class="collection-items__image-wrapper">
      {%- if item_url != blank -%}
        <a
          href="{{- item_url -}}"
          class="collection-items__image lazyload{% if item_image_mobile %} hidden-xs{% endif %}"
          data-bg="{{- item_image | img_url: '1024x' -}}"
          role="img"
          aria-label="{{ item_image.alt | escape }}"
        ></a>

        {% if item_image_mobile %}
          <a
            href="{{- item_url -}}"
            class="collection-items__image lazyload visible-xs-block"
            data-bg="{{- item_image_mobile | img_url: '700x' -}}"
            role="img"
            aria-label="{{ item_image_mobile.alt | escape }}"
          ></a>
        {% endif %}
      {%- else -%}
        <span
          class="collection-items__image lazyload{% if item_image_mobile %} hidden-xs{% endif %}"
          data-bg="{{- item_image | img_url: '1024x' -}}"
          role="img"
          aria-label="{{ item_image.alt | escape }}"
        ></span>

        {% if item_image_mobile %}
          <span
            class="collection-items__image lazyload visible-xs-block"
            data-bg="{{- item_image_mobile | img_url: '700x' -}}"
            role="img"
            aria-label="{{ item_image_mobile.alt | escape }}"
          ></span>
        {% endif %}
      {%- endif -%}
    </div><!-- /.collection-items__image-wrapper -->
  {%- endif -%}

  <h4 {% if item_title_mobile %} class="hidden-xs"{% endif %}>
    {%- if item_url != blank -%}
      <a href="{{- item_url -}}">{{- item_title -}}</a>
    {%- else -%}
      {{- item_title -}}
    {%- endif -%}
  </h4>

  {%- if item_title_mobile != blank -%}
    <h4 class="visible-xs-block">
      {%- if item_url != blank -%}
        <a href="{{- item_url -}}">{{- item_title_mobile -}}</a>
      {%- else -%}
        {{- item_title_mobile -}}
      {%- endif -%}
    </h4>
  {%- endif -%}
</div><!-- /.collection-items__item -->
