<ul>
  {%- for _link in linklists[nav].links -%}
    <li class="nav__item{% if _link.active %} nav__item--active{% endif %}{% if _link.links.size > 0 or _link.type == 'collection_link' and _link.title contains '--' %} nav__item--has-dropdown{% endif %}">
      <a href="{{- _link.url -}}"{% if _link.links.size > 0 or _link.type == 'collection_link' and _link.title contains '--' %} class="js-link-has-dropdown"{% endif %}>{{- _link.title | split: '--' | last -}}</a>

      {%- if _link.title contains '--' and _link.type == 'collection_link' -%}
        <div class="nav__dropdown nav__dropdown--alt js-nav-dropdown">
          {%- if _link.links.size > 0 -%}
            <div class="nav__dropdown-sidebar">
              <ul>
                <li class="nav__dropdown__back visible-xs-block visible-sm-block">
                  <a href="#" class="js-nav-dropdown-back">
                    {{- 'megamenu.back' | t -}}
                  </a>
                </li>

                {%- for _sublink in _link.links -%}
                  <li>
                    <a href="{{- _sublink.url -}}">{{- _sublink.title -}}</a>
                  </li>

                  {%- if _sublink.links.size > 0 -%}
                    <ul class="nav__dropdown">
                      {%- for _sublink_link in _sublink.links -%}
                        <li>
                          <a href="{{- _sublink_link.url -}}">{{- _sublink_link.title -}}</a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                {%- endfor -%}
              </ul>
            </div><!-- /.nav__dropdown-sidebar -->
          {%- endif -%}

          {%- if _link.type == 'collection_link' -%}
            {%- assign _collection = _link.object -%}

            {%- if _collection.all_products_count > 0 -%}
              {%- capture dropdown_collection_products_html -%}
                <div class="nav__dropdown-content">
                  <h5>{{- _collection.title -}}</h5>

                  <div class="nav__dropdown-content__body slider-megamenu-products js-megamenu-products-slider">
                    {%- for _product in _collection.products limit: 5 -%}
                      {%- include 'product-tile', _product: _product -%}
                    {%- endfor -%}
                  </div><!-- /.nav__dropdown-content__body -->

                  <div class="nav__dropdown-content__actions">
                    <a href="{{- _collection.url -}}" class="btn">
                      {{- 'megamenu.view_all_products' | t: collection_name: _collection.title -}}
                    </a>
                  </div><!-- /.nav__dropdown-content__actions -->
                </div><!-- /.nav__dropdown-content -->
              {%- endcapture -%}

              {{- dropdown_collection_products_html -}}
            {%- endif -%}
          {%- endif -%}
        </div><!-- /.nav__dropdown nav__dropdown-/-alt -->
      {%- else -%}
        {%- if _link.links.size > 0 -%}
          <ul class="nav__dropdown js-nav-dropdown">
            <li class="nav__dropdown__back visible-xs-block visible-sm-block">
              <a href="#" class="js-nav-dropdown-back">
                {{- 'megamenu.back' | t -}}
              </a>
            </li>
            
            {%- for _sublink in _link.links -%}
              <li class="nav__item{% if _sublink.links.size > 0 %} nav__item--has-dropdown{% endif %}">
                <a href="{{- _sublink.url -}}"{% if _sublink.links.size > 0 %} class="js-link-has-dropdown"{% endif %}>{{- _sublink.title -}}</a>

                {%- if _sublink.links.size > 0 -%}
                  <ul class="nav__dropdown">
                    {%- for _sublink_link in _sublink.links -%}
                      <li class="nav__item">
                        {%- if _sublink_link.title contains '[new]' -%}
                          <a href="{{ _sublink_link.url }}">
                            {{ _sublink_link.title | split: '[new]' | first }}

                            <span class="nav__item-label">{{- _sublink_link.title | split: '[' | last | split: ']' | first -}}</span>
                          </a>
                        {%- else -%}
                          <a href="{{ _sublink_link.url }}">
                            {{- _sublink_link.title -}}
                          </a>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              </li>
            {%- endfor -%}

            {%- if _blocks.size > 0 -%}
              {%- assign counter = 1 -%}
              {%- for block in _blocks -%}
                {%- assign _block = block.settings -%}

                {%- if
                  _block.link_title == _link.title and
                  _block.image != blank and
                  _block.hyperlink != blank and 
                  counter < 3
                -%}
                  <li class="nav__item nav__item-block hidden-xs hidden-sm">
                    <a href="{{- _block.hyperlink -}}">
                      {%- include 'lazyload-image' _image: _block.image, background: true, background_parameters: '320x', additional_classes: 'nav__item-block__image' -%}

                      {%- if _block.title != blank -%}
                        <h6 class="h6-small">{{- _block.title -}}</h6>
                      {%- endif -%}
                    </a>
                  </li>

                  {%- assign counter = counter | plus: 1 -%}
                {%- endif -%}
              {%- endfor -%}
            {%- endif -%}
          </ul>
        {%- endif -%}
      {%- endif -%}
    </li>
  {%- endfor -%}
</ul>

<ul class="visible-xs-block visible-sm-block">
  {%- if shop.customer_accounts_enabled -%}
    <li>
      <a href="{%- if customer -%}{{- routes.account_url -}}{%- else -%}{{- routes.account_login_url -}}{%- endif -%}">
        {%- if customer -%}
          {{- 'layout.customer.account' | t -}}
        {%- else -%}
          {{- 'layout.customer.log_in' | t -}}
        {%- endif -%}
      </a>
    </li>
  {%- endif -%}

  <li>
    <a href="/pages/contact-us">{{- 'layout.customer.contact' | t -}}</a>
  </li>
</ul>
