<div class="popup-embroidery-container" id="popup-embroidery-sweatshirt">
    <div class="popup-container-inner">
        <div class="popup-embroidery">
            <a href="#popup-embroidery-sweatshirt" class="js-close-embroidery-popup active" data-js-embroidery-sweatshirt-popup-close>×</a>
            <h3>{{ line_item.product.title }}</h3>
            <div data-js-embroidery-left-chest>
                <div class="c-embroidery-popup__preview-container">
                    {% if line_item.product.metafields.embroidery_left_ches.image %}
                        <img
                                class="c-engraving__image"
                                src="{{ line_item.product.metafields.embroidery_left_ches.image[0].src }}"
                                alt="{{ line_item.product.title }} — embroidery area"
                        />
                    {% endif %}

                    <div class="c-embroidery-popup__preview" data-js-embroidery-left-chest-preview>
                        <div class="c-embroidery-font__preview--font-circular">
                            <div class="c-embroidery__preview_text"></div>
                        </div>
                    </div>
                </div>
                <div class="c-embroidery__form">
                    <h4>MONOGRAM THE LEFT CHEST ($10)</h4>
                    <div class="custom-text">
                        <div class="title">1. ADD TEXT:</div>
                        <label for="customTextLeftPopup">
                            <input id="customTextLeftPopup" type="text" minlength="{{ line_item.product.metafields.embroidery_left_ches.min_characters | default: 1 }}" maxlength="{{ line_item.product.metafields.embroidery_left_ches.characters | default: 3 }}" name="properties[custom_left_chest_text]" required>
                        </label>
                        <small>({{ line_item.product.metafields.embroidery_left_ches.characters | default: 3 }} characters - NO SPECIAL CHARACTERS)</small>
                    </div>
                    <div class="custom-color">
                        <div class="title">2. CHOOSE COLOR:</div>
                        <div class="custom-color-selector">
                            {% for color in line_item.product.metafields.embroidery_left_ches.colors %}
                                {% assign color_name = line_item.product.metafields.embroidery_left_ches.color_names[forloop.index0] | upcase %}
                                <input id="customColorLeftPopup{{ forloop.index }}" type="radio" value="{{ color_name }}" name="properties[custom_left_chest_color]" {% if forloop.first == true %}checked{% endif %} data-color="{{ color }}">
                                <label for="customColorLeftPopup{{ forloop.index }}">
                                    <div class="white" style="background: {{ color }};"></div>
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="custom-style">
                        <div class="title">3. CHOOSE STYLE:</div>
                        <div class="custom-style-selector">
                            <input id="customStyleLeftWhitePopup" type="radio" value="BLOCK" name="properties[custom_left_chest_style]" data-font="c-embroidery-font__preview--font-circular" checked>
                            <label for="customStyleLeftWhitePopup">
                                <div class="white c-embroidery-font__preview--font-circular">BLOCK</div>
                            </label>
                            <input id="customStyleLeftBluePopup" type="radio" value="SCRIPT" name="properties[custom_left_chest_style]" data-font="c-embroidery-font__preview--font-shell">
                            <label for="customStyleLeftBluePopup">
                                <div class="blue c-embroidery-font__preview--font-shell">SCRIPT</div>
                            </label>
                            <input id="customStyleLeftBlackPopup" type="radio" value="MONOGRAM" name="properties[custom_left_chest_style]" data-font="c-embroidery-font__preview--font-shell">
                            <label for="customStyleLeftBlackPopup">
                                <div class="black c-embroidery-font__preview--font-shell"><span class="normal-txt">MONOGRAM</span><br><span class="script">SCRIPT</span></div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div data-js-embroidery-right-cuff>
                <div class="c-embroidery-popup__preview-container">
                    {% if line_item.product.metafields.embroidery_right_cuf.image %}
                        <img
                                class="c-engraving__image"
                                src="{{ line_item.product.metafields.embroidery_right_cuf.image[0].src }}"
                                alt="{{ line_item.product.title }} — embroidery area"
                        />
                    {% endif %}

                    <div class="c-embroidery-popup__preview" data-js-embroidery-right-cuff-preview>
                        <div class="c-embroidery-font__preview--font-circular">
                            <div class="c-embroidery__preview_text"></div>
                        </div>
                    </div>
                </div>
                <div class="c-embroidery__form">
                    <h4>MONOGRAM THE RIGHT CUFF ($10)</h4>
                    <div class="custom-text">
                        <div class="title">1. ADD TEXT:</div>
                        <label for="customTextRightPopup">
                            <input id="customTextRightPopup" type="text" minlength="{{ line_item.product.metafields.embroidery_right_cuf.min_characters | default: 1 }}" maxlength="{{ line_item.product.metafields.embroidery_right_cuf.characters | default: 3 }}" name="properties[custom_right_cuff_text]" required>
                        </label>
                        <small>({{ line_item.product.metafields.embroidery_right_cuf.characters | default: 3 }} characters - NO SPECIAL CHARACTERS)</small>
                    </div>
                    <div class="custom-color">
                        <div class="title">2. CHOOSE COLOR:</div>
                        <div class="custom-color-selector">
                            {% for color in line_item.product.metafields.embroidery_right_cuf.colors %}
                                {% assign color_name = line_item.product.metafields.embroidery_right_cuf.color_names[forloop.index0] | upcase %}
                                <input id="customColorRightPopup{{ forloop.index }}" type="radio" value="{{ color_name }}" name="properties[custom_right_cuff_color]" {% if forloop.first == true %}checked{% endif %} data-color="{{ color }}">
                                <label for="customColorRightPopup{{ forloop.index }}">
                                    <div class="white" style="background: {{ color }};"></div>
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="custom-style">
                        <div class="title">3. CHOOSE STYLE:</div>
                        <div class="custom-style-selector">
                            <input id="customStyleRightWhitePopup" type="radio" value="BLOCK" name="properties[custom_right_cuff_style]" data-font="c-embroidery-font__preview--font-circular" checked>
                            <label for="customStyleRightWhitePopup">
                                <div class="white c-embroidery-font__preview--font-circular">BLOCK</div>
                            </label>
                            <input id="customStyleRightBluePopup" type="radio" value="SCRIPT" name="properties[custom_right_cuff_style]" data-font="c-embroidery-font__preview--font-shell">
                            <label for="customStyleRightBluePopup">
                                <div class="blue c-embroidery-font__preview--font-shell">SCRIPT</div>
                            </label>
                            <input id="customStyleRightBlackPopup" type="radio" value="MONOGRAM" name="properties[custom_right_cuff_style]" data-font="c-embroidery-font__preview--font-shell">
                            <label for="customStyleRightBlackPopup">
                                <div class="black c-embroidery-font__preview--font-shell"><span class="normal-txt">MONOGRAM</span><br><span class="script">SCRIPT</span></div>
                            </label>
                        </div>
                    </div>
                    <button type="button" name="custom-add" class="custom-add-btn" data-id="{{ line_item_number }}">Save</button>
                </div>
            </div>
        </div><!-- /.popup -->
    </div><!-- /.popup-container-inner -->
</div><!-- /.popup-container -->
