<div class="popup-embroidery-container" id="popup-embroidery-hat-right">
  <div class="popup-container-inner">
      <div class="popup-embroidery">
          <a href="#popup-embroidery-hat-right" class="js-close-embroidery-popup active" data-js-embroidery-hat-right-popup-close>×</a>
          <h3>{{ line_item.product.title }}</h3>
          <div class="c-embroidery-popup__preview-container">
              {% if line_item.product.metafields.embroidery_hat_right.image %}
                  <img
                          class="c-engraving__image"
                          src="{{ line_item.product.metafields.embroidery_hat_right.image[0].src }}"
                          alt="{{ line_item.product.title }} — embroidery area"
                  />
              {% endif %}

              <div class="c-embroidery-popup__preview" data-js-embroidery-hat-right-preview>
                  <div class="c-embroidery-font__preview--font-circular">
                      <div class="c-embroidery__preview_text"></div>
                  </div>
              </div>
          </div>
          <div class="c-embroidery__form">
              <div class="custom-text">
                  <div class="title">1. ADD TEXT:</div>
                  <label for="customTextPopup">
                      <input id="customTextPopup" type="text" minlength="{{ line_item.product.metafields.embroidery_hat_right.min_characters | default: 1 }}" maxlength="{{ line_item.product.metafields.embroidery_hat_right.characters | default: 3 }}" name="properties[custom_text]" required>
                  </label>
                  <small>({{ line_item.product.metafields.embroidery_hat_right.characters | default: 3 }} characters - NO SPECIAL CHARACTERS)</small>
              </div>
              <div class="custom-color">
                  <div class="title">2. CHOOSE COLOR:</div>
                  <div class="custom-color-selector">
                      {% for color in line_item.product.metafields.embroidery_hat_right.colors %}
                          {% assign color_name = line_item.product.metafields.embroidery_hat_right.color_names[forloop.index0] | upcase %}
                          <input id="customHatColorRightPopup{{ forloop.index }}" type="radio" value="{{ color_name }}" name="properties[custom_color]" {% if forloop.first == true %}checked{% endif %} data-color="{{ color }}">
                          <label for="customHatColorRightPopup{{ forloop.index }}">
                              <div class="white" style="background: {{ color }};"></div>
                          </label>
                      {% endfor %}
                  </div>
              </div>
              <div class="custom-style">
                  <div class="title">3. CHOOSE STYLE:</div>
                  <div class="custom-style-selector">
                      <input id="customStyleWhitePopup" type="radio" value="BLOCK" name="properties[custom_style]" data-font="c-embroidery-font__preview--font-circular" checked>
                      <label for="customStyleWhitePopup">
                          <div class="white c-embroidery-font__preview--font-circular">BLOCK</div>
                      </label>
                      <input id="customStyleBluePopup" type="radio" value="SCRIPT" name="properties[custom_style]" data-font="c-embroidery-font__preview--font-shell">
                      <label for="customStyleBluePopup">
                          <div class="blue c-embroidery-font__preview--font-shell">SCRIPT</div>
                      </label>
                      <input id="customStyleBlackPopup" type="radio" value="MONOGRAM" name="properties[custom_style]" data-font="c-embroidery-font__preview--font-shell">
                      <label for="customStyleBlackPopup">
                          <div class="black c-embroidery-font__preview--font-shell"><span class="normal-txt">MONOGRAM</span><br><span class="script">SCRIPT</span></div>
                      </label>
                  </div>
              </div>

              <button type="button" name="custom-add" class="custom-add-btn" data-id="{{ line_item_number }}">Save</button>
          </div>
      </div><!-- /.popup -->
  </div><!-- /.popup-container-inner -->
</div><!-- /.popup-container -->
