{%- assign product_sizes_class = class | default: 'list-sizes' -%}

{% assign _product = product | default: _product %}

{%- assign hasNoBackInStockTag = false -%}

{%- for tag in _product.tags -%}
  {%- if tag contains 'no_back_in_stock' -%}
    {%- assign hasNoBackInStockTag = true -%}
  {%- endif -%}
{%- endfor -%}


{% comment %}UNIVERSE AWAITS FRENCH TERRY TOP{% endcomment %}

<ol class="{{- product_sizes_class -}}" data-tags="{{ _product.tags }}">
  {%- for value in product_option.values -%}

    {%- assign variant_label_state = true -%}

    {%- unless _product.variants[forloop.index0].available -%}
    {%- assign variant_label_state = false -%}
    {%- endunless -%}

    {% assign variant_available = false %}
    {% assign variant_quantity = 0 %}

    {% if _product.variants != nil %}
      {% if _product.variants[forloop.index0].available %}
        {% assign variant_available = true %}
        {% assign variant_quantity = _product.variants[forloop.index0].inventory_quantity %}
      {% endif %}
    {% else %}
      {% if _product.available %}
        {% assign variant_available = true %}
      {% endif %}
    {% endif %}

    {%- assign hide_variant = false -%}

    {%- if hasNoBackInStockTag and variant_available == false -%}
      {%- assign hide_variant = true -%}
    {%- endif -%}


    {%- if is_pdp -%}
      {%- unless hide_variant -%}
        <li {{ forloop.index }}>
         <input
            class="js-product-option js-product-option-size{% if has_quick_add %} js-product-option-quick-add{% endif %}{% if allow_disabled %} js-allow-disabled{% endif %}"
            data-option-position="{{- product_option.position -}}"
            id="product-{{- _product.id -}}-size-{{- value | handle -}}"
            name="product-sizes-{{- _product.id -}}"
            type="radio"
            data-available={{ variant_available }}
            value="{{- value | handle -}}"
            data-value="{{- value -}}"
            {% if _product.options[size_option_index] == value and default_checked %}
              checked
            {% endif %}
            data-variants="{{ product.variants.size }}"
            {%- if product.variants.size == 1 and product.available -%}
              checked
            {%- endif -%}
            {% comment %}{% unless variant_label_state %} disabled="disabled"{% endunless %}{% endcomment %}
            {% unless variant_available %} disabled="disabled"{% endunless %}
          >
         <label onclick="addcartmob({{forloop.index0}})" for="product-{{- _product.id -}}-size-{{- value | handle -}}">{{- value -}}</label>
          {% assign check_low_stock = section.settings.set_qty | plus:0 %}
          {% if variant_available %}
            <span>{% if variant_quantity < check_low_stock %}{% if variant_quantity == 1 %}{{ section.settings.set_last_one_txt }}{% else %}Low Stock{% endif %}{% endif %}</span>
         {% endif %}
        </li>
      {%- endunless -%}
    {%- else -%}
      {%- unless hide_variant -%}
        <li data-bis="hide_bis: {{ hide_bis }}">
          <input
            class="js-product-option js-product-option-size{% if has_quick_add %} js-product-option-quick-add{% endif %}{% if allow_disabled %} js-allow-disabled{% endif %}"
            data-option-position="{{- product_option.position -}}"
            id="product-{{- _product.id -}}-size-{{- value | handle -}}"
            name="product-sizes-{{- _product.id -}}"
            type="radio"
            value="{{- value | handle -}}"
            data-value="{{- value -}}"
            {% if _product.options[size_option_index] == value and default_checked %}
              checked
            {% endif %}
            data-variants="{{ _product.variants.size }}"
            {%- if _product.variants.size == 1 and _product.available -%}
              checked
            {%- endif -%}
            {% unless variant_available %} disabled="disabled"{% endunless %}
            data-available="{{ variant_available }}"
          >

          {%- if variant_available -%}
              <label {% unless is_pdp %}onclick="addcartmob({{_product.id}})"{% endunless %}  for="product-{{- _product.id -}}-size-{{- value | handle -}}">{{- value -}}</label>
          {%- else -%}
            {%- if hide_bis -%}
              <label {% unless is_pdp %}onclick="addcartmob({{_product.id}})"{% endunless %}  for="product-{{- _product.id -}}-size-{{- value | handle -}}">{{- value -}}</label>
            {%- else -%}
              <label class="show-notify-label">
                {{- value -}}
                <a class="btn btn--block form__btn js-click js-bis" href="#popup-back-in-stock-{{ new_id }}"></a>
              </label>
            {%- endif -%}
          {%- endif -%}
        </li>
      {%- endunless -%}
    {%- endif -%}
  {%- endfor -%}
</ol><!-- /.list-sizes -->
