{%- assign products_has_badges = false -%}
{%- assign badges_class = '' -%}

{%- assign products_show_swatches = settings.show_swatches -%}
{%- assign products_show_swatches_on_hover = settings.show_swatches_on_hover -%}

{%- assign products_show_vendor = settings.show_vendor -%}

{%- assign products_title_price_align = settings.product_title_price_align -%}
{%- assign products_product_info_align = settings.product_info_align -%}
{%- assign products_product_info_spacing = settings.product_info_spacing -%}
{%- assign products_product_image_size = settings.product_image_size -%}

{%- assign products_swap_image_on_hover = settings.show_secondary_image_on_hover -%}
{%- assign products_no_hover = settings.no_hover-%}

{%- assign products_enable_quick_add = settings.enable_quick_add -%}

{%- assign video_url = current_product.metafields.media.video | default: '' -%}

{%- assign pre_order = false -%}

{%- if current_product.tags contains 'pre-order' -%}
  {%- assign pre_order = true -%}
{%- endif -%}

{%- if settings.show_badges -%}
  {%- assign products_has_badges = true -%}

  {%- case settings.badges_position -%}
    {%- when 'top-left' -%}
    {%- assign badges_class = 'product__badges--top-left' -%}
    {%- when 'top-right' -%}
    {%- assign badges_class = 'product__badges--top-right' -%}
    {%- when 'bottom-left' -%}
    {%- assign badges_class = 'product__badges--bottom-left' -%}
    {%- when 'bottom-right' -%}
    {%- assign badges_class = 'product__badges--bottom-right' -%}
  {%- endcase -%}
{%- endif -%}

<div
  data-match-height="rowHeight"
  data-bistarget="#popup-back-in-stock-{{ current_product.id }}"
  class="product-item {{ additional_classes }}{% unless current_product.available %} product-item--sold-out{% endunless %} js-product">
  {%- assign product_image_size_original = false -%}

  {%- case products_product_image_size -%}
    {%- when 'short' -%}
    {%- assign product_media_class = 'product__media--short' -%}
    {%- when 'square' -%}
    {%- assign product_media_class = 'product__media--square' -%}
    {%- when 'original' -%}
    {%- assign product_media_class = 'product__media--original' -%}
    {%- assign product_image_size_original = true -%}
  {%- endcase -%}

  <div
  data-match-height="imageHeight"
  class="product__media{% if products_swap_image_on_hover %} {% if  products_no_hover == true and video_url != '' %}product__media--swap-on-hover {%elsif video_url == '' %}product__media--swap-on-hover {% endif %} {% endif %} {{ product_media_class }}">
    {%- if current_product.images.size > 0 -%}
      {%- if show_video and video_url != '' -%}
        <a href="{{- current_product.url | within: collection -}}" class="product__video">
          {%- assign video_html = '' -%}

          {%- if video_url contains 'vimeo' -%}
            {%- assign video_id = video_url | split: 'https://vimeo.com/' | last -%}
            {%- assign video_html = '<iframe class="lazyload" data-src="https://player.vimeo.com/video/' | append: video_id | append: '?background=1&muted=1&controls=0&autoplay=1&loop=1&autopause=0&quality=1080p" frameborder="0" allowfullscreen></iframe>' -%}
          {%- endif -%}

          {%- if video_url contains 'youtube' -%}
            {%- assign video_id = video_url | split: 'https://www.youtube.com/watch?v=' | last -%}
            {%- assign video_html = '<iframe class="lazyload" data-src="https://www.youtube.com/embed/' | append: video_id | append: '?controls=0&autoplay=1&disablekb=1&fs=0&loop=1&playsinline=1&mute=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>' -%}
          {%- endif -%}

          {{- video_html -}}
        </a>
      {%- endif -%}

      {%- if product_image_size_original -%}
        <a href="{{- current_product.url | within: collection -}}" class="product__link {% if current_product.images.size > 1 %} product__image-primary{% endif %}">
          <img class="lazyload" data-src="{{- current_product.images[0] | img_url: '1024x' -}}" alt="{{- current_product.images[0].alt | escape -}}" />
        </a>
    	{% if current_product.images.size > 1 and products_swap_image_on_hover %}
    	<a href="{{- current_product.url | within: collection -}}" class="product__image  product__link product__image-secondary ">
          <img class="lazyload" data-src="{{- current_product.images[1] | img_url: '1024x' -}}" alt="{{- current_product.images[0].alt | escape -}}" />
        </a>
        {% endif %}
      {%- else -%}
        {%- assign variant_color_name = '' -%}

        {%- for image in current_product.images -%}
          {%- if forloop.first -%}
      			<a
      				href="{{- current_product.url | within: collection -}}"
      				class="product__image{% if current_product.images.size > 1 %} product__image-primary{% endif %} js-product-image lazyload"
      				data-bg="{{- image.src | img_url: '600x' -}}"
      				role="img"
              aria-label="{{- image.alt | split: '||' | first | escape -}}"
              style="background-image:url({{- image.src | img_url: '600x' -}});"
      			></a>
          {%- elsif forloop.index == 2 and products_swap_image_on_hover -%}
            {% if products_no_hover == true and video_url != '' %}
              <a
                href="{{- current_product.url | within: collection -}}"
                class="product__image product__image-secondary lazyload"
                data-bg="{{- image.src | img_url: '600x' -}}"
                role="img"
                aria-label="{{- image.alt | split: '||' | first | escape -}}"
                style="background-image:url({{- image.src | img_url: '600x' -}});"
              ></a>
            {%elsif video_url == '' %}
              <a
                href="{{- current_product.url | within: collection -}}"
                class="product__image product__image-secondary lazyload"
                data-bg="{{- image.src | img_url: '600x' -}}"
                role="img"
                aria-label="{{- image.alt | split: '||' | first | escape -}}"
                style="background-image:url({{- image.src | img_url: '600x' -}});"
              ></a>
            {% endif %}
          {%- elsif image.alt contains '||color:' -%}
            {%- assign current_variant_color_name = image.alt | split: '||color:' | last | handle -%}

            {%- if current_variant_color_name != variant_color_name -%}
              <a
                href="{{- current_product.url | within: collection -}}"
                class="product__image product__image-swatch lazyload js-swatch-product-image"
                data-bg="{{- image.src | img_url: '600x' -}}"
                data-color="{{- image.alt | split: '||color:' | last | handle -}}"
                role="img"
                aria-label="{{- image.alt | split: '||' | first | escape -}}"
              ></a>
            {%- endif -%}

            {%- assign variant_color_name = current_variant_color_name -%}
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}
      {%- else -%}
      <a class="product__image" href="{{- current_product.url | within: collection -}}">
        {{- 'image' | placeholder_svg_tag -}}
      </a>
      {%- endif -%}

    {%- if products_has_badges -%}
      {%- include 'badges', _product: current_product, class: badges_class -%}
    {%- endif -%}
	</div><!-- /.product__media -->

  {%- case products_product_info_align -%}
    {%- when 'right' -%}
    {%- assign product_content_align_class = 'product__content--right' -%}
    {%- when 'center' -%}
    {%- assign product_content_align_class = 'product__content--center' -%}
  {%- endcase -%}

  {%- case products_product_info_spacing -%}
    {%- when 'small' -%}
    {%- assign product_content_spacing_class = 'product__content--spacing-small' -%}
    {%- when 'large' -%}
    {%- assign product_content_spacing_class = 'product__content--spacing-large' -%}
    {%- when 'extra_large' -%}
    {%- assign product_content_spacing_class = 'product__content--spacing-extra-large' -%}
  {%- endcase -%}

  <div class="product__content {{ product_content_align_class }} {{ product_content_spacing_class }}">
    <div class="product__meta" data-match-height="infoHeight">
      <div class="product__meta-row{% if products_title_price_align == 'stacked' %} product__meta-row--block{% endif %}">
        <h4 class="hidden-xs">
          <a href="{{- current_product.url | within: collection -}}">{{- current_product.title -}}</a>
        </h4>
        <h4 class="visible-xs">
          <a href="{{- current_product.url | within: collection -}}">{{- current_product.title | truncate: 30 -}}</a>
        </h4>
      </div><!-- /.product__meta-row -->

      {%- if products_show_vendor -%}
      <div class="product__meta-row product__meta-row--block">
        <p>{{- current_product.vendor -}}</p>
      </div><!-- /.product__meta-row -->
      {%- endif -%}
    </div><!-- /.product__meta -->

    <span class="price js-product-price">
      {%- include 'price' with current_product -%}
    </span>

    {%- assign hide_bis = false -%}

    {%- for tag in current_product.tags -%}
      {%- if tag contains 'no_back_in_stock' -%}
        {%- if settings.klaviyo_api_key != blank -%}
          {%- assign hide_bis = true -%}
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}

    {%- assign item_id = current_product.id -%}

    {%- unless hide_bis -%}
      {%- if template contains 'collection' -%}
        {% comment %}{%- include 'product-bis-form' is_plp: true, product: current_product, new_id: item_id -%}{% endcomment %}
      {%- endif -%}

      {%- unless no_bis_form -%}
        {%- include 'product-bis-form' is_plp: true, product: current_product, new_id: item_id -%}
      {%- endunless -%}
    {%- endunless -%}

    {%- if products_enable_quick_add -%}
      <div class="product__form{% if hide_form %} hidden{% endif %}">
        {% form 'product', current_product, class: 'form-product js-product-form' %}
          {%- assign current_variant = current_product.selected_or_first_available_variant -%}
          <select name="id" class="hidden">
            {% for variant in current_product.variants %}
              {%- include 'price' with variant, echo: false -%}

              <option
                 value="{{- variant.id -}}"
                 data-price="{{- output -}}"

                {% if current_variant.id == variant.id %}
                   selected
                {% endif %}

                {%- for option in variant.options -%}
                  data-option{{- forloop.index -}}="{{- option | handle -}}"
                {%- endfor -%}

                data-variant-quantity="{{- variant.inventory_quantity -}}"
                data-available="{{- variant.available -}}"
                data-policy="{{- variant.inventory_policy -}}"
              >
                {{- variant.title -}}
              </option>
            {% endfor %}
          </select>

          <input
            type="hidden"
            name="updates[]"
            class="js-product-quantity"
            value="1"
          >
          {%- unless current_product.has_only_default_variant -%}
            {%- assign size_option_index = '' -%}

            {%- for product_option in current_product.options_with_values -%}
              {%- assign option_name_handle = product_option.name | handle -%}
              {%- assign has_submit_btn = true -%}

              {%- if option_name_handle == 'color' or option_name_handle == 'colour' -%}
                {%- assign color_option_index = product_option.position | minus: 1 -%}
                {%- assign has_submit_btn = false -%}
                {%- assign swatches_class = 'product__swatches trw-align-swatch-elem' -%}
                {%- assign group_products_tag = '' -%}

                {%- if products_show_swatches_on_hover -%}
                  {%- assign swatches_class = swatches_class | append: ' product__swatches--show-on-hover' -%}
                {%- endif -%}

                {%- if products_show_swatches == false -%}
                  {%- assign swatches_class = swatches_class | append: ' hidden' -%}
                {%- endif -%}

                {%- for tag in current_product.tags -%}
                  {%- if tag contains 'product-group|' -%}
                    {%- assign group_products_tag = tag | handle -%}

                    {%- break -%}
                  {%- endif -%}
                {%- endfor -%}

                {%- if group_products_tag != '' -%}
                  {%- if settings.show_swatches_on_hover -%}
                    <p class="product__swatches-callout{% if products_show_swatches == false %} hidden{% endif %}">{{- 'products.product.more_colors' | t -}}</p>
                  {%- endif -%}

                  <ul
                    data-match-height="optionsHeight"
                    {%- if products_show_swatches == false -%}
                      style="display: none;"
                    {%- endif -%}
                    class="swatches {{ swatches_class }} js-group-products-swatches js-product-item-swatches hidden"
                    data-handle="{{- current_product.handle -}}"
                    data-url="/collections/all/{{- group_products_tag -}}?view=group-product-item-swatches{%- if is_half_on_mobile -%}&mobile_grid={%- endif -%}"
                  ></ul>
                {%- else -%}
                  {%- include 'swatches', _product: current_variant, class: swatches_class, show_callout: true -%}
                {%- endif -%}
              {%- elsif option_name_handle == 'size' -%}
                {%- assign size_option_index = product_option.position | minus: 1 -%}
                {%- assign has_submit_btn = false -%}

                <div data-match-height="sizeHeight" class="product__variants js-product-variants trw-align-variants-elem" id="product-variants-{{- current_product.id -}}">

                  {%- include 'product-sizes', new_id: item_id, _product: current_product, class: '', default_checked: false, has_quick_add: true, hide_bis: hide_bis -%}
                </div><!-- /.product__variants -->
              {%- endif -%}
            {%- endfor -%}

            {%- if has_submit_btn -%}
              {%- if current_product.available -%}
                <button
                  data-match-height="addButtonHeight"
                  type="submit"
                  name="add"
                  class="trw-align-addbtn-elem product__btn btn btn--quick-add{% if settings.cart_type == 'drawer' %} js-ajax-add{% endif %}"
                 >
                  {%- include 'icons', icon: 'plus' -%}

                  {{- 'collections.products.quick_add' | t -}}
                </button>
              {%- endif -%}
            {%- else -%}
              {%- if settings.klaviyo_api_key != blank and pre_order == true -%}
                <a class="product__btn btn btn--block form__btn js-click js-preorder" href="#" data-text="Notify Me When Released">
                  Coming Soon
                </a>
              {%- else -%}
              <a
                data-match-height="quickAddHeight"
                href="#product-variants-{{- current_product.id -}}" class="product__btn btn btn--quick-add js-product-item-variants-trigger trw-align-addbtn-elem">

                <span>
                  {%- if current_product.available -%}
                    {%- include 'icons', icon: 'plus' -%}

                    {{- 'collections.products.quick_add' | t -}}
                  {%- else -%}
                    {{- 'products.product.sold_out' | t -}}
                  {%- endif -%}
                </span>
                {% comment %}
                <span class="hidden-xs hidden-sm">
                  {%- include 'icons', icon: 'plus' -%}

                  {{- 'collections.products.quick_add' | t -}}
                </span>

                <span class="visible-xs-block visible-sm-block">
                  <span>{{- 'products.product.size_dropdown_label' | t -}}: </span>

                  <span class="js-size-selected">{{- current_variant.options[size_option_index] -}}</span>
                </span>
                {% endcomment %}
              </a>
              <button id="probtn{{ current_product.id }}"
                      data-match-height="addButtonHeight"
                      type="submit"
                      name="add"
                      class="product__btn trw-align-addbtn-elem btn btn--quick-add visible-xs-inline-block visible-sm-inline-block js-ajax-add"
                      >
                {%- include 'icons', icon: 'cart' -%}

                {{- 'products.product.add_to_cart' | t -}}
              </button>
                {% endif %}
            {%- endif -%}
          {%- else -%}
            {%- if current_product.available -%}
              <button
                data-match-height="addButtonHeight"
                 type="submit"
                 name="add"
                 class="product__btn trw-align-addbtn-elem btn btn--quick-add{% if settings.cart_type == 'drawer' %} js-ajax-add{% endif %}"

                {% unless current_product.available %}
                  disabled
                {% endunless %}
              >
                {%- include 'icons', icon: 'plus' -%}

                {{- 'collections.products.quick_add' | t -}}
              </button>
            {%- endif -%}
          {%- endunless -%}
        {% endform %}
      </div>
      <!-- /.product__form -->
    {%- endif -%}
  </div><!-- /.product__content -->
</div><!-- /.products__item product-item -->
