{% unless product.metafields.embroidery_hat_right.enabled or product.metafields.embroidery_hat_left.enabled %}
<div class="js-embroidery-error hidden">
    {{- settings.embroidery_error -}}
</div><!-- /.embroidery-error -->

<div class="tooltip">
    <div class="tooltip-header">
        <a href="#embroidery_see_details" class="js-close-embroidery-tooltip" data-js-embroidery-tooltip-toggle>×</a>
    </div>
    {{ settings.embroidery_tooltip }}
</div>
<div class="inner">
    <button
        class="c-embroidery-main-cta"
        type="button"
        aria-label="Show embroidery modal"
        data-js-embroidery-toggle
        data-js-embroidery-main-cta
    >
        <div class="c-embroidery-main-cta-circle"></div><span style="color: {{ product.metafields.Embroidery.button_text_color }}; background-color: {{ product.metafields.Embroidery.button_background }};">{{ product.metafields.embroidery.button_title | default: "CUSTOM EMBROIDERY" }}</span>
    </button>

    <a href="#embroidery_see_details" class="see_details" data-js-embroidery-tooltip-toggle>SEE DETAILS</a>
</div><!-- /.inner -->
{% endunless %}

<div
        class="c-embroidery"
        data-js-embroidery
        >
    <h4>MONOGRAM ($10)</h4>
    <div class="custom-text">
        <div class="title">1. ADD TEXT:</div>
        <label for="customText">
        <input id="customText" type="text" minlength="{{ product.metafields.embroidery.min_characters | default: 1 }}" maxlength="{{ product.metafields.embroidery.characters | default: 10 }}" name="properties[custom_text]" required>
        </label>
        <small>({{ product.metafields.embroidery.characters | default: 10 }} characters - NO SPECIAL CHARACTERS)</small>
    </div>
    <div class="custom-color">
        <div class="title">2. CHOOSE COLOR:</div>
        <div class="custom-color-selector">
            {% for color in product.metafields.embroidery.colors %}
                {% assign color_name = product.metafields.embroidery.color_names[forloop.index0] %}
            <input id="customColor{{ forloop.index }}" type="radio" value="{{ color_name }}" name="properties[custom_color]" {% if forloop.first == true %}checked{% endif %} data-color="{{ color }}">
            <label for="customColor{{ forloop.index }}">
                <div class="white" style="background: {{ color }};"></div>
            </label>
            {% endfor %}
        </div>
    </div>
    <div class="custom-style">
        <div class="title">3. CHOOSE STYLE:</div>
        <div class="custom-style-selector">
            <input id="customStyleWhite" type="radio" value="BLOCK" name="properties[custom_style]" data-font="c-embroidery-font__preview--font-circular" checked>
            <label for="customStyleWhite">
            <div class="white c-embroidery-font__preview--font-circular">BLOCK</div>
            </label>
            <input id="customStyleBlue" type="radio" value="SCRIPT" name="properties[custom_style]" data-font="c-embroidery-font__preview--font-shell">
            <label for="customStyleBlue">
            <div class="blue c-embroidery-font__preview--font-shell">SCRIPT</div>
            </label>
        </div>
    </div>
    <div class="view-customization">
        <a href="#">Click to View Customization</a>
    </div>
    <div class="c-embroidery__preview-container c-embroidery__preview-hat-container {% if product.metafields.embroidery_hat_left.enabled and product.metafields.embroidery_hat_right.enabled %}preview_one{% endif %}">
        <div class="close_preview">
        ×
        </div>
        {% if product.metafields.embroidery.image %}
            <img
                    class="c-engraving__image"
                    src="{{ product.metafields.embroidery.image[0].src }}"
                    alt="{{ product.title }} — embroidery area"
            />
        {% endif %}
        {% if product.metafields.embroidery.is_a_crown_hat %}
        <div class="c-embroidery__preview crown-hat" data-js-embroidery-preview>
            <svg viewBox="0 0 500 500" width="400" height="400" style="transform: rotate(354deg);">
                <defs>
                    <path id="curve_preview"
                          d="
        M 0, 140
        m -37, 10
        a 197,17 10 1,0 244,0"/>
                </defs>
                <text text-anchor="middle" class="c-embroidery-font__preview--font-circular">
                    <textPath xlink:href="#curve_preview" startOffset="50%">
                    </textPath>
                </text>
            </svg>
        </div>
        {% else %}
            <div class="c-embroidery__preview" data-js-embroidery-preview>
                <svg viewBox="0 0 500 500">
                    <path id="curve_preview" d="M 113 214 C 113 185 115 154 121 126 C 149 60 240 60 248 60 C 372 61 375 107 380 130 C 385 157 386 185 386 211" fill="transparent" />
                    <text width="380"  x="0" y="0" text-anchor="middle" class="c-embroidery-font__preview--font-circular">
                        <textPath xlink:href="#curve_preview" startOffset="50%">
                        </textPath>
                    </text>
                </svg>
            </div>
        {% endif %}
    </div>
</div>
