{%- if product.metafields.marketing_block.layout != nil -%}
  {%- assign loops_count = product.metafields.marketing_block.layout.size | minus: 1 -%}
  {%- assign styles = '' -%}

  {%- for i in (0..loops_count) -%}
    {%- assign layout = product.metafields.marketing_block.layout[i] -%}
    {%- assign _image = product.metafields.marketing_block.image[i][0] -%}
    {%- assign image_mobile = product.metafields.marketing_block.image__mobile[i][0] -%}
    {%- assign heading = product.metafields.marketing_block.heading_text[i] -%}
    {%- assign heading_mobile = product.metafields.marketing_block.heading_text__mobile[i] -%}
    {%- assign subheading = product.metafields.marketing_block.subheading_text[i] -%}
    {%- assign subheading_mobile = product.metafields.marketing_block.subheading_text__mobile[i] -%}
    {%- assign link_text = product.metafields.marketing_block.link_text[i] -%}
    {%- assign link_url = product.metafields.marketing_block.link_url[i] -%}
    {%- assign section_class = '' -%}

    {%- case layout -%}
      {%- when 'Fullwidth' -%}
        {%- assign section_class = ' section-image-content--fullwidth' -%}
      {%- when '2/3 image and 1/3 content' -%}
        {%- assign section_class = ' section-image-content--image-3of4' -%}
      {%- when '1/3 image and 2/3 content' -%}
        {%- assign section_class = ' section-image-content--image-1of4' -%}
    {%- endcase -%}

    {%- assign has_image = false -%}
    {%- assign has_heading = false -%}
    {%- assign has_subheading = false -%}
    {%- assign has_heading_mobile = false -%}
    {%- assign has_subheading_mobile = false -%}

    {%- if _image != nil and _image != '' -%}
      {%- assign has_image = true -%}
    {%- endif -%}

    {%- if heading != nil and heading != '' -%}
      {%- assign has_heading = true -%}
    {%- endif -%}

    {%- if subheading != nil and subheading != '' -%}
      {%- assign has_subheading = true -%}
    {%- endif -%}

    {%- if heading_mobile != nil and heading_mobile != '' -%}
      {%- assign has_heading_mobile = true -%}
    {%- endif -%}

    {%- if subheading_mobile != nil and subheading_mobile != '' -%}
      {%- assign has_subheading_mobile = true -%}
    {%- endif -%}

    {%- if has_image or has_heading or has_subheading -%}
      <section class="section-image-content section-image-content--small{{- section_class -}}" id="section-image-content-{{- i -}}">
        <div class="section__cols">
          {%- if has_image -%}
            <div class="section__col">
              <span class="section__image lazyload{% if image_mobile != nil and image_mobile != '' %} hidden-xs{% endif %}" data-bg="{{- _image.src -}}" role="img" aria-label="{{- _image.alt -}}"></span>

              {%- if image_mobile != nil and image_mobile != '' -%}
                <span class="section__image lazyload visible-xs-block" data-bg="{{- image_mobile.src -}}" role="img" aria-label="{{- image_mobile.alt -}}"></span>
              {%- endif -%}
            </div><!-- /.section__col -->
          {%- endif -%}

          {%- if has_heading or has_heading -%}
            <div class="section__col">
              <div class="section__content">
                {%- if has_heading -%}
                  <h4 class="{%- if has_heading_mobile -%}hidden-xs{%- endif -%}">{{- heading -}}</h4>

                  {%- if has_heading_mobile -%}
                    <h4 class="visible-xs-block">{{- heading_mobile -}}</h4>
                  {%- endif -%}
                {%- endif -%}

                {%- if has_heading -%}
                  <h6 class="{%- if has_subheading_mobile -%}hidden-xs{%- endif -%}">{{- subheading -}}</h6>

                  {%- if has_subheading_mobile -%}
                    <h6 class="visible-xs-block">{{- subheading_mobile -}}</h6>
                  {%- endif -%}
                {%- endif -%}

                {%- if
                  link_text != nil and link_text != '' and
                  link_url != nil and link_url != ''
                -%}
                  <div class="section__actions">
                    <a href="{{- link_url -}}" class="link-more">{{- link_text -}}</a>
                  </div><!-- /.section__actions -->
                {%- endif -%}
              </div><!-- /.section__content -->
            </div><!-- /.section__col -->
          {%- endif -%}
        </div><!-- /.section__cols -->
      </section><!-- /#section-image-content-{{- i -}}.section-image-content section-image-content-/-small -->
    {%- endif -%}

    {%- capture styles -%}
      {{- styles -}}

      <style type="text/css">
        .section-image-content#section-image-content-{{ i }} {
          color: {{ product.metafields.marketing_block.color[i] | default: '#fff' }};
          background-color: {{ product.metafields.marketing_block.background_color[i] | default: '#000' }};
          margin: 50px 0;
        }

        .section-image-content.section-image-content--image-3of4#section-image-content-{{ i }} h4,
        .section-image-content.section-image-content--image-1of4#section-image-content-{{ i }} h4,
        .section-image-content.section-image-content--image-3of4#section-image-content-{{ i }} h6,
        .section-image-content.section-image-content--image-1of4#section-image-content-{{ i }} h6,
        .section-image-content.section-image-content--image-3of4#section-image-content-{{ i }} .section__actions,
        .section-image-content.section-image-content--image-1of4#section-image-content-{{ i }} .section__actions {
          text-align: left;
        }

        .section-image-content#section-image-content-{{ i }} h4 {
          font-size: {{ product.metafields.marketing_block.heading_size[i] }}px;
          color: inherit;
        }

        .section-image-content#section-image-content-{{ i }} h6 {
          font-size: {{ product.metafields.marketing_block.subheading_size[i] }}px;
          color: inherit;
        }

        @media (max-width: 767px) {
          .section-image-content.section-image-content--image-3of4#section-image-content-{{ i }} h4,
          .section-image-content.section-image-content--image-1of4#section-image-content-{{ i }} h4,
          .section-image-content.section-image-content--image-3of4#section-image-content-{{ i }} h6,
          .section-image-content.section-image-content--image-1of4#section-image-content-{{ i }} h6,
          .section-image-content.section-image-content--image-3of4#section-image-content-{{ i }} .section__actions,
          .section-image-content.section-image-content--image-1of4#section-image-content-{{ i }} .section__actions {
            text-align: center;
          }

          .section-image-content#section-image-content-{{ i }} h4 {
            font-size: {{ product.metafields.marketing_block.heading_size__mobile[i] }}px;
          }

          .section-image-content#section-image-content-{{ i }} h6 {
            font-size: {{ product.metafields.marketing_block.subheading_size__mobile[i] }}px;
          }
        }
      </style>
    {%- endcapture -%}
  {%- endfor -%}
{%- endif -%}

{{- styles -}}
