{%- if show_callout and settings.show_swatches_on_hover -%}
  <p class="product__swatches-callout{% if class contains 'hidden' %} hidden{% endif %}">{{- 'products.product.more_colors' | t -}}</p>
{%- endif -%}

<ul class="swatches {{ class }}" data-match-height="optionsHeight">
  {%- for value in product_option.values -%}
    <li>
      <input
        class="{%- unless is_fake -%}js-product-option js-product-option-color{%- else -%}js-product-option-color-fake{%- endunless -%}"
        data-option-position="{{- product_option.position -}}"
        id="product-{{- _product.id -}}-swatch-{% if is_fake %}fake{% endif %}{{- value | handle -}}"
        name="product-swatches-{% if is_fake %}fake-{% endif %}{{- _product.id -}}"
        type="radio"
        data-value="{{- value -}}"
        value="{{- value | handle -}}"
        {% if _product.options[color_option_index] == value %}
          checked
        {% endif %}
      >

      <label
        for="product-{{- _product.id -}}-swatch-{% if is_fake %}fake{% endif %}{{- value | handle -}}"
        class="swatches__item swatch swatch__color-{{- value | handle -}}"
        style="background-color: {{ value | handle }};"
      >
        {{- value -}}
      </label>
    </li>
  {%- endfor -%}
</ul><!-- /.swatches -->
