<!-- globale_my_account_globale_orders_list_include -->
{% include 'globale-orders-list' %}
<section class="section-account default--holder fade-in js-fade-in">
	<div class="shell">
		<div class="section__inner">
			{%- include 'account', fragment: 'sidebar' -%}

			<div class="section__content">
				{%- include 'account', fragment: 'head' -%}

        <h5>{{- 'customer.account.account_subtitle' | t -}}</h5>

        <div class="section__body">
          <div class="form form--default form--account form--register form--small form--edit">
            <form id="form-account-edit">
              <input type="hidden" name="customer[id]" value="{{- customer.id -}}" /> 

              {%- assign birthday_tag_index = '' -%}

              {%- for tag in customer.tags -%}
                {%- if tag contains 'Birthday:' -%}
                  {%- assign birthday_tag_index = forloop.index0 -%}
                {%- endif -%}
              {%- endfor -%}

              {%- if birthday_tag_index != '' -%}
                <input type="hidden" name="customer[tags]" value="{{- customer.tags[birthday_tag_index] -}}" />
              {%- endif -%}

              <div class="form__body">
                <div class="form__row">
                  <div class="form__cols">
                    <div class="form__col">
                      <div class="form__controls">
                        <input type="text" class="field" name="customer[first_name]" id="field-first-name" value="{{- customer.first_name -}}" placeholder="{{- 'customer.register.first_name' | t -}}">
            
                        <label for="field-first-name" class="form__label">{{- 'customer.register.first_name' | t -}}</label>
                      </div><!-- /.form__controls -->
                    </div><!-- /.form__col -->
                    
                    <div class="form__col">
                      <div class="form__controls">
                        <input type="text" class="field" name="customer[last_name]" id="field-last-name" value="{{- customer.last_name -}}" placeholder="{{- 'customer.register.last_name' | t -}}">
  
                        <label for="field-last-name" class="form__label">{{- 'customer.register.last_name' | t -}}</label>
                      </div><!-- /.form__controls -->
                    </div><!-- /.form__col -->
                  </div><!-- /.form__cols -->
                </div><!-- /.form__row -->

                {%- if birthday_tag_index != '' -%}
                  <div class="form__row">
                    <div class="form__controls">
                      <input type="text" class="field js-field-birthday" id="field-tags" value="{{- customer.tags[birthday_tag_index] | split: 'Birthday:' | last -}}" placeholder="{{- 'customer.register.birthday' | t -}}" pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" required>
          
                      <label for="field-tags" class="form__label">{{- 'customer.register.birthday' | t -}}</label>
                    </div><!-- /.form__controls -->
                  </div><!-- /.form__row -->
                {%- endif -%}

                <div class="form__row">
                  <div class="form__controls">
                    <input type="email" class="field" name="customer[email]" id="field-email" value="{{- customer.email -}}" placeholder="{{- 'customer.register.email' | t -}}" required>
  
                    <label for="field-email" class="form__label">{{- 'customer.register.email' | t -}}</label>
                  </div><!-- /.form__controls -->
                </div><!-- /.form__row -->

                <div class="form__row">
                  <div class="checkbox">
                    <input type="checkbox" name="customer[accepts_marketing]"{% if customer.accepts_marketing %} checked="checked"{% endif %} id="customer-accepts-marketing" />

                    <label for="customer-accepts-marketing">
                      {{- 'customer.register.accepts_marketing' | t -}}
                    </label>
                  </div><!-- /.checkbox -->
                </div><!-- /.form__row -->
              </div><!-- /.form__body -->

              <div class="form__actions">
                <button type="submit" class="form__btn btn btn--block">
                  {{- 'customer.account.save_changes' | t -}}
                </button>
              </div><!-- /.form__actions -->
            </form>
          </div><!-- /.form form-/-default -->

          <div class="form form--default form--small form--account form--register form--edit">
            {% form 'recover_customer_password' %}
              <input type="hidden" name="email" value="{{- customer.email -}}" />

              <div class="form__head">
                <h5>Password</h5>

                <p>**************</p>

                <div class="form__actions">
                  <button type="submit" class="btn">{{- 'customer.reset_password.submit' | t -}}</button>
                </div><!-- /.form__actions -->
              </div><!-- /.form__head -->
            {% endform %}
          </div><!-- /.form form-/-default form-/-small form-/-account form-/-register form-/-edit -->
        </div><!-- /.section__body -->
			</div><!-- /.section__content -->
		</div><!-- /.section__inner -->
	</div><!-- /.shell -->
</section><!-- /.section-account -->
