<!DOCTYPE html>
<html lang="{{ shop.locale }}"{% if template == 'index' %} class="only-hero{% if settings.show_footer_on_homepage %} show-footer{% endif %}"{% endif %}>
  <head>
<!-- Google Verification Tag - Start --><meta name="google-site-verification" content="dAhSDaziVqac-ggIVIX9jmBqIaPQvcjn2gIobdi9tz0" /><!-- Google Verification Tag - End -->

    <meta name="facebook-domain-verification" content="l3yaknoyguangw9bbu7le8wugpxdkh" />

    <!-- Start WKND tag. Deploy at the beginning of document head. --> <script> (function(d) { var e = d.createElement('script'); e.src = d.location.protocol + '//tag.wknd.ai/5342/i.js'; e.async = true; d.getElementsByTagName("head")[0].appendChild(e); }(document)); </script> <!-- End WKND tag -->


    <script>
      document.addEventListener('DOMContentLoaded', (event) => {
        const cartBtn = document.querySelector('.btn-cart');
        const removeBtns = document.querySelectorAll('.btn-remove.js-remove');

        cartBtn.addEventListener('click', function (e) {
          setTimeout(function() {
            runShipscoutSnippet();
          }, 1000);
        });

        // removeBtns.forEach(removeBtn => {
        //   console.log('removeBtn:')
        //   console.log(removeBtn)

        //   removeBtn.addEventListener('click', function (e) {
        //     console.log('Remove is clicked');

        //     setTimeout(function() {
        //       runShipscoutSnippet();
        //     }, 1000);
        //   });
        // });
      });


      document.addEventListener('ajaxProduct:added', function (e) {
        setTimeout(function() {
          runShipscoutSnippet();
        }, 1000);
      });

      document.addEventListener('cart:updated', function (e) {
        console.log('Cart is updated');

        setTimeout(function() {
          runShipscoutSnippet();
        }, 1000);
      });

      document.addEventListener('drawerOpen', function (e) {
        setTimeout(function() {
          runShipscoutSnippet();
        }, 1000);
      });

      document.addEventListener('cart:updated', function (e) {
        setTimeout(function() {
          runShipscoutSnippet();
        }, 1000);
      });


      function runShipscoutSnippet() {
        console.log('ShipScout is runing');

        window._shipScout = window._shipScout || [];
        _shipScout.push(function (response) {
          /*
              example response object
              {
                  testId: 1,
                  testType: 'threshold',
                  variant: 'B',
                  threshold: true,
                  freeShippingThresholdCents: 5000,
                  shippingPriceCents: 1000,
                  lineItemProperty: 0467e6f7-8d66-4610-a939-da76dd9f7a68_1_B
              }
          */

          // response = {
          //   ...response,
          //   freeShippingThresholdCents: 7500,
          //   variant: 'B'
          // }

          //apply any exchange rates to currency if necessary
          var thresholdCents = (window.Shopify && Shopify.currency && Shopify.currency.rate) ? response.freeShippingThresholdCents * Shopify.currency.rate : response.freeShippingThresholdCents;
          var flatrateCents = (window.Shopify && Shopify.currency && Shopify.currency.rate) ? response.shippingPriceCents * Shopify.currency.rate : response.shippingPriceCents;


          //format currency
          var currencyFormat = ShipScoutGetCurrency();

          //get threshold amount with currency symbol
          var thresholdAmount = ShipScoutFormatMoney(thresholdCents, currencyFormat);

          //get flat rate amount with currency symbol
          var flatrateAmount = ShipScoutFormatMoney(flatrateCents, currencyFormat);

          //==== insert your code below to dynamically update elements ====//
          const updatedPrice              = document.querySelector('[data-jstotal]').dataset.jstotal/100.00;
          const amount                    = response.freeShippingThresholdCents/100;
          const money_to_discount_number  = amount - updatedPrice;
          const successContainer          = document.querySelector('[data-jssuccess]')
          const successMessage            = successContainer.dataset.jssuccess

          let percent_number              = ((updatedPrice/amount)*100).toFixed(0);

          if (percent_number > 100) {
            percent_number = 100
          };

          const money_to_discount_text    = '$' + (Math.floor(money_to_discount_number * 100) / 100);
          const percent_text              = percent_number + '%'
          const percentageBar             = document.querySelector('.js-cart-shipping-bar .progress__inner');
          const thresholdAmountContainer  = document.querySelector('.js-cart-shipping-bar .bar-shipping strong');

          if (response.freeShippingThresholdCents != undefined) {
            percentageBar.style.width = percent_text;
            thresholdAmountContainer.textContent = money_to_discount_text;

            if (money_to_discount_number < 1) {
              successContainer.textContent = successMessage
            };
          };
        });
      }
    </script>

    {%- include 'settings' -%}
    {%- comment -%} TRW 11/24/2020 START {%- endcomment -%}
    {%- include 'module-settings' -%}
    {%- comment -%} TRW 11/24/2020 END{%- endcomment -%}

    {%- include 'head' -%}

    {{ content_for_header }}

  <!-- OrderLogic checkout restrictions ========================================= -->
  	{% include 'order-logic' %}


    {% if settings.app_wk_enabled %}
    {% include 'appmate-wishlist-king' %}
    {% endif %}


<!-- globale_css_include -->
{% include 'globale-css-include' %}

{% if product == blank and collection and collection.metafields.nosto != blank %}
  <link rel="canonical" href="{{shop.url}}/collections/{{collection.metafields.nosto.sourceHandle}}">
{% else %}
  <link rel="canonical" href="{{ canonical_url }}">
{% endif %}
  <script>window.KlarnaThemeGlobals={};{%case template.name%} {%when"product"%} {% if product.first_available_variant.price %}window.KlarnaThemeGlobals.data_purchase_amount = {{ product.first_available_variant.price }};{% endif %}window.KlarnaThemeGlobals.productVariants={{product.variants|json}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%when"cart"%} window.KlarnaThemeGlobals.data_purchase_amount={{cart.total_price}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%endcase%}</script>
</head>

<body class="{{ template_class }} other_bgcolor">


    {%- section 'embroidery-restrictions' -%}

    <div class="wrapper js-wrapper" style="padding-top: 45px;">
      {%- section 'announcement-bar' -%}
      {%- section 'header' -%}
      {%- section 'swatches-colors' -%}
      {%- section 'badges' -%}

      {%- unless template contains 'cart' -%}
      {%- if settings.cart_type == 'drawer' -%}
      {%- section 'cart-drawer' -%}
      {%- endif -%}
      {%- endunless -%}

      <div class="main">
        {{ content_for_layout }}
      </div><!-- /.main -->
      {%- comment -%} TRW | 11/11/2020
      {%- section 'subscribe' -%}
      {%- endcomment -%}
      {%- section 'footer' -%}
    </div><!-- /.wrapper -->
    {%- include 'ie-modal' -%}
    {{ theme_scripts }}

    {%- comment -%} TRW 11/24/2020 START {%- endcomment -%}
    {{ trw_scripts }}
    {%- comment -%} TRW 11/24/2020 END {%- endcomment -%}

    <script src="{{ 'simple-equal-heights.js' | asset_url }}"></script>

    {%- if template == 'customers/account' -%}
    <script src="https://app.accentuate.io/dist/proxy.js"></script>

    <script>
      Accentuate(jQuery('#form-account-edit'), function(data) {
        jQuery('#form-account-edit button[type="submit"]').removeClass('btn--loading');
      });
    </script>
    {%- endif -%}

    <script>
      jQuery("body").on("mouseover",".btn--quick-add",function(){
        jQuery(this).prev('.js-product-variants').addClass('is-active');
        // }, function(){
        //$(this).prev('.js-product-variants').removeClass('is-active');
      });
    </script>
    <!----- YOU MUST INCLUDE THIS STATMENT WHEN USING A NEW THEME OR CRITEO TAGS WILL BREAK ---------->

    <!-- CRITEO START -->
{% include 'criteo-tracking' %}
<!-- CRITEO END -->


    <!-- YOU MUST INCLUDE THIS STATMENT WHEN USING A NEW THEME OR CRITEO TAGS WILL BREAK -->
    <script>
      function addcartmob(para) {
        var newWindowWidth = jQuery(window).width();
        if (newWindowWidth < 768) {
          setTimeout(function() {
            jQuery('#probtn'+para).click();
          },100);
        }
      }
    </script>
  <!-- globale_js_include -->
{% include 'globale-js-include' %}

{% render 'nosto-tagging' %}

  <!-- Avada Size Chart Script -->
  {% include 'avada-sc-setting' %}
  <!-- /Avada Size Chart Script -->


<!-- Afterpay integration with Klarna -->
{% render 'afterpay' %}
<!-- /Afterpay integration with Klarna -->

</body>

</html>
