<!DOCTYPE html>
<html lang="{{ shop.locale }}">
  <head>
    <meta name="facebook-domain-verification" content="l3yaknoyguangw9bbu7le8wugpxdkh" />

    {%- include 'settings' -%}
    {%- comment -%} TRW 11/24/2020 START {%- endcomment -%}
    {%- include 'module-settings' -%}
    {%- comment -%} TRW 11/24/2020 END{%- endcomment -%}

    {%- include 'head' -%}

    {{ content_for_header }}

    {% if settings.app_wk_enabled %}
    {% include 'appmate-wishlist-king' %}
    {% endif %}

  </head>

  <body class="{{ template_class }} {% if template == 'index' %} home_header otherbg{% else %} other_bgcolor {% endif %}">
    {%- section 'embroidery-restrictions' -%}

    <div class="wrapper js-wrapper" style="padding-top: 45px;">
      {%- section 'announcement-bar' -%}
      {%- section 'header' -%}
      {%- section 'swatches-colors' -%}
      {%- section 'badges' -%}

      {%- unless template contains 'cart' -%}
      {%- if settings.cart_type == 'drawer' -%}
      {%- section 'cart-drawer' -%}
      {%- endif -%}
      {%- endunless -%}

      <div class="main">
        {{ content_for_layout }}
      </div><!-- /.main -->
      {%- comment -%} TRW | 11/11/2020
      {%- section 'subscribe' -%}
      {%- endcomment -%}
      {%- section 'footer' -%}
    </div><!-- /.wrapper -->
    {%- include 'ie-modal' -%}
    {{ theme_scripts }}

    {%- comment -%} TRW 11/24/2020 START {%- endcomment -%}
    {{ trw_scripts }}
    {%- comment -%} TRW 11/24/2020 END {%- endcomment -%}

    <script src="{{ 'simple-equal-heights.js' | asset_url }}"></script>

    {%- if template == 'customers/account' -%}
    <script src="https://app.accentuate.io/dist/proxy.js"></script>

    <script>
      Accentuate(jQuery('#form-account-edit'), function(data) {
        jQuery('#form-account-edit button[type="submit"]').removeClass('btn--loading');
      });
    </script>
    {%- endif -%}

    <script>
      jQuery("body").on("mouseover",".btn--quick-add",function(){
        jQuery(this).prev('.js-product-variants').addClass('is-active');
        // }, function(){
        //$(this).prev('.js-product-variants').removeClass('is-active');
      });
    </script>
    <!----- YOU MUST INCLUDE THIS STATMENT WHEN USING A NEW THEME OR CRITEO TAGS WILL BREAK ---------->

    <!-- CRITEO START -->
{% include 'criteo-tracking' %}
<!-- CRITEO END -->


    <!-- YOU MUST INCLUDE THIS STATMENT WHEN USING A NEW THEME OR CRITEO TAGS WILL BREAK -->
    <script>
      function addcartmob(para) {
        var newWindowWidth = jQuery(window).width();
        if (newWindowWidth < 768) {
          setTimeout(function() {
            jQuery('#probtn'+para).click();
          },100);
        }
      }
    </script>
  </body>
</html>
