{%- assign filter_tag = '' -%}

{%- for current_tag in current_tags -%}
  {%- if current_tag contains 'size:' -%}
    {%- assign filter_tag = current_tag | split: 'size:' | last  -%}
  {%- endif -%}
{%- endfor -%}


{%- assign _section = section.settings -%}
{%- assign collection_has_image = false -%}
{%- assign collection_has_description = false -%}
{%- assign collection_head_classes = '' -%}
{%- assign content_align_class = 'section__content--' -%}

{%- assign collection_has_sort = _section.show_sort -%}

{%- assign collection_has_products_count = _section.show_products_count -%}

{%- assign collection_has_filters = _section.show_filters -%}
{%- assign filters_layout = _section.filters_layout -%}
{%- assign collection_has_top_nav_filters = false -%}
{%- assign collection_has_side_nav_filters = false -%}
{%- assign prefixes_array = ''  -%}

{%- if _section.filters_prefixes != blank -%}
  {%- assign prefixes_array = _section.filters_prefixes | strip_newlines | strip | strip_html | split: ','  -%}
{%- endif -%}

{%- assign collection_has_layout_option = _section.show_layout_switch -%}
{%- assign collection_grid_is_fullwidth = _section.grid_fullwidth -%}
{%- assign collection_products_per_page = _section.products_per_page -%}
{%- comment -%} TRW 02/05/2021
{%- assign collection_products_per_row_desktop = collection.metafields.products_per_row.desktop | default:_section.products_per_row_desktop | plus: 0 -%}
{%- assign collection_products_per_row_mobile = collection.metafields.products_per_row.mobile | default: _section.products_per_row_mobile | plus: 0 -%}
{%- endcomment -%}

{%- assign collection_top_images = collection.metafields.header_block.image_top -%}
{%- assign collection_top_images_mobile = collection.metafields.header_block.image_top_mobile -%}
{%- assign collection_top_url = collection.metafields.header_block.url -%}

{%- assign collection_bottom_images = collection.metafields.header_2_block.image_bottom -%}
{%- assign collection_bottom_images_mobile = collection.metafields.header_2_block.image_bottom_mobile -%}
{%- assign collection_bottom_url = collection.metafields.header_2_block.url -%}

{%- comment -%} TRW 02/05/2021 {%- endcomment -%}
{%- assign collection_products_per_row_desktop = 3 -%}
{%- assign collection_products_per_row_mobile = 2 -%}
{%- comment -%} TRW 02/05/2021 {%- endcomment -%}

{%- case collection_products_per_row_desktop -%}
  {%- when 2 -%}
  {%- assign grid_layout_class = 'grid--layout-2' -%}
  {%- when 3 -%}
  {%- assign grid_layout_class = 'grid--layout-3' -%}
  {%- when 4 -%}

  {%- assign grid_layout_class = 'grid--layout-4' -%}
  {%- when 5 -%}
  {%- assign grid_layout_class = 'grid--layout-5' -%}
{%- endcase -%}

{%- assign collection_pagination_type = _section.pagination_type -%}
{%- assign is_alternate_loading = false -%}

{%- if collection_pagination_type == 'ajax_manual_load' or collection_pagination_type == 'ajax_auto_load' -%}
  {%- assign is_alternate_loading = true -%}
{%- endif -%}

{%- if collection_has_filters and filters_layout == 'horizontal' -%}
  {%- assign collection_has_top_nav_filters = true -%}
{%- elsif collection_has_filters and filters_layout == 'vertical' -%}
  {%- assign collection_has_side_nav_filters = true -%}
{%- endif -%}



{%- if product == blank and collection and collection.metafields.nosto != blank -%}
    {%- if _section.show_image and collections[collection.metafields.nosto.sourceHandle].image != blank -%}
      {%- assign collection_has_image = true -%}
    {%- endif -%}
{% else %}
    {%- if _section.show_image and collection.image != blank -%}
      {%- assign collection_has_image = true -%}
    {%- endif -%}
{% endif %}


{%- if _section.show_description -%}
  {%- assign collection_has_description = true -%}
{%- endif -%}

{%- case _section.layout -%}
  {%- when '1/3 content, 2/3 image' -%}
  {%- assign collection_head_classes = collection_head_classes | append: ' section__head--layout-image-2of3' -%}
  {%- when '2/3 content, 1/3 image' -%}
  {%- assign collection_head_classes = collection_head_classes | append: ' section__head--layout-image-1of3' -%}
  {%- when '1/2 content, 1/2 image' -%}
  {%- assign collection_head_classes = collection_head_classes | append: ' section__head--layout-image-1of2' -%}
{%- endcase -%}

{%- if _section.reverse_image_content -%}
  {%- assign collection_head_classes = collection_head_classes | append: ' section__head--layout-reverse' -%}
{%- endif -%}

{%- unless collection_has_description -%}
  {%- assign collection_head_classes = collection_head_classes | append: ' section__head--no-content' -%}
{%- endunless -%}

{%- assign content_align_class = content_align_class | append: _section.content_align -%}



{%- assign content_color = _section.content_color -%}
{%- assign content_bg_color = _section.content_bg_color -%}

{% comment %}Mobile fallbacks{% endcomment %}
{%- assign banner_mobile_background_color = content_bg_color -%}
{%- assign banner_mobile_heading_text = collection.title -%}
{%- assign banner_mobile_heading_color = content_color -%}
{%- assign banner_mobile_subheading_text = collection.description -%}
{%- assign banner_mobile_subheading_color = content_color -%}
{%- assign banner_mobile_image = collection.image -%}

{% comment %}Mobile metafields{% endcomment %}
{%- assign leftside_background_color = collection.metafields.plp-banner.leftside_background_color -%}
{%- assign leftside_heading_text = collection.metafields.plp-banner.leftside_heading_text -%}
{%- assign leftside_heading_color = collection.metafields.plp-banner.leftside_heading_color -%}
{%- assign leftside_subheading_text = collection.metafields.plp-banner.leftside_subheading_text -%}
{%- assign leftside_subheading_color = collection.metafields.plp-banner.leftside_subheading_color -%}
{%- assign rightside_mobile_image = collection.metafields.plp-banner.rightside_mobile_image -%}


{%- if leftside_background_color != blank -%}
  {%- assign banner_mobile_background_color = leftside_background_color -%}
{%- endif -%}

{%- if leftside_heading_text != blank -%}
  {%- assign banner_mobile_heading_text = leftside_heading_text -%}
{%- endif -%}

{%- if leftside_heading_color != blank -%}
  {%- assign banner_mobile_heading_color = leftside_heading_color -%}
{%- endif -%}

{%- if leftside_subheading_text != blank -%}
  {%- assign banner_mobile_subheading_text = leftside_subheading_text -%}
{%- endif -%}

{%- if leftside_subheading_color != blank -%}
  {%- assign banner_mobile_subheading_color = leftside_subheading_color -%}
{%- endif -%}

{%- if rightside_mobile_image != blank -%}
  {%- assign banner_mobile_image = rightside_mobile_image -%}
{%- endif -%}

{%- capture custom_mobile_image -%}
  {%- if rightside_mobile_image != blank -%}
    <span
      class="section__head-image{% if _section.image_overlay %} has-overlay{% endif %} lazyload visible-xs-block"
      data-bg="{{ rightside_mobile_image[0].src }}"
      role="img"
      aria-label="{{ rightside_mobile_image[0].alt | escape }}"
    ></span>
  {%- else -%}
    {%- if collection.image != blank -%}
      <span
        class="section__head-image{% if _section.image_overlay %} has-overlay{% endif %} lazyload visible-xs-block"
        data-bg="{{ collection.image | img_url: 'master' }}"
        role="img"
        aria-label="{{ collection.image.alt | escape }}"
      ></span>
    {%- endif -%}
  {%- endif -%}
{%- endcapture -%}


{%- capture collection_image_top -%}
  <div class="shell tp">
  {%- for i in (1..collection_top_images.size) -%}
    <a href="{{ collection_top_url[forloop.index0] }}"><img class="hide-mobile" src="{{ collection_top_images[forloop.index0][0].src }}" />{% if collection_top_images_mobile[forloop.index0][0].src != blank %}<img class="visible-mobile" src="{{ collection_top_images_mobile[forloop.index0][0].src }}" />{% else %}<img class="visible-mobile" src="{{ collection_top_images[forloop.index0][0].src }}" />{% endif %}</a>
  {%- endfor -%}
  </div>
{%- endcapture -%}

{%- capture collection_image_bottom -%}
<div class="shell btm {{collection_bottom_images.size}}">
  {%- for i in (1..collection_bottom_images.size) -%}

    <a href="{{ collection_bottom_url[forloop.index0] }}" att="{{collection_bottom_images_mobile[forloop.index0][0].src}}">
      <img class="g hide-mobile" src="{{ collection_bottom_images[forloop.index0][0].src }}" onerror="this.onerror=null;this.style='display:none !important';" />
      {% if collection_bottom_images_mobile[forloop.index0][0].src != blank %}
      <img class="i visible-mobile" src="{{ collection_bottom_images_mobile[forloop.index0][0].src }}" onerror="this.onerror=null;this.style='display:none !important';" />
      {% else %}
      <img class="e visible-mobile" src="{{ collection_bottom_images[forloop.index0][0].src }}" onerror="this.onerror=null;this.style='display:none !important';" />
      {% endif %}
    </a>
  {%- endfor -%}
</div>
{%- endcapture -%}

{% comment %}END Mobile metafields{% endcomment %}

{% style %}
  .section-collection .section__head {
    background-color: {{ _section.content_bg_color }};
    color: {{ _section.content_color }};
  }

  @media (max-width: 1024px) {
    .section-collection .section__head {
      background-color: {{ banner_mobile_background_color }};
      color: {{ _section.content_color }};
    }

    .section-collection .section__head h1 {
      color: {{ banner_mobile_heading_color }};
    }

    .section-collection .section__head .section__description {
      color: {{ banner_mobile_subheading_color }};
    }
	.section-collection .section__head {
        margin-bottom: 0px;
    }
  }
{% endstyle %}
<div class="section-collection-v2-wrapper">
<aside class="collection-aside-v2">
  <div class="sidebar__inner">
    <div class="aside-title">
      <h1 class="hidden-xs">{{- collection.title -}}</h1>

      <h1 class="visible-xs-block">{{- banner_mobile_heading_text -}}</h1>
    </div>
  </div>
</aside>
<section class="section-collection section-collection-v2 js-collection">
  {%- if collection_has_image or collection_has_description -%}
    <header class="section__head {{ collection_head_classes }}">
      {{- collection_image_top -}}
		 {%- if collection.description != blank -%}
        <div class="section__content">
          <div class="shell">
            {%- if collection.description != blank -%}
              <div class="section__description">
                {{- collection.description -}}
              </div><!-- /.section__description -->
            {%- endif -%}
          </div><!-- /.shell -->
        </div><!-- /.section__content -->
		 {%- endif -%}
      {{- collection_image_bottom -}}

    </header><!-- /.section__head -->
  {%- endif -%}

    {%- assign filters_counter = 0 -%}

    {%- for plp_product in collection.products -%}
      {%- for product_option in plp_product.options_with_values -%}
        {%- assign option_name_handle = product_option.name | handle -%}

        {%- if option_name_handle == 'size' -%}
          {%- for value in product_option.values -%}
            {% assign plp_variant_available = false %}

            {% if plp_product.variants != nil %}
              {% if plp_product.variants[forloop.index0].available %}
                {% assign plp_variant_available = true %}
              {% endif %}
            {% else %}
              {% if plp_product.available %}
                {% assign plp_variant_available = true %}
              {% endif %}
            {% endif %}

            {%- if value == filter_tag -%}
              {%- if plp_variant_available -%}
                {%- assign filters_counter = filters_counter | plus: 1 -%}
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endfor -%}

  {%- paginate collection.products by collection_products_per_page -%}
    <div class="section__container">
      <div class="shell{% if collection_grid_is_fullwidth %} shell--fluid{% endif %}">
        <div class="section__inner">
          {%- if collection_has_side_nav_filters and prefixes_array != '' -%}
            <aside class="section__aside js-stick-in-parent" data-recalc="true">
              {%- include 'filters', has_id: true -%}
            </aside><!-- /.section__aside -->
          {%- endif -%}

          <div class="section__body js-stick-in-parent" data-recalc="true">
            <div data-deskrow="{{- collection_products_per_row_desktop | default: 4 -}}" data-mobilerow="{{- collection_products_per_row_mobile | default: 2 -}}" class="grid {{ grid_layout_class }}{% if collection_products_per_row_mobile == 2 %} grid--layout-mobile-2{% endif %}{% if is_alternate_loading %} js-collection-products{% endif %}" id="collection-grid">

              {%- for ___product in collection.products -%}
                {%- assign forloop_index = forloop.index0 -%}
                {%- assign additional_product_item_classes = '' -%}
                {%- assign is_half_on_mobile = false -%}

                {%- if collection_products_per_row_mobile == 2 -%}
                  {%- assign additional_product_item_classes = additional_product_item_classes | append: 'product-item--half-mobile' -%}
                  {%- assign is_half_on_mobile = true -%}
                {%- endif -%}

                {%- include 'collection-marketing-block' -%}

                {% for tag in product.tags %}
                  {% if tag contains '_featured' %}
                      {% assign horizontal = true %}
                    {% break %}
                  {% endif %}
                {% endfor %}

                {%- assign show_product = true -%}

                {%- for product_option in ___product.options_with_values -%}
                  {%- assign option_name_handle = product_option.name | handle -%}

                  {%- if option_name_handle == 'size' -%}
                    {%- for value in product_option.values -%}
                      {% assign variant_available2 = false %}

                      {% if ___product.variants != nil %}
                        {% if ___product.variants[forloop.index0].available %}
                          {% assign variant_available2 = true %}
                        {% endif %}
                      {% else %}
                        {% if ___product.available %}
                          {% assign variant_available2 = true %}
                        {% endif %}
                      {% endif %}

                      {%- if value == filter_tag -%}
                        {%- assign show_product = variant_available2 -%}
                      {%- endif -%}
                    {%- endfor -%}
                  {%- endif -%}
                {%- endfor -%}

                {%- if show_product -%}
                    <div class="product grid__item {% comment %}{% if horizontal == true %}grid__item--large {% endif %} {% if ___product.tags contains '_featured' %} grid__item--large{% endif %}{% endcomment %}">
                      {%- include 'product-item', current_product: ___product, show_video: true, additional_classes: additional_product_item_classes, is_half_on_mobile: is_half_on_mobile -%}
                    </div><!-- /.grid__item -->
                {%- endif -%}

              {%- else -%}
                <p class="grid__item--empty">{{- 'collections.general.no_matches' | t -}}</p><!-- /.grid__item -->
              {%- endfor -%}
            </div><!-- /.grid -->

          </div><!-- /.section__body -->
        </div><!-- /.section__inner -->
      </div><!-- /.shell -->
    </div><!-- /.section__container -->

    <footer class="section__foot js-pagination{% unless collection.products_count > collection_products_per_page %} hidden{% endunless %}">
      <div class="shell">
        {%- assign pagination_class = 'paging paging--default' -%}

        {%- if is_alternate_loading -%}
          {%- assign pagination_class = pagination_class | append: ' hidden' -%}
        {%- endif -%}


        {%- include 'pagination', class: pagination_class, alternate_load: is_alternate_loading -%}

        {%- if is_alternate_loading -%}
          <div class="section__foot__infinite">
            <div class="section__foot__next">
              <a href="{{ paginate.next.url }}" class="js-pagination__next"></a>
            </div>

            <div class="page-load-status">
              <p class="infinite-scroll-request">
                {%- if _section.inf_loading != blank -%}
                  {{ _section.inf_loading }}
                {%- endif -%}
              </p>

              <p class="infinite-scroll-last">
                {%- if _section.inf_last != blank -%}
                  {{ _section.inf_last }}
                {%- endif -%}
              </p>

              <p class="infinite-scroll-error">No more pages to load</p>
            </div>
          </div><!-- /.section__foot__infinite -->

          {% comment %}<div class="section__foot-actions{% unless collection.products_count > collection_products_per_page %} hidden{% endunless %}">
            <a href="#" class="btn{% if collection_pagination_type == 'ajax_auto_load' %} js-lazy-load-more is-hidden{% endif %}{% unless paginate.next.url %} hidden{% endunless %} js-load-more">
              {{- 'collections.products.load_more' | t -}}
            </a>
          </div><!-- /.section__foot-actions -->{% endcomment %}
        {%- endif -%}
      </div><!-- /.shell -->
    </footer><!-- /.section__foot -->
  {%- endpaginate -%}
</section><!-- /.section-collection -->
</div>
<div class="sticky-stopper"></div>
<style>
  .product-item .product__variants li {max-width:65px;}
  a#more img {text-align: center; margin: 0 auto;display: block;}
  .hide-mobile{display:block !important;}
  .visible-mobile{display:none !important;}
  @media only screen and (max-width: 1440px) {
    .product-item .product__variants li {max-width:60px;}
  }
  @media only screen and (max-width: 1350px) {
    .product-item .product__variants li {max-width:54px;}
  }
  @media only screen and (max-width: 1245px) {
    .product-item .product__variants li {max-width:48px;}
  }
  @media only screen and (max-width: 768px) {
    .hide-mobile{display:none !important;}
    .visible-mobile{display:block !important;}
  }
  /*
  .template-collection .section__body .grid {
    grid-template-columns: none;
    grid-gap: unset;
    grid-auto-flow: unset;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left:-30px;
  }
  .product-item {
    height: auto !important;
  }
  .product-item .product__media {
    height: auto !important;
  }
  .product-item .product__content--spacing-small .product__meta {
    height: auto !important;
  }
  .template-collection .section__body .grid .grid__item {width:25%;padding-left: 30px;}
  .template-collection .section__body .grid .grid__item--large {width:50%}
  .template-collection .section__body .grid .grid__item--large .product-item .product__image {height: 100%;}

  @media only screen and (max-width: 450px) {
    .template-collection .section__body .grid .grid__item {
      width: 100%;
    }
    .template-collection .section__body .grid .grid__item--large {width:100%}
    .product-item .product__image {height:auto !important}
  }
  @media only screen and (max-width: 767px) {
    .template-collection .section__body .grid .grid__item {
      width: 50%;
    }
    .template-collection .section__body .grid .grid__item--large {width:50%}
    .product-item .product__image {height:auto !important}
  }
  */

  /*
  .product-item .product__image {
  height: 270px;
  background-size: contain !important;
  }
  .product-item .product__media{
  padding-top: 90.24%;
  }
  */
</style>


{% schema %}
{
  "name": "Collection template",
  "settings": [
    {
      "type": "header",
      "content": "Collection intro"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "label": "Show collection image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show collection description",
      "default": true
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Collection image/description layout",
      "options": [
        {
          "value": "1/3 content, 2/3 image",
          "label": "1/3 content, 2/3 image"
        },
        {
          "value": "2/3 content, 1/3 image",
          "label": "2/3 content, 1/3 image"
        },
        {
          "value": "1/2 content, 1/2 image",
          "label": "1/2 content, 1/2 image"
        },
        {
          "value": "fullwidth",
          "label": "Fullwidth"
        }
      ],
      "default": "fullwidth"
    },
    {
      "type": "checkbox",
      "id": "reverse_image_content",
      "label": "Reverse image/description",
      "default": false
    },
    {
      "type": "select",
      "id": "content_align",
      "label": "Description text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "color",
      "id": "content_color",
      "label": "Description color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "content_bg_color",
      "label": "Description background color",
      "default": "#fff"
    },
    {
      "type": "checkbox",
      "id": "image_overlay",
      "label": "Apply image overlay",
      "default": true
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "checkbox",
      "id": "show_sort",
      "label": "Show Sort By",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_products_count",
      "label": "Show Products Count",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_breadcrumbs",
      "label": "Show breadcrumbs",
      "default": true
    },
    {
      "type": "header",
      "content": "Filters"
    },
    {
      "type": "checkbox",
      "id": "show_filters",
      "label": "Show filters",
      "default": false
    },
    {
      "type": "select",
      "id": "filters_layout",
      "label": "Filters position",
      "options": [
        {
          "value": "vertical",
          "label": "Left side - vertical"
        },
        {
          "value": "horizontal",
          "label": "Top - horizontal"
        }
      ],
      "default": "horizontal"
    },
    {
      "type": "textarea",
      "id": "filters_prefixes",
      "label": "Filters prefixes (comma-seperated list with colon seperator)",
      "info": "Add all filters prefixes, which you want to show in collection filters as categories. Example: 'type:,style:,other:'. For colors, use prefix 'color:'"
    },
    {
      "type": "header",
      "content": "Grid"
    },
    {
      "type": "checkbox",
      "id": "grid_fullwidth",
      "label": "Fullwidth",
      "default": false
    },
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 50,
      "step": 1,
      "label": "Products per page",
      "default": 8
    },
    {
      "type": "checkbox",
      "id": "no_hover",
      "label":"No hover",
      "default":true,
      "info":"When this box is checked off, when the user hovers over the video, it will not rollover to the next product image"
    },
    {
      "type": "header",
      "content": "Pagination"
    },
    {
      "type": "select",
      "id": "pagination_type",
      "label": "Pagination type",
      "options": [
        {
          "value": "pagination",
          "label": "Pagination"
        },
        {
          "value": "ajax_manual_load",
          "label": "Load More"
        }
      ],
      "default": "pagination"
    },
    {
      "type": "header",
      "content": "Infinite scroll messages"
    },
    {
      "type": "text",
      "id": "inf_loading",
      "label": "Loading",
      "default": "Loading..."
    },
    {
      "type": "text",
      "id": "inf_last",
      "label": "Last page",
      "default": "End of content"
    }
  ]
}
{% endschema %}
{%- comment -%}
TRW 02/02/2021 Pagination type remove option for ajax load
  {
    "value": "ajax_auto_load",
    "label": "Lazy Load"
  }
{%- endcomment -%}
<style>

  /*.grid {
    display: flex;
    grid-gap: inherit;
    grid-auto-flow: dense;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.grid--layout-4 .grid__item {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 20px;
    padding-left: 20px;
}
.grid--layout-3 .grid__item {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding-right: 20px;
    padding-left: 20px;
}
.grid--layout-2 .grid__item {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 20px;
    padding-left: 20px;
}
  */
  @media only screen and (max-width: 767px) {
    .product__form .form-product {
      display: block;
    }
  }

</style>
{%- comment -%} TRW 02/05/2021
,
	{
      "type": "range",
      "id": "products_per_row_desktop",
      "label": "Per row desktop",
      "default": 4,
      "min": 2,
      "max": 5,
      "step": 1
    },
   {
      "type": "range",
      "id": "products_per_row_mobile",
      "label": "Per row mobile",
      "default": 1,
      "min": 1,
      "max": 3,
      "step": 1
    }
{%- endcomment -%}
