{%- assign _section = section.settings -%}

{%- if
  _section.heading_text_desktop != blank or
  _section.subheading_text_desktop != blank or
  _section.body_text_desktop != blank
-%}
  <section class="section-textual" id="section-textual-{{- section.id -}}">
    <div class="section__inner">
      {%- if _section.heading_text_desktop != blank -%}
        <h6 class="h6-small{% if _section.heading_text_mobile != blank %} hidden-xs{% endif %}">{{- _section.heading_text_desktop -}}</h6>

        {%- if _section.heading_text_mobile != blank -%}
          <h6 class="h6-small visible-xs-block">{{- _section.heading_text_mobile -}}</h6>
        {%- endif -%}
      {%- endif -%}

      {%- if _section.subheading_text_desktop != blank -%}
        <h2 class="{% if _section.subheading_text_mobile != blank %} hidden-xs{% endif %}">{{- _section.subheading_text_desktop -}}</h2>

        {%- if _section.subheading_text_mobile != blank -%}
          <h2 class="visible-xs-block">{{- _section.subheading_text_mobile -}}</h2>
        {%- endif -%}
      {%- endif -%}

      {%- if _section.body_text_desktop != blank -%}
        <p class="{% if _section.body_text_mobile != blank %} hidden-xs{% endif %}">{{- _section.body_text_desktop -}}</p>

        {%- if _section.body_text_mobile != blank -%}
          <p class="visible-xs-block">{{- _section.body_text_mobile -}}</p>
        {%- endif -%}
      {%- endif -%}

      {%- if _section.btn_text_desktop != blank and _section.btn_url != blank -%}
        <div class="section__actions">
          <a href="{{- _section.btn_url -}}" class="btn{% if _section.btn_text_mobile != blank %} hidden-xs{% endif %}">{{- _section.btn_text_desktop -}}</a>

          {% if _section.btn_text_mobile != blank %}
            <a href="{{- _section.btn_url -}}" class="btn visible-xs-inline-block">{{- _section.btn_text_mobile -}}</a>
          {% endif %}
        </div><!-- /.section__actions -->
      {%- endif -%}
    </div><!-- /.section__inner -->
  </section><!-- /.section-textual -->
{%- endif -%}

<style type="text/css" media="screen" id="section-{{- section.id -}}">
  .section-textual#section-textual-{{- section.id -}} {
    background-color: {{ _section.bg_color }};
  }

  .section-textual#section-textual-{{ section.id }} h6 {
    font-size: {{ _section.heading_size_desktop }}px;
    text-align: {{ _section.heading_align_desktop }};
    color: {{ _section.heading_color_desktop }};
    padding-top: {{ _section.heading_space_above_desktop }}px;
    padding-bottom: {{ _section.heading_space_below_desktop }}px;
  }

  .section-textual#section-textual-{{ section.id }} h2 {
    font-size: {{ _section.subheading_size_desktop }}px;
    text-align: {{ _section.subheading_align_desktop }};
    color: {{ _section.subheading_color_desktop }};
    padding-top: {{ _section.subheading_space_above_desktop }}px;
    padding-bottom: {{ _section.subheading_space_below_desktop }}px;
  }

  .section-textual#section-textual-{{ section.id }} p {
    font-size: {{ _section.body_size_desktop }}px;
    text-align: {{ _section.body_align_desktop }};
    color: {{ _section.body_color_desktop }};
    padding-top: {{ _section.body_space_above_desktop }}px;
    padding-bottom: {{ _section.body_space_below_desktop }}px;
  }

  .section-textual#section-textual-{{ section.id }} .section__actions {
    text-align: {{ _section.btn_align_desktop }};
    padding-top: {{ _section.btn_spacing_above_desktop }}px;
    padding-bottom: {{ _section.btn_spacing_below_desktop }}px;
  }

  .section-textual#section-textual-{{ section.id }} .section__actions a {
    background-color: {{ _section.btn_bg_color_desktop }};
    color: {{ _section.btn_color_desktop }};
    font-size: {{ _section.btn_size_desktop }}px;
  }

  @media (max-width: 767px) {
    .section-textual#section-textual-{{ section.id }} h6 {
      font-size: {{ _section.heading_size_mobile }}px;
      text-align: {{ _section.heading_align_mobile }};
      color: {{ _section.heading_color_mobile }};
      padding-top: {{ _section.heading_space_above_mobile }}px;
      padding-bottom: {{ _section.heading_space_below_mobile }}px;
    }

    .section-textual#section-textual-{{ section.id }} h2 {
      font-size: {{ _section.subheading_size_mobile }}px;
      text-align: {{ _section.subheading_align_mobile }};
      color: {{ _section.subheading_color_mobile }};
      padding-top: {{ _section.subheading_space_above_mobile }}px;
      padding-bottom: {{ _section.subheading_space_below_mobile }}px;
    }

    .section-textual#section-textual-{{ section.id }} p {
      font-size: {{ _section.body_size_mobile }}px;
      text-align: {{ _section.body_align_mobile }};
      color: {{ _section.body_color_mobile }};
      padding-top: {{ _section.body_space_above_mobile }}px;
      padding-bottom: {{ _section.body_space_below_mobile }}px;
    }

    .section-textual#section-textual-{{ section.id }} .section__actions {
      text-align: {{ _section.btn_align_mobile }};
      padding-top: {{ _section.btn_spacing_above_mobile }}px;
      padding-bottom: {{ _section.btn_spacing_below_mobile }}px;
    }

    .section-textual#section-textual-{{ section.id }} .section__actions a {
      background-color: {{ _section.btn_bg_color_mobile }};
      color: {{ _section.btn_color_mobile }};
      font-size: {{ _section.btn_size_mobile }}px;
    }
  }
</style>

{% schema %}
{
  "name": "Editorial",
  "class": "fade-in js-fade-in",
  "settings": [
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#fff"
    },
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "paragraph",
      "content": "Desktop"
    },
    {
      "type": "textarea",
      "id": "heading_text_desktop",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "heading_color_desktop",
      "label": "Color",
      "default": "#333"
    },
    {
      "type": "range",
      "id": "heading_size_desktop",
      "min": 10,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Size",
      "default": 16
    },
    {
      "type": "select",
      "id": "heading_align_desktop",
      "label": "Horizontal align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "heading_space_above_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Spacing above",
      "default": 0
    },
    {
      "type": "range",
      "id": "heading_space_below_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Spacing below",
      "default": 30
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "textarea",
      "id": "heading_text_mobile",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "heading_color_mobile",
      "label": "Color",
      "default": "#333"
    },
    {
      "type": "range",
      "id": "heading_size_mobile",
      "min": 10,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Size",
      "default": 16
    },
    {
      "type": "select",
      "id": "heading_align_mobile",
      "label": "Horizontal align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "heading_space_above_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Spacing above",
      "default": 0
    },
    {
      "type": "range",
      "id": "heading_space_below_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Spacing below",
      "default": 30
    },
    {
      "type": "header",
      "content": "Subheading"
    },
    {
      "type": "paragraph",
      "content": "Desktop"
    },
    {
      "type": "textarea",
      "id": "subheading_text_desktop",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "subheading_color_desktop",
      "label": "Color",
      "default": "#000"
    },
    {
      "type": "range",
      "id": "subheading_size_desktop",
      "min": 12,
      "max": 80,
      "step": 1,
      "unit": "px",
      "label": "Size",
      "default": 50
    },
    {
      "type": "select",
      "id": "subheading_align_desktop",
      "label": "Horizontal align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "subheading_space_above_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Spacing above",
      "default": 0
    },
    {
      "type": "range",
      "id": "subheading_space_below_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Spacing below",
      "default": 30
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "textarea",
      "id": "subheading_text_mobile",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "subheading_color_mobile",
      "label": "Color",
      "default": "#333"
    },
    {
      "type": "range",
      "id": "subheading_size_mobile",
      "min": 10,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Size",
      "default": 36
    },
    {
      "type": "select",
      "id": "subheading_align_mobile",
      "label": "Horizontal align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "subheading_space_above_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Spacing above",
      "default": 0
    },
    {
      "type": "range",
      "id": "subheading_space_below_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Spacing below",
      "default": 30
    },
    {
      "type": "header",
      "content": "Body"
    },
    {
      "type": "paragraph",
      "content": "Desktop"
    },
    {
      "type": "textarea",
      "id": "body_text_desktop",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "body_color_desktop",
      "label": "Color",
      "default": "#333"
    },
    {
      "type": "range",
      "id": "body_size_desktop",
      "min": 10,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Size",
      "default": 16
    },
    {
      "type": "select",
      "id": "body_align_desktop",
      "label": "Horizontal align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "body_space_above_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Spacing above",
      "default": 0
    },
    {
      "type": "range",
      "id": "body_space_below_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Spacing below",
      "default": 57
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "textarea",
      "id": "body_text_mobile",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "body_color_mobile",
      "label": "Color",
      "default": "#333"
    },
    {
      "type": "range",
      "id": "body_size_mobile",
      "min": 10,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Size",
      "default": 16
    },
    {
      "type": "select",
      "id": "body_align_mobile",
      "label": "Horizontal align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "body_space_above_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Spacing above",
      "default": 0
    },
    {
      "type": "range",
      "id": "body_space_below_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Spacing below",
      "default": 40
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "URL"
    },
    {
      "type": "paragraph",
      "content": "Desktop"
    },
    {
      "type": "text",
      "id": "btn_text_desktop",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "btn_bg_color_desktop",
      "label": "Background color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "btn_color_desktop",
      "label": "Color",
      "default": "#fff"
    },
    {
      "type": "range",
      "id": "btn_size_desktop",
      "min": 10,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "Size",
      "default": 16
    },
    {
      "type": "select",
      "id": "btn_align_desktop",
      "label": "Horizontal align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "btn_spacing_above_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Spacing above",
      "default": 0
    },
    {
      "type": "range",
      "id": "btn_spacing_below_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Spacing below",
      "default": 0
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "text",
      "id": "btn_text_mobile",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "btn_bg_color_mobile",
      "label": "Background color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "btn_color_mobile",
      "label": "Color",
      "default": "#fff"
    },
    {
      "type": "range",
      "id": "btn_size_mobile",
      "min": 10,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "Size",
      "default": 16
    },
    {
      "type": "select",
      "id": "btn_align_mobile",
      "label": "Horizontal align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "btn_spacing_above_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Spacing above",
      "default": 0
    },
    {
      "type": "range",
      "id": "btn_spacing_below_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Spacing below",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Editorial",
      "category": "Textual"
    }
  ]
}
{% endschema %}
