{%- assign _section = section.settings -%}
{%- assign _blocks = section.blocks -%}

{%- if _blocks.size > 0 -%}
  <div class="slider-tiles-large" id="slider-tiles-large-{{- section.id -}}">
    <div class="shell">
      <div class="slider__inner">
        <header class="slider__head">
          {%- if _section.heading_text_desktop != blank -%}
            <h2 class="{%- if _section.heading_text_mobile != blank -%}hidden-xs{%- endif -%}">{{- _section.heading_text_desktop | newline_to_br -}}</h2>

            {%- if _section.heading_text_mobile != blank -%}
              <h2 class="visible-xs-block">{{- _section.heading_text_mobile | newline_to_br -}}</h2>
            {%- endif -%}
          {%- endif -%}

          <div class="slider__nav js-slider-tiles-large-nav"></div><!-- /.slider__nav js-slider-tiles-large-nav -->
        </header><!-- /.slider__head -->

        <div class="slider__clip">
          <div class="slider__slides js-slider-tiles-large">
            {%- for block in _blocks -%}
              {%- if block.settings.article_item != blank -%}
                {%- assign _article = articles[block.settings.article_item] -%}

                {%- include 'article-item', _article: _article -%}
              {%- endif -%}
            {%- endfor -%}
          </div><!-- /.slider__slides js-slider-tiles-large -->
        </div><!-- /.slider__clip -->
      </div><!-- /.slider__inner -->
    </div><!-- /.shell -->
  </div><!-- /.slider-tiles-large -->
{%- endif -%}

<style type="text/css" media="screen" id="section-{{- section.id -}}">
  .slider-tiles-large#slider-tiles-large-{{ section.id }} {
    color: {{ _section.heading_color_desktop }};
    background-color: {{ _section.bg_color_desktop }};
  }

  .slider-tiles-large#slider-tiles-large-{{ section.id }} h2,
  .slider-tiles-large#slider-tiles-large-{{ section.id }} h5 {
    color: inherit;
  }

  .slider-tiles-large#slider-tiles-large-{{ section.id }} h2 {
    font-size: {{ _section.heading_size_desktop }}px;
  }

  @media (max-width: 768px) {
    .slider-tiles-large#slider-tiles-large-{{ section.id }} {
      color: {{ _section.heading_color_mobile }};
      background-color: {{ _section.bg_color_mobile }};
    }

    .slider-tiles-large#slider-tiles-large-{{ section.id }} h2 {
      font-size: {{ _section.heading_size_mobile }}px;
    }
  }
</style>

{% schema %}
{
  "name": "Featured articles",
  "class": "fade-in js-fade-in",
  "settings": [
    {
      "type": "header",
      "content": "Background color"
    },
    {
      "type": "paragraph",
      "content": "Desktop"
    },
    {
      "type": "color",
      "id": "bg_color_desktop",
      "label": "Color",
      "default": "#000"
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "color",
      "id": "bg_color_mobile",
      "label": "Color",
      "default": "#000"
    },
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "paragraph",
      "content": "Desktop"
    },
    {
      "type": "textarea",
      "id": "heading_text_desktop",
      "label": "Text"
    },
    {
      "type": "range",
      "id": "heading_size_desktop",
      "min": 12,
      "max": 80,
      "step": 1,
      "unit": "px",
      "label": "Size",
      "default": 50
    },
    {
      "type": "color",
      "id": "heading_color_desktop",
      "label": "Color",
      "default": "#fff"
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "textarea",
      "id": "heading_text_mobile",
      "label": "Text"
    },
    {
      "type": "range",
      "id": "heading_size_mobile",
      "min": 12,
      "max": 80,
      "step": 1,
      "unit": "px",
      "label": "Size",
      "default": 36
    },
    {
      "type": "color",
      "id": "heading_color_mobile",
      "label": "Color",
      "default": "#fff"
    }
  ],
  "blocks": [
    {
      "type": "article",
      "name": "Article",
      "settings": [
        {
          "type": "article",
          "id": "article_item",
          "label": "Article"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured articles",
      "category": "Blogs"
    }
  ]
}
{% endschema %}
