{%- assign _section = section.settings -%}
{%- assign _blocks = section.blocks -%}
{%- assign layout_class = '' -%}

{% if _section.logo_position == 'center' %}
	{%- assign layout_class = ' header__inner--logo-center' -%}
{%- elsif _section.logo_position == 'above' -%}
	{%- assign layout_class = ' header__inner--logo-above' -%}
{% endif %}

<div class="header__inner{{ layout_class }}">
	{%- if _section.logo != blank or _section.logo_html != blank -%}
		<div class="header__logo">
			<a href="{{- routes.root_url -}}" title="{{- shop.name -}}">
				{%- if _section.logo != blank and _section.logo_html == blank -%}
					<img src="{{- _section.logo | img_url: '160x' -}}" alt="{{- _section.logo.alt | escape -}}">
				{%- endif -%}

				{%- if _section.logo_html != blank -%}
					{{- _section.logo_html -}}
				{%- endif -%}
			</a>
		</div><!-- /.header__logo -->
	{%- endif -%}

	<div class="header__nav" id="main-nav">
		<a href="#main-nav" class="header__nav-close js-click js-trigger-no-scroll">
			{%- include 'icons', icon: 'close' -%}
		</a>

		{%- if _section.main_nav != blank -%}
		 	<nav class="nav{% if _section.logo_position == 'center' %} nav--left{% endif %}">
				{%- include 'megamenu', nav: _section.main_nav -%}
		 	</nav><!-- /.nav -->
		{%- endif -%}
	</div><!-- /.header__nav -->

	<a href="#main-nav" class="header__nav-overlay visible-xs-block visible-sm-block js-click js-trigger-no-scroll"></a>

	<div class="header__utils">
		<nav class="nav-utils">
			<ul>
				<li class="visible-xs-inline-block visible-sm-inline-block">
					<a href="#main-nav" class="btn-menu js-click js-trigger-no-scroll">
						{{- 'megamenu.toggle_nav' | t -}}

						{%- include 'icons', icon: 'menu' -%}
					</a>
				</li><!-- /.visible-xs-inline-block visible-sm-inline-block -->
              

				{%- if shop.customer_accounts_enabled -%}
					{%- if customer -%}
						<li class="hidden-xs hidden-sm">
							<a href="{{- routes.account_url -}}">
								{{- 'layout.customer.account' | t -}}

								{%- include 'icons', icon: 'user' -%}
							</a>
						</li>
					{%- else -%}
						<li class="hidden-xs hidden-sm">
							<a href="{{- routes.account_login_url -}}">
								{{- 'layout.customer.log_in' | t -}}

								{%- include 'icons', icon: 'user' -%}
							</a>
						</li>
					{%- endif -%}
				{%- endif -%}
				<li class="mob-cart">
					{%- if settings.cart_type == 'drawer' -%}
						{%- unless template contains 'cart' -%}
							<a href="#cart-drawer" class="btn-cart js-cart-count js-mini-cart-trigger js-click js-trigger-no-scroll{% if cart.item_count > 0 %} has-items{% endif %}">
						{%- else -%}
							<a href="{{- routes.cart_url -}}" class="btn-cart js-cart-count{% if cart.item_count > 0 %} has-items{% endif %}">
						{%- endunless -%}
					{%- else -%}
						<a href="{{- routes.cart_url -}}" class="btn-cart js-cart-count{% if cart.item_count > 0 %} has-items{% endif %}">
					{%- endif -%}
						{{- 'layout.customer.cart' | t -}}

						{%- include 'icons', icon: 'cart' -%}

						<span>{{- cart.item_count -}}</span>
					</a>
				</li>

				<li>
					<a href="#header-search" class="js-click js-trigger-no-scroll js-trigger-search-focus">
						{{- 'general.search.label' | t -}}

						{%- include 'icons', icon: 'search' -%}
					</a>
				</li>
			</ul>
		</nav><!-- /.nav-utils -->
	</div><!-- /.header__utils -->
</div><!-- /.header__inner -->

<div class="header__search search" id="header-search">
	<a href="#header-search" class="search__close js-click js-trigger-no-scroll">
		{%- include 'icons', icon: 'close' -%}
	</a>

	<div class="search__inner">
		<div class="search__body">
			{%- include 'form-search' -%}
		</div><!-- /.search__body -->

		{%- if _section.popular_search_terms != blank -%}
			{%- assign terms_arr = _section.popular_search_terms | strip | split: ',' -%}
			<div class="search__foot">
				<p>
					<strong>{{- 'general.search.popular_searches' | t -}}:</strong>

					{%- for term in terms_arr -%}
						<a href="{{- term | split: '||' | last -}}">{{- term | split: '||' | first -}}</a>
					{%- endfor -%}
				</p>
			</div><!-- /.search__foot -->
		{%- endif -%}
	</div><!-- /.search__inner -->
</div><!-- /.header__search search -->
  <style type="text/css" media="screen" id="header-{{- section.id -}}">
    .other_bgcolor .header {
      background-color: {{settings.other_bg_color}};
    }
    .home_header .header {
      background-color: {{ settings.header_bg_color }}; 
    }
    .header:hover {
      background-color: {{settings.desk_bg_color}};
    }
    .header.header--scroll-color {
      background-color: {{ settings.header_scroll_bg_color }};
	}
	.home_header .header.header--scroll-color{
		top:0 !important;
	}
	.header .header__logo a {
		max-width: {{section.settings.logo_size_desk}}%; 
    }
	.header .header__logo svg {
		width: 100%; 
	}
    @media (max-width:1024px){
      .header {
        background-color:{{settings.mobile_bg_color}} !important;
	  }
	  .header.header--scroll-color {
		background-color: {{ settings.header_scroll_bg_color }} !important;
	  }
	  .header .header__logo a {
		max-width: {{section.settings.logo_size_mob}}%; 
		margin: 0 auto;
		display: block;
      }
    }
    .template-index .wrapper {
      padding-top: 0px !important;
    }
  </style>

{% schema %}
{
	"name": "Header",
	"class": "header",
	"tag": "header",
	"settings": [
		{
			"type": "header",
			"content": "Logo"
		},
		{
			"type": "image_picker",
			"id": "logo",
			"label": "Logo"
		},
		{
			"type": "range",
			"id": "logo_size_desk",
			"min": 5,
			"max": 100,
			"step": 1,
			"label": "Logo Width Desktop",
			"default": 5
		},
		{
			"type": "range",
			"id": "logo_size_mob",
			"min": 5,
			"max": 100,
			"step": 1,
			"label": "Logo Width Mobile",
			"default": 5
		},
		{
			"type": "textarea",
			"id": "logo_html",
			"label": "Logo SVG Code",
			"info": "Replaces the logo image if choosen"
		},
		{
			"type": "select",
			"id": "logo_position",
			"label": "Logo position",
			"options": [
					{
						"value": "left",
						"label": "Left"
					},
					{
						"value": "center",
						"label": "Center"
					},
					{
						"value": "above",
						"label": "Above"
					}
				],
				"default": "left",
				"info": "Center is not suitable for navigation with too many links"
		},
		{
			"type": "header",
			"content": "Main navigation"
		},
		{
			"type": "link_list",
			"id": "main_nav",
			"label": "Navigation"
		},
		{
			"type": "header",
			"content": "Search"
		},
		{
			"type": "textarea",
			"id": "popular_search_terms",
			"label": "Popular search terms"
		}
	],
	"blocks": [
		{
			"type": "featured-item",
			"name": "Featured item",
			"settings": [
				{
					"type": "text",
					"id": "link_title",
					"label": "Link title",
					"info": "The link to which the content will be attached. Allows up to two blocks per link."
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Text"
				},
				{
					"type": "url",
					"id": "hyperlink",
					"label": "Hyperlink"
				}
			]
		}
	]
}
{% endschema %}
