<style>
  .slider-hero .slider__slide-content{
  	max-width: 100%;
    width: max-content;
  }
  .slider-hero .slider__slide-content h2{
  white-space: no-wrap;
    width: inherit;
  }
</style>

{%- assign _section = section.settings -%}
{%- assign _blocks = section.blocks -%}

{%- assign layout = _section.slider_height -%}
{%- assign styles = '' -%}

{%- if _blocks.size > 0 -%}
  <section
    class="slider-hero{% if _section.slider_transition == 'zoom-out' %} slider-hero--zoom-out{% endif %} js-slider-hero"
    id="slider-hero-{{- section.id -}}"
    data-arrows="{{- _section.slider_arrows -}}"
    data-dots="{{- _section.slider_dots -}}"
    data-dots-layout="{{- _section.slider_dots_layout -}}"
    data-autoplay="{{- _section.slider_autoplay -}}"
    data-autoplay-interval="{{- _section.slider_autoplay_interval | times: 1000 -}}"
    data-transition="{{- _section.slider_transition -}}"
  >


    {%- for block in _blocks -%}
      {%- assign _block = block.settings -%}

      {%- assign has_fixed_height = false -%}

      {%- if _block.slide_video_url != blank and _block.video_height > 0 -%}
        {%- assign has_fixed_height = true -%}
      {%- endif -%}

      <div class="slider__slide" data-block-id="{{- block.id -}}">

        {%- if has_fixed_height -%}
          {% style %}
            @media (max-width: 1024px) {
              .slider__slide[data-block-id="{{- block.id -}}"] .slider__slide-wrapper--has-video {
                padding-top: {{- _block.video_height -}}px !important;
              }
            }
          {% endstyle %}
        {%- endif -%}

        <div
          class="slider__slide-wrapper{% if _block.slide_video_url != blank %} slider__slide-wrapper--has-video{% if has_fixed_height %} slider__slide-wrapper--fit{% endif %}{% endif %}"
        >

          {%- if _block.slide_video_url == blank -%}
            {%- if _block.slide_image != blank -%}
              {%- if _block.slide_image_mobile != blank -%}
                <div class="slider__slide-image hidden-xs {% if layout == 'fullscreen' and _block.slide_image != blank %} js-calc-padding-top{% endif %}"
                  {%- if layout == 'original' and _block.slide_image != blank -%}
                    style="padding-top: {{ _block.slide_image.height | times: 100.0 | divided_by: _block.slide_image.width }}%;"
                  {%- elsif layout == 'fixed' and _block.slide_image != blank -%}
                    style="padding-top: calc(100vh - 170px);"
                  {%- endif -%}
                >
                  {%- include 'lazyload-image' _image: _block.slide_image, background: true -%}
                </div><!-- /.slider__slide-image hidden-xs -->

                <div class="slider__slide-image visible-xs-block {% if layout == 'fullscreen' and _block.slide_image != blank %} js-calc-padding-top{% endif %}"
                  {%- if layout == 'original' and _block.slide_image_mobile != blank -%}
                    style="padding-top: {{ _block.slide_image_mobile.height | times: 100.0 | divided_by: _block.slide_image_mobile.width }}%;"
                  {%- elsif layout == 'fixed' and _block.slide_image_mobile != blank -%}
                    style="padding-top: calc(100vh - 170px);"
                  {%- endif -%}
                >
                  {%- include 'lazyload-image' _image: _block.slide_image_mobile, background: true -%}
                </div><!-- /.slider__slide-image hidden-xs -->
              {%- else -%}
                <div class="slider__slide-image {% if layout == 'fullscreen' and _block.slide_image != blank %} js-calc-padding-top{% endif %}">
                  {%- include 'lazyload-image' _image: _block.slide_image, background: true -%}
                </div><!-- /.slider__slide-image -->
              {%- endif -%}

              {%- if _block.slide_image_url != blank -%}
                <a
                  href="{{- _block.slide_image_url -}}"
                  class="slider__slide-overlay hidden-xs"
                  style="background-color: {{ _block.slide_overlay_color }}; opacity: {{ _block.slide_overlay_opacity | times: 0.01  }}"
                ></a>

                <a
                  href="{{- _block.slide_image_url -}}"
                  class="slider__slide-overlay visible-xs-block"
                  style="background-color: {{ _block.slide_overlay_color_mobile }}; opacity: {{ _block.slide_overlay_opacity_mobile | times: 0.01  }}"
                ></a>
              {%- else -%}
                <span
                  class="slider__slide-overlay hidden-xs"
                  style="background-color: {{ _block.slide_overlay_color }}; opacity: {{ _block.slide_overlay_opacity | times: 0.01  }}"
                ></span>

                <span
                  class="slider__slide-overlay visible-xs-block"
                  style="background-color: {{ _block.slide_overlay_color_mobile }}; opacity: {{ _block.slide_overlay_opacity_mobile | times: 0.01  }}"
                ></span>
              {%- endif -%}
            {%- endif -%}

            {%- if
              _block.slide_heading_text != blank or
              _block.slide_subheading_text != blank or
              _block.slide_btn_url != blank and _block.slide_btn_text != blank
            -%}
              {%- assign vertical_align_class = 'slider__slide-content--vertical-center' -%}
              {%- assign vertical_align_class_mobile = 'slider__slide-content--vertical-center-mobile' -%}
              {%- assign horizontal_align_class = 'slider__slide-content--horizontal-center' -%}
              {%- assign horizontal_align_class_mobile = 'slider__slide-content--horizontal-center-mobile' -%}

              {%- case _block.slide_content_vertical_position -%}
                {%- when 'top' -%}
                  {%- assign vertical_align_class = 'slider__slide-content--vertical-top' -%}
                {%- when 'bottom' -%}
                  {%- assign vertical_align_class = 'slider__slide-content--vertical-bottom' -%}
              {%- endcase -%}

              {%- case _block.slide_content_vertical_position_mobile -%}
                {%- when 'top' -%}
                  {%- assign vertical_align_class_mobile = 'slider__slide-content--vertical-top-mobile' -%}
                {%- when 'bottom' -%}
                  {%- assign vertical_align_class_mobile = 'slider__slide-content--vertical-bottom-mobile' -%}
              {%- endcase -%}

              {%- case _block.slide_content_horizontal_position -%}
                {%- when 'left' -%}
                  {%- assign horizontal_align_class = 'slider__slide-content--horizontal-left' -%}
                {%- when 'right' -%}
                  {%- assign horizontal_align_class = 'slider__slide-content--horizontal-right' -%}
              {%- endcase -%}

              {%- case _block.slide_content_horizontal_position_mobile -%}
                {%- when 'left' -%}
                  {%- assign horizontal_align_class_mobile = 'slider__slide-content--horizontal-left-mobile' -%}
                {%- when 'right' -%}
                  {%- assign horizontal_align_class_mobile = 'slider__slide-content--horizontal-right-mobile' -%}
              {%- endcase -%}

              <div class="slider__slide-content {{ vertical_align_class }}_{{block.id}} {{ horizontal_align_class }}_{{block.id}} {{ vertical_align_class_mobile }}_{{block.id}} {{ horizontal_align_class_mobile }}_{{block.id}}">
                {%- if _block.slide_heading_text != blank -%}
                  <h2 class="{%- if _block.slide_heading_text_mobile != blank -%} hidden-xs{%- endif -%}"
                    style="color: {{ _block.slide_heading_color }}; font-size: {{ _block.slide_heading_size }}px;"
                  >{{- _block.slide_heading_text | remove: '<p>' | remove: '</p>' -}}</h2>

                  {%- if _block.slide_heading_text_mobile != blank -%}
                    <h2 class="visible-xs-block"
                    style="color: {{ _block.slide_heading_color_mobile }}; font-size: {{ _block.slide_heading_size_mobile }}px;"
                  >{{- _block.slide_heading_text_mobile | remove: '<p>' | remove: '</p>' -}}</h2>
                  {%- endif -%}
                {%- endif -%}

                {%- if _block.slide_subheading_text != blank -%}
                  <h4 class="{%- if _block.slide_subheading_text_mobile != blank -%} hidden-xs{%- endif -%}"
                    style="color: {{ _block.slide_subheading_color }}; font-size: {{ _block.slide_subheading_size }}px;"
                  >{{- _block.slide_subheading_text | remove: '<p>' | remove: '</p>' -}}</h4>

                  {%- if _block.slide_subheading_text_mobile != blank -%}
                    <h4 class="visible-xs-block"
                    style="color: {{ _block.slide_subheading_color_mobile }}; font-size: {{ _block.slide_subheading_size_mobile }}px;"
                  >{{- _block.slide_subheading_text_mobile | remove: '<p>' | remove: '</p>' -}}</h4>
                  {%- endif -%}
                {%- endif -%}

                {%- if _block.slide_btn_url != blank and _block.slide_btn_text != blank -%}
                  {%- if _block.slide_btn_text_mobile != blank -%}
                    <a
                      href="{{- _block.slide_btn_url -}}"
                      id="btn-{{ block.id }}"
                      class="btn slider__btn hidden-xs"
                      style="color: {{ _block.slide_btn_color }}; background-color: {{ _block.slide_btn_bg_color }}; border-color: {{ _block.slide_btn_bg_color }}; font-size: {{ _block.slide_btn_size }}px;"
                    >
                      {{- _block.slide_btn_text -}}
                    </a>

                    <a
                      href="{{- _block.slide_btn_url -}}"
                      class="btn slider__btn visible-xs-inline-block"
                      id="btn-{{ block.id }}"
                      style="color: {{ _block.slide_btn_color_mobile }}; background-color: {{ _block.slide_btn_bg_color_mobile }}; border-color: {{ _block.slide_btn_bg_color_mobile }}; font-size: {{ _block.slide_btn_size_mobile }}px;"
                    >
                      {{- _block.slide_btn_text_mobile -}}
                    </a>
                  {%- else -%}
                    <a
                      href="{{- _block.slide_btn_url -}}"
                      class="btn slider__btn"
                      id="btn-{{ block.id }}"
                      style="color: {{ _block.slide_btn_color }}; background-color: {{ _block.slide_btn_bg_color }}; border-color: {{ _block.slide_btn_bg_color }}; font-size: {{ _block.slide_btn_size }}px;"
                    >
                      {{- _block.slide_btn_text -}}
                    </a>
                  {%- endif -%}
                {%- endif -%}
              </div><!-- /.slider__slide-content -->
            {%- endif -%}
          {% else %}
           {%- include 'slider-video' -%}
          {%- endif -%}
        </div><!-- /.slider__slide-wrapper -->
      </div><!-- /.slider__slide -->

      {%- capture styles -%}
        {{- styles -}}

        <style type="text/css">
          .slider-hero #btn-{{ block.id }}:hover {
            background-color: {{ _block.slide_btn_hover_color }} !important;
            border-color: {{ _block.slide_btn_hover_color }} !important;
          }

          .slider-hero .slider__slide[data-block-id="{{- block.id -}}"] {
            background-color: {{ _block.background_color }};
          }
          .slider-hero#slider-hero-{{ section.id }} .slider__slide[data-block-id="{{- block.id -}}"] .slider__slide-content, .slider-hero#slider-hero-{{ section.id }} .slider__slide[data-block-id="{{- block.id -}}"] .slider__slide-content * {
              letter-spacing: {{ _block.kerning_size }}px !important;
              line-height: {{ _block.leading_size }}% !important;
              margin-bottom: 0;
          }
          @media (min-width: 768px){
          .slider-hero .slider__slide-content--horizontal-center_{{block.id}}{
            left:{{ _block.slide_content_horizontal_position_new }}% !important;
            right:auto !important;
            transform: translate(-{{ _block.slide_content_horizontal_position_new }}%,-{{ _block.slide_content_vertical_position_new }}%) !important;
          }
          .slider-hero .slider__slide-content--vertical-center_{{block.id}}{
            top: {{ _block.slide_content_vertical_position_new }}%;
          }
          .slider-hero .slider__slide-video-btn.button_position_top-left_{{block.id}} {
              top: 20%;
              left: 10%;
          }
          .slider-hero .slider__slide-video-btn.button_position_top-right_{{block.id}} {
              top: 20%;
              right: 0%;
              left:auto;
          }
          .slider-hero .slider__slide-video-btn.button_position_bottom-left_{{block.id}} {
              bottom: 0%;
              right: auto;
              left:10%;
              top:auto;
          }
          .slider-hero .slider__slide-video-btn.button_position_bottom-right_{{block.id}} {
            bottom: 0%;
            right: 0%;
            top: auto;
            left: auto;
          }
        }
        @media (max-width: 767px){
              .slider-hero .slider__slide-content--horizontal-center-mobile_{{block.id}}{
                left:{{ _block.slide_content_horizontal_position_mobile_new }}% !important;
                transform: translate(-{{ _block.slide_content_horizontal_position_mobile_new }}%,-{{ _block.slide_content_vertical_position_mobile_new }}%) !important;
              }
              .slider-hero .slider__slide-content--vertical-center-mobile_{{block.id}}{
                top: {{ _block.slide_content_vertical_position_mobile_new }}%;
              }
              .slider-hero .slider__slide-video-btn.button_position_mobile_top-left_{{block.id}} {
              top: 20%;
              left: 10%;
          }
          .slider-hero .slider__slide-video-btn.button_position_mobile_top-right_{{block.id}} {
              top: 20%;
              right: 0%;
              left:auto;
          }
          .slider-hero .slider__slide-video-btn.button_position_mobile_bottom-left_{{block.id}} {
              bottom: 0%;
              right: auto;
              left:10%;
              top:auto;
          }
          .slider-hero .slider__slide-video-btn.button_position_mobile_bottom-right_{{block.id}} {
            bottom: 0%;
            right: 0%;
            top: auto;
            left: auto;
          }
        }
        </style>
      {%- endcapture -%}
    {%- endfor -%}
  </section><!-- /.slider-hero -->
{%- endif -%}

<style type="text/css">
  .slider-hero#slider-hero-{{ section.id }} .slick-dots {
    color: {{ _section.slider_dots_color }};
  }

  .slider-hero#slider-hero-{{ section.id }} .slick-arrow {
    color: {{ _section.slider_arrows_color }};
  }

</style>

{{- styles -}}

{% schema %}
{
  "name": "Hero slider",
  "class": "fade-in js-fade-in",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "paragraph",
      "content": "Slider height"
    },
    {
      "type": "select",
      "id": "slider_height",
      "label": "Height",
      "options": [
        {
          "value": "original",
          "label": "Original"
        },
        {
          "value": "fullscreen",
          "label": "Fullscreen"
        },
        {
          "value": "fixed",
          "label": "Fixed"
        }
      ],
      "default": "original"
    },
    {
      "type": "paragraph",
      "content": "Dots"
    },
    {
      "type": "checkbox",
      "id": "slider_dots",
      "label": "Show navigation dots",
      "default": true
    },
    {
      "type": "select",
      "id": "slider_dots_layout",
      "label": "Navigation dots location",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "color",
      "id": "slider_dots_color",
      "label": "Color",
      "default": "#000"
    },
    {
      "type": "paragraph",
      "content": "Arrows"
    },
    {
      "type": "checkbox",
      "id": "slider_arrows",
      "label": "Show navigation arrows",
      "default": true
    },
    {
      "type": "color",
      "id": "slider_arrows_color",
      "label": "Color",
      "default": "#000"
    },
    {
      "type": "header",
      "content": "Autoplay"
    },
    {
      "type": "checkbox",
      "id": "slider_autoplay",
      "label": "Autoplay slideshow",
      "default": false
    },
    {
      "type": "range",
      "id": "slider_autoplay_interval",
      "min": 1,
      "max": 15,
      "step": 1,
      "unit": "sec",
      "label": "Interval between slides",
      "default": 5
    },
    {
      "type": "select",
      "id": "slider_transition",
      "label": "Transition style",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "zoom-out",
          "label": "Zoom out"
        }
      ],
      "default": "slide"
    }
  ],
  "max_blocks": 10,
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "header",
          "content": "General"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background color",
          "default": "transparent"
        },
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "url",
          "id": "slide_image_url",
          "label": "Image URL"
        },
        {
          "type": "paragraph",
          "content": "Desktop"
        },
        {
          "type": "image_picker",
          "id": "slide_image",
          "label": "Image"
        },
        {
          "type": "color",
          "id": "slide_overlay_color",
          "label": "Overlay color",
          "default": "#000"
        },
        {
          "type": "range",
          "id": "slide_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "label": "Overlay opacity",
          "default": 16
        },
        {
          "type": "paragraph",
          "content": "Mobile"
        },
        {
          "type": "image_picker",
          "id": "slide_image_mobile",
          "label": "Image"
        },
        {
          "type": "color",
          "id": "slide_overlay_color_mobile",
          "label": "Overlay color",
          "default": "#000"
        },
        {
          "type": "range",
          "id": "slide_overlay_opacity_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "label": "Overlay opacity",
          "default": 16
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "paragraph",
          "content": "Desktop"
        },
        {
          "type": "richtext",
          "id": "slide_heading_text",
          "label": "Heading text"
        },
        {
          "type": "color",
          "id": "slide_heading_color",
          "label": "Heading color",
          "default": "#fff"
        },
        {
          "type": "range",
          "id": "slide_heading_size",
          "min": 16,
          "max": 115,
          "step": 1,
          "unit": "px",
          "label": "Heading size",
          "default": 80
        },
        {
          "type": "richtext",
          "id": "slide_subheading_text",
          "label": "Subeading text"
        },
        {
          "type": "color",
          "id": "slide_subheading_color",
          "label": "Subheading color",
          "default": "#fff"
        },
        {
          "type": "range",
          "id": "slide_subheading_size",
          "min": 14,
          "max": 110,
          "step": 1,
          "unit": "px",
          "label": "Subheading size",
          "default": 24
        },
        {
          "type": "range",
          "id": "slide_content_vertical_position_new",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Vertical alignment",
          "default": 50
        },
        {
          "type": "range",
          "id": "slide_content_horizontal_position_new",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Horizontal alignment",
          "default": 50
        },
        {
          "type": "richtext",
          "id": "slide_heading_text_mobile",
          "label": "Heading text Mobile"
        },
        {
          "type": "color",
          "id": "slide_heading_color_mobile",
          "label": "Heading color Mobile",
          "default": "#fff"
        },
        {
          "type": "range",
          "id": "slide_heading_size_mobile",
          "min": 16,
          "max": 115,
          "step": 1,
          "unit": "px",
          "label": "Heading size Mobile",
          "default": 30
        },
        {
          "type": "richtext",
          "id": "slide_subheading_text_mobile",
          "label": "Subeading text Mobile"
        },
        {
          "type": "color",
          "id": "slide_subheading_color_mobile",
          "label": "Subheading color",
          "default": "#fff"
        },
        {
          "type": "range",
          "id": "slide_subheading_size_mobile",
          "min": 14,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Subheading size",
          "default": 20
        },
        {
          "type": "range",
          "id": "slide_content_vertical_position_mobile_new",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Vertical alignment",
          "default": 50
        },
        {
          "type": "range",
          "id": "slide_content_horizontal_position_mobile_new",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Horizontal alignment",
          "default": 50
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "url",
          "id": "slide_btn_url",
          "label": "URL"
        },
        {
          "type": "paragraph",
          "content": "Desktop"
        },
        {
          "type": "text",
          "id": "slide_btn_text",
          "label": "Text"
        },
        {
          "type": "color",
          "id": "slide_btn_bg_color",
          "label": "Background color",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "slide_btn_color",
          "label": "Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "slide_btn_hover_color",
          "label": "Hover color",
          "default": "#000"
        },
        {
          "type": "range",
          "id": "slide_btn_size",
          "min": 12,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 16
        },
        {
          "type": "paragraph",
          "content": "Mobile"
        },
        {
          "type": "text",
          "id": "slide_btn_text_mobile",
          "label": "Text"
        },
        {
          "type": "color",
          "id": "slide_btn_bg_color_mobile",
          "label": "Background color",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "slide_btn_color_mobile",
          "label": "Color",
          "default": "#fff"
        },
        {
          "type": "range",
          "id": "slide_btn_size_mobile",
          "min": 12,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 16
        },
        {
          "type": "header",
          "content": "Video"
        },
        {
          "type": "checkbox",
          "id": "loop_video",
          "label": "Loop video",
          "default": false,
          "info": "If checked the video will loop automatically."
        },
        {
          "type": "url",
          "id": "video_link_url",
          "label": "Custom video link"
        },
        {
          "type": "paragraph",
          "content": "Desktop"
        },
        {
          "type": "checkbox",
          "id": "slide_video_popup_play_desk",
          "label": "Play video with sound",
          "default": true
        },
        {
          "type": "select",
          "id": "play_button_position",
          "label": "Button/Text Position",
          "options": [
            {
              "value": "top-left",
              "label": "Top Left"
            },
            {
              "value": "top-right",
              "label": "Top Right"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "bottom-left",
              "label": "Bottom Left"
            },
            {
              "value": "bottom-right",
              "label": "Bottom Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "slide_video_url",
          "label": "Video URL CDN"
        },
        {
          "type": "paragraph",
          "content": "Mobile"
        },
        {
          "type": "checkbox",
          "id": "slide_video_popup_play_mobile",
          "label": "Play video with sound",
          "default": true
        },
        {
          "type": "select",
          "id": "play_button_position_mobile",
          "label": "Button/Text Position",
          "options": [
            {
              "value": "top-left",
              "label": "Top Left"
            },
            {
              "value": "top-right",
              "label": "Top Right"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "bottom-left",
              "label": "Bottom Left"
            },
            {
              "value": "bottom-right",
              "label": "Bottom Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "slide_video_url_mobile",
          "label": "Video URL"
        },
        {
          "type": "number",
          "id": "video_height",
          "label": "Video fixed height",
          "info": "Here you can add a custom fixed size for the video height on mobile in pixels."
        },
        {
          "type": "paragraph",
          "content": "Leading and Kerning"
        },
        {
          "type": "range",
          "id": "leading_size",
          "min": 0,
          "max": 400,
          "step": 5,
          "unit": "%",
          "label": "Leading",
          "default": 175
        },
        {
          "type": "range",
          "id": "kerning_size",
          "min": -10,
          "max": 10,
          "step": 1,
          "unit": "px",
          "label": "Kerning",
          "default": 1
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero slider",
      "category": "Sliders"
    }
  ]
}
{% endschema %}
