{%- assign _section = section.settings -%}
{%- assign _blocks = section.blocks -%}
{%- assign blocks_styles = '' -%}
{%- assign slider_arrows = _section.slider_arrows -%}

{%- if _blocks.size > 0 -%}
  <div class="slider-fullwidth" id="slider-fullwidth-{{ section.id }}">
    {%- if slider_arrows -%}
      <div class="slider__nav js-slider-fullwidth-arrows"></div><!-- /.slider__nav -->
    {%- endif -%}

    <div
      class="slider__slides js-slider-fullwidth"
      data-arrows="{{- slider_arrows -}}"
      data-autoplay="{{- _section.slider_autoplay -}}"
      data-autoplay-speed="{{- _section.slider_slides_interval | times: 1000 -}}"
      data-destroy-mobile="{%- if _section.blocks_stack_mobile == 'vertical' -%}true{%- else -%}false{%- endif -%}"
    >
      {%- for block in _blocks -%}
        {%- assign _block = block.settings -%}

        <div class="tile tile--landscape" id="block-{{- block.id -}}">
          {%- if _block.image_desktop != blank and _block.video_url == blank -%}
            {%- if _block.image_url != blank -%}
              {%- if _block.image_mobile != blank -%}
                <a href="{{- _block.image_url -}}" class="tile__image lazyload hidden-xs" data-bg="{{ _block.image_desktop | img_url: 'master' }}" role="img" aria-label="{{ _block.image_desktop.alt | escape }}"></a>

                <a href="{{- _block.image_url -}}" class="tile__image lazyload visible-xs-block" data-bg="{{ _block.image_mobile | img_url: '700x' }}" role="img" aria-label="{{ _block.image_mobile.alt | escape }}"></a>
              {%- else -%}
                <a href="{{- _block.image_url -}}" class="tile__image lazyload" data-bg="{{ _block.image_desktop | img_url: 'master' }}" role="img" aria-label="{{ _block.image_desktop.alt | escape }}"></a>
              {%- endif -%}
            {%- else -%}
              {%- if _block.image_mobile != blank -%}
                <span class="tile__image lazyload hidden-xs" data-bg="{{ _block.image_desktop | img_url: 'master' }}" role="img" aria-label="{{ _block.image_desktop.alt | escape }}"></span>

                <span class="tile__image lazyload visible-xs-block" data-bg="{{ _block.image_mobile | img_url: '700x' }}" role="img" aria-label="{{ _block.image_mobile.alt | escape }}"></span>
              {%- else -%}
                <span class="tile__image lazyload" data-bg="{{ _block.image_desktop | img_url: 'master' }}" role="img" aria-label="{{ _block.image_desktop.alt | escape }}"></span>
              {%- endif -%}
            {%- endif -%}
          {%- endif -%}

          {%- if _block.video_url != blank -%}
            <div class="tile__video{% if _block.video_url_mobile != blank or _block.video_placeholder_mobile != blank %} hidden-xs{% endif %}">
              {%- assign video_type = _block.video_url.type -%}
              {%- assign video_id = _block.video_url.id -%}

              {%- case video_type -%}
                {%- when 'vimeo' -%}
                  {%- assign video_url = 'https://player.vimeo.com/video/' | append: video_id | append: '?autoplay=1&loop=1&background=1&controls=0&muted=1' -%}
                  {%- assign video_popup_url = 'https://vimeo.com/' | append: video_id -%}
                {%- when 'youtube' -%}
                  {%- assign video_url = 'https://www.youtube.com/embed/' | append: video_id | append: '?autoplay=1&controls=0&loop=1&playsinline=1&mute=1' -%}
                  {%- assign video_popup_url = 'https://www.youtube.com/watch?v=' | append: video_id -%}
              {%- endcase -%}

              {%- include 'lazyload-image' _iframe: video_url -%}

              {%- if _block.video_popup_play -%}
                <a href="{{- video_popup_url -}}" class="tile__btn-play btn-play js-popup-video">
                  <span></span>

                  {{- 'sections.hero_slider.play_in_lightbox' | t -}}
                </a>
              {%- endif -%}
            </div><!-- /.tile__video -->

            {% if _block.video_url_mobile != blank or _block.video_placeholder_mobile != blank %}
              {%- assign video_type_mobile = _block.video_url_mobile.type | default: _block.video_url.type -%}
              {%- assign video_id_mobile = _block.video_url_mobile.id | default: _block.video_url.id -%}

              {%- case video_type_mobile -%}
                {%- when 'vimeo' -%}
                  {%- assign video_url_mobile = 'https://player.vimeo.com/video/' | append: video_id_mobile | append: '?autoplay=1&loop=1&background=1&controls=0&muted=1' -%}
                  {%- assign video_popup_url_mobile = 'https://vimeo.com/' | append: video_id_mobile -%}
                {%- when 'youtube' -%}
                  {%- assign video_url_mobile = 'https://www.youtube.com/embed/' | append: video_id_mobile | append: '?autoplay=1&controls=0&loop=1&playsinline=1&mute=1' -%}
                  {%- assign video_popup_url_mobile = 'https://www.youtube.com/watch?v=' | append: video_id_mobile -%}
              {%- endcase -%}

              {%- if _block.video_placeholder_mobile != blank -%}
                <span class="tile__image visible-xs-block lazyload" data-bg="{{ _block.video_placeholder_mobile | img_url: '700x' }}" role="img" aria-label="{{ _block.video_placeholder_mobile.alt | escape }}">
                  {%- if _block.video_popup_play -%}
                    <a href="{{- video_popup_url_mobile -}}" class="tile__btn-play btn-play js-popup-video">
                      <span></span>

                      {{- 'sections.hero_slider.play_in_lightbox_mobile' | t -}}
                    </a>
                  {%- endif -%}
                </span>
              {%- else -%}
                <div class="tile__video visible-xs-block">
                  {%- include 'lazyload-image' _iframe: video_url_mobile -%}

                  {%- if _block.video_popup_play -%}
                    <a href="{{- video_popup_url_mobile -}}" class="tile__btn-play btn-play js-popup-video">
                      <span></span>

                      {{- 'sections.hero_slider.play_in_lightbox_mobile' | t -}}
                    </a>
                  {%- endif -%}
                </div><!-- /.tile__video -->
              {%- endif -%}
            {% endif %}
          {%- endif -%}

          {%- if
            _block.heading_text_desktop != blank or
            _block.subheading_text_desktop != blank or
            _block.cta_text_desktop != blank and _block.cta_url != blank
          -%}
            <div class="tile__content">
              {%- if _block.heading_text_desktop != blank -%}
                {%- if _block.heading_text_mobile != blank -%}
                  <h4 class="hidden-xs">{{- _block.heading_text_desktop | remove: '<p>' | remove: '</p>' -}}</h4>

                  <h4 class="visible-xs-block">{{- _block.heading_text_mobile | remove: '<p>' | remove: '</p>' -}}</h4>
                {%- else -%}
                  <h4>{{- _block.heading_text_desktop | remove: '<p>' | remove: '</p>' -}}</h4>
                {%- endif -%}
              {%- endif -%}

              {%- if _block.subheading_text_desktop != blank -%}
                {%- if _block.subheading_text_mobile != blank -%}
                  <h6 class="hidden-xs">{{- _block.subheading_text_desktop | remove: '<p>' | remove: '</p>' -}}</h6>

                  <h6 class="visible-xs-block">{{- _block.subheading_text_mobile | remove: '<p>' | remove: '</p>' -}}</h6>
                {%- else -%}
                  <h6>{{- _block.subheading_text_desktop | remove: '<p>' | remove: '</p>' -}}</h6>
                {%- endif -%}
              {%- endif -%}

              {%- if _block.cta_text_desktop != blank and _block.cta_url != blank -%}
                <div class="tile__actions">
                  {%- if _block.cta_text_mobile != blank -%}
                    <a class="link-more hidden-xs" href="{{- _block.cta_url -}}">{{- _block.cta_text_desktop -}}</a>
                    <a class="link-more visible-xs-inline-block" href="{{- _block.cta_url -}}">{{- _block.cta_text_mobile -}}</a>
                  {%- else -%}
                    <a href="{{- _block.cta_url -}}" class="link-more">{{- _block.cta_text_desktop -}}</a>
                  {%- endif -%}
                </div><!-- /.tile__actions -->
              {%- endif -%}
            </div><!-- /.tile__content -->
          {%- endif -%}
        </div><!-- /.tile -->

        {%- capture blocks_styles -%}
          {{- blocks_styles -}}

          <style type="text/css" media="screen" id="stylesheet-block-{{- block.id -}}">
            .tile#block-{{ block.id }} .tile__image,
            .tile#block-{{ block.id }} .tile__video {
              margin-bottom: {{ _block.image_spacing_desktop }}px;
            }

            .tile#block-{{ block.id }} .tile__image:last-child,
            .tile#block-{{ block.id }} .tile__video:last-child {
              margin-bottom: 0;
            }

            .tile#block-{{ block.id }} .tile__image:after {
              background-color: {{ _block.image_overlay_color_desktop }};
              opacity: {{ _block.image_overlay_desktop | times: 0.01  }};
            }

            .tile#block-{{ block.id }} h4 {
              font-size: {{ _block.heading_size_desktop }}px;
              text-align: {{ _block.heading_align_desktop }};
              color: {{ _block.heading_color_desktop }};
            }

            .tile#block-{{ block.id }} h6 {
              font-size: {{ _block.subheading_size_desktop }}px;
              text-align: {{ _block.subheading_align_desktop }};
              color: {{ _block.subheading_color_desktop }};
            }

            .tile#block-{{ block.id }} .tile__content a {
              font-size: {{ _block.cta_size_desktop }}px;
              color: {{ _block.cta_color_desktop }};
            }

            .tile#block-{{ block.id }} .tile__actions {
              text-align: {{ _block.cta_align_desktop }};
            }

            /* Mobile */
            @media (max-width: 767px) {
              .tile#block-{{ block.id }} .tile__image,
              .tile#block-{{ block.id }} .tile__video {
                margin-bottom: {{ _block.image_spacing_mobile }}px;
              }

              .tile#block-{{ block.id }} .tile__image:last-child,
              .tile#block-{{ block.id }} .tile__video:last-child {
                margin-bottom: 0;
              }

              .tile#block-{{ block.id }} .tile__image:after {
                background-color: {{ _block.image_overlay_color_mobile }};
                opacity: {{ _block.image_overlay_mobile | times: 0.01  }};
              }

              .tile#block-{{ block.id }} h4 {
                font-size: {{ _block.heading_size_mobile }}px;
                text-align: {{ _block.heading_align_mobile }};
                color: {{ _block.heading_color_mobile }};
              }

              .tile#block-{{ block.id }} h6 {
                font-size: {{ _block.subheading_size_mobile }}px;
                text-align: {{ _block.subheading_align_mobile }};
                color: {{ _block.subheading_color_mobile }};
              }

              .tile#block-{{ block.id }} .tile__content a {
                font-size: {{ _block.cta_size_mobile }}px;
                color: {{ _block.cta_color_mobile }};
              }

              .tile#block-{{ block.id }} .tile__actions {
                text-align: {{ _block.cta_align_mobile }};
              }
            }
          </style>
        {%- endcapture -%}
      {%- endfor -%}
    </div><!-- /.slider__slides -->
  </div><!-- /.slider-fullwidth -->
{%- endif -%}

{{- blocks_styles -}}

<style type="text/css" media="screen">
  .slider-fullwidth#slider-fullwidth-{{ section.id }} .slick-arrow {
    color: {{ _section.slider_arrows_color }};
  }

  .slider-fullwidth#slider-fullwidth-{{ section.id }} {
    background-color: {{ _section.background_color }};
  }
</style>

{% schema %}
{
  "name": "Large Image Slider",
  "class": "fade-in js-fade-in",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "transparent"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "blocks_stack_mobile",
      "label": "Blocks stacking on mobile",
      "options": [
        {
          "value": "vertical",
          "label": "Vertical"
        },
        {
          "value": "horizontal",
          "label": "Horizontal"
        }
      ],
      "default": "vertical"
    },
    {
      "type": "paragraph",
      "content": "Arrows"
    },
    {
      "type": "checkbox",
      "id": "slider_arrows",
      "label": "Show/Hide arrows",
      "default": true
    },
    {
      "type": "color",
      "id": "slider_arrows_color",
      "label": "Arrows color",
      "default": "#000"
    },
    {
      "type": "paragraph",
      "content": "Autoplay"
    },
    {
      "type": "checkbox",
      "id": "slider_autoplay",
      "label": "Autoplay",
      "default": false
    },
    {
      "type": "range",
      "id": "slider_slides_interval",
      "min": 1,
      "max": 15,
      "step": 1,
      "unit": "sec",
      "label": "Interval between slides",
      "default": 3
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "url",
          "id": "image_url",
          "label": "Image URL"
        },
        {
          "type": "paragraph",
          "content": "Desktop"
        },
        {
          "type": "image_picker",
          "id": "image_desktop",
          "label": "Image",
          "info": "Recommended image size: 1200x588 px"
        },
        {
          "type": "color",
          "id": "image_overlay_color_desktop",
          "label": "Overlay color",
          "default": "#000"
        },
        {
          "type": "range",
          "id": "image_overlay_desktop",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Overlay",
          "default": 25
        },
        {
          "type": "range",
          "id": "image_spacing_desktop",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Image spacing",
          "default": 45
        },
        {
          "type": "paragraph",
          "content": "Mobile"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image",
          "info": "Recommended image size: 600x336 px"
        },
        {
          "type": "color",
          "id": "image_overlay_color_mobile",
          "label": "Overlay color",
          "default": "#000"
        },
        {
          "type": "range",
          "id": "image_overlay_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Overlay",
          "default": 25
        },
        {
          "type": "range",
          "id": "image_spacing_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Image spacing",
          "default": 40
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "paragraph",
          "content": "Desktop"
        },
        {
          "type": "richtext",
          "id": "heading_text_desktop",
          "label": "Heading text"
        },
        {
          "type": "color",
          "id": "heading_color_desktop",
          "label": "Heading color",
          "default": "#000"
        },
        {
          "type": "range",
          "id": "heading_size_desktop",
          "min": 16,
          "max": 40,
          "step": 1,
          "unit": "px",
          "label": "Heading size",
          "default": 30
        },
        {
          "type": "select",
          "id": "heading_align_desktop",
          "label": "Heading align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "richtext",
          "id": "subheading_text_desktop",
          "label": "Subheading text"
        },
        {
          "type": "color",
          "id": "subheading_color_desktop",
          "label": "Subheading color",
          "default": "#333"
        },
        {
          "type": "range",
          "id": "subheading_size_desktop",
          "min": 12,
          "max": 36,
          "step": 1,
          "unit": "px",
          "label": "Subheading size",
          "default": 16
        },
        {
          "type": "select",
          "id": "subheading_align_desktop",
          "label": "Subheading align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "cta_text_desktop",
          "label": "Link text"
        },
        {
          "type": "url",
          "id": "cta_url",
          "label": "Link URL"
        },
        {
          "type": "color",
          "id": "cta_color_desktop",
          "label": "Link color",
          "default": "#000"
        },
        {
          "type": "range",
          "id": "cta_size_desktop",
          "min": 10,
          "max": 24,
          "step": 1,
          "unit": "px",
          "label": "Link size",
          "default": 16
        },
        {
          "type": "select",
          "id": "cta_align_desktop",
          "label": "Link align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "paragraph",
          "content": "Mobile"
        },
        {
          "type": "richtext",
          "id": "heading_text_mobile",
          "label": "Heading text"
        },
        {
          "type": "color",
          "id": "heading_color_mobile",
          "label": "Heading color",
          "default": "#000"
        },
        {
          "type": "range",
          "id": "heading_size_mobile",
          "min": 16,
          "max": 40,
          "step": 1,
          "unit": "px",
          "label": "Heading size",
          "default": 22
        },
        {
          "type": "select",
          "id": "heading_align_mobile",
          "label": "Heading align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "richtext",
          "id": "subheading_text_mobile",
          "label": "Subheading text"
        },
        {
          "type": "color",
          "id": "subheading_color_mobile",
          "label": "Subheading color",
          "default": "#333"
        },
        {
          "type": "range",
          "id": "subheading_size_mobile",
          "min": 12,
          "max": 36,
          "step": 1,
          "unit": "px",
          "label": "Subheading size",
          "default": 16
        },
        {
          "type": "select",
          "id": "subheading_align_mobile",
          "label": "Subheading align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "cta_text_mobile",
          "label": "Link text"
        },
        {
          "type": "color",
          "id": "cta_color_mobile",
          "label": "Link color",
          "default": "#000"
        },
        {
          "type": "range",
          "id": "cta_size_mobile",
          "min": 10,
          "max": 24,
          "step": 1,
          "unit": "px",
          "label": "Link size",
          "default": 16
        },
        {
          "type": "select",
          "id": "cta_align_mobile",
          "label": "Link align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "header",
          "content": "Video"
        },
        {
          "type": "checkbox",
          "id": "video_popup_play",
          "label": "Play video with sound",
          "default": true
        },
        {
          "type": "paragraph",
          "content": "Desktop"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "label": "Video URL",
          "accept": ["youtube", "vimeo"],
          "info": "Accepts YouTube or Vimeo links. Example: Vimeo: https://vimeo.com/87110435, YouTube: https://www.youtube.com/watch?v=ScMzIvxBSi4"
        },
        {
          "type": "paragraph",
          "content": "Mobile"
        },
        {
          "type": "video_url",
          "id": "video_url_mobile",
          "label": "Video URL",
          "accept": ["youtube", "vimeo"],
          "info": "Accepts YouTube or Vimeo links. Example: Vimeo: https://vimeo.com/87110435, YouTube: https://www.youtube.com/watch?v=ScMzIvxBSi4"
        },
        {
          "type": "image_picker",
          "id": "video_placeholder_mobile",
          "label": "Image placeholder for mobile"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Large Image Slider",
      "category": "Sliders"
    }
  ]
}
{% endschema %}
