{%- assign _section = section.settings -%}
{%- assign _blocks = section.blocks -%}

{%- if _blocks.size > 0 -%}
  <div class="section-logos" id="section-logos-{{- section.id -}}">
    <div class="shell">
      {%- if
        _section.heading_text_desktop != blank or
        _section.subheading_text_desktop != blank
      -%}
        <header class="section__head">
          {%- if _section.heading_text_desktop != blank -%}
            <h2 class="{%- if _section.heading_text_mobile != blank -%}hidden-xs{%- endif -%}">{{- _section.heading_text_desktop | newline_to_br -}}</h2>

            {%- if _section.heading_text_mobile != blank -%}
              <h2 class="visible-xs-block">{{- _section.heading_text_mobile | newline_to_br -}}</h2><!-- /.visible-xs-block -->
            {%- endif -%}
          {%- endif -%}

          {%- if _section.subheading_text_desktop != blank -%}
            <h6 class="{%- if _section.subheading_text_mobile != blank -%}hidden-xs{%- endif -%}">{{- _section.subheading_text_desktop | newline_to_br -}}</h6>

            {%- if _section.subheading_text_mobile != blank -%}
              <h6 class="visible-xs-block">{{- _section.subheading_text_mobile | newline_to_br -}}</h6><!-- /.visible-xs-block -->
            {%- endif -%}
          {%- endif -%}
        </header><!-- /.section__head -->
      {%- endif -%}

      <div class="section__body">
        <ul class="list-logos">
          {%- for block in _blocks -%}
            {%- assign _block = block.settings -%}

            {%- if _block.image_item != blank -%}
              {%- assign image_path = _block.image_item | img_url: '320x' -%}

              <li>
                {%- if _block.hyperlink != blank -%}
                  <a href="{{- _block.hyperlink -}}">
                {%- else -%}
                  <span>
                {%- endif -%}

                {%- include 'lazyload-image' _image: image_path -%}

                {%- if _block.hyperlink != blank -%}
                  </a>
                {%- else -%}
                  </span>
                {%- endif -%}
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul><!-- /.list-logos -->
      </div><!-- /.section__body -->
    </div><!-- /.shell -->
  </div><!-- /.section-logos -->
{%- endif -%}

<style type="text/css" media="screen" id="section-{{- section.id -}}">
  .section-logos#section-logos-{{ section.id }} {
    background-color: {{ _section.background_color }}; 
  }

  .section-logos#section-logos-{{ section.id }} h2 {
    font-size: {{ _section.heading_size_desktop }}px;
    text-align: {{ _section.heading_align_desktop }};
    color: {{ _section.heading_color_desktop }};
    padding-bottom: {{ _section.heading_space_below_desktop }}px;
  }

  .section-logos#section-logos-{{ section.id }} h6 {
    font-size: {{ _section.subheading_size_desktop }}px;
    text-align: {{ _section.subheading_align_desktop }};
    color: {{ _section.subheading_color_desktop }};
    padding-bottom: {{ _section.subheading_space_below_desktop }}px;
  }

  @media (max-width: 768px) {
    .section-logos#section-logos-{{ section.id }} h2 {
      font-size: {{ _section.heading_size_mobile }}px;
      text-align: {{ _section.heading_align_mobile }};
      color: {{ _section.heading_color_mobile }};
      padding-bottom: {{ _section.heading_space_below_mobile }}px;
    }

    .section-logos#section-logos-{{ section.id }} h6 {
      font-size: {{ _section.subheading_size_mobile }}px;
      text-align: {{ _section.subheading_align_mobile }};
      color: {{ _section.subheading_color_mobile }};
      padding-bottom: {{ _section.subheading_space_below_mobile }}px;
    }
  }
</style>

{% schema %}
{
  "name": "Logo list",
  "class": "fade-in js-fade-in",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "transparent"
    },
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "paragraph",
      "content": "Desktop"
    },
    {
      "type": "textarea",
      "id": "heading_text_desktop",
      "label": "Text"
    },
    {
      "type": "range",
      "id": "heading_size_desktop",
      "min": 12,
      "max": 80,
      "step": 1,
      "unit": "px",
      "label": "Size",
      "default": 50
    },
    {
      "type": "color",
      "id": "heading_color_desktop",
      "label": "Color",
      "default": "#000"
    },
    {
      "type": "select",
      "id": "heading_align_desktop",
      "label": "Horizontal align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "heading_space_below_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Space below",
      "default": 50
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "textarea",
      "id": "heading_text_mobile",
      "label": "Text"
    },
    {
      "type": "range",
      "id": "heading_size_mobile",
      "min": 12,
      "max": 80,
      "step": 1,
      "unit": "px",
      "label": "Size",
      "default": 36
    },
    {
      "type": "color",
      "id": "heading_color_mobile",
      "label": "Color",
      "default": "#000"
    },
    {
      "type": "select",
      "id": "heading_align_mobile",
      "label": "Horizontal align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "heading_space_below_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Space below",
      "default": 50
    },
    {
      "type": "header",
      "content": "Subheading"
    },
    {
      "type": "paragraph",
      "content": "Desktop"
    },
    {
      "type": "textarea",
      "id": "subheading_text_desktop",
      "label": "Text"
    },
    {
      "type": "range",
      "id": "subheading_size_desktop",
      "min": 12,
      "max": 80,
      "step": 1,
      "unit": "px",
      "label": "Size",
      "default": 16
    },
    {
      "type": "color",
      "id": "subheading_color_desktop",
      "label": "Color",
      "default": "#333"
    },
    {
      "type": "select",
      "id": "subheading_align_desktop",
      "label": "Horizontal align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "subheading_space_below_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Space below",
      "default": 50
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "textarea",
      "id": "subheading_text_mobile",
      "label": "Text"
    },
    {
      "type": "range",
      "id": "subheading_size_mobile",
      "min": 12,
      "max": 80,
      "step": 1,
      "unit": "px",
      "label": "Size",
      "default": 16
    },
    {
      "type": "color",
      "id": "subheading_color_mobile",
      "label": "Color",
      "default": "#333"
    },
    {
      "type": "select",
      "id": "subheading_align_mobile",
      "label": "Horizontal align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "subheading_space_below_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Space below",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_item",
          "label": "Image",
          "info": "Recommended image size: Width 300px"
        },
        {
          "type": "url",
          "id": "hyperlink",
          "label": "Hyperlink"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo list",
      "category": "Others"
    }
  ]
}
{% endschema %}
