{% assign add_gift_product = settings.add_gift_product %}
{% assign gift_product = all_products[settings.gift_product] %}

{% assign _section = section.settings %}
{% assign opening_image = _section.opening_image %}
{% assign embroidery_image = _section.embroidery_image %}
{% assign loading_image = _section.loading_image %}
{% assign first_title = _section.first_title %}
{% assign message_button = _section.message_button %}
{% assign monogram_button = _section.monogram_button %}
{% assign monogram_title = _section.monogram_title %}
{% assign font_size = _section.font_size %}
{% assign font_size_mobile = _section.font_size_mobile %}
{% assign message_title = _section.message_title %}
{% assign icons_title = _section.icons_title %}
{% assign font_style_title = _section.font_style_title %}
{% assign font_size_title = _section.font_size_title %}
{% assign success_title = _section.success_title %}
{% assign success_content = _section.success_content %}
{% assign success_seconds = _section.success_seconds %}

{% assign _blocks = section.blocks %}

<div
  class="popup-embroidery-container"
  data-imgur="{{- settings.imgur_api_key -}}"
  data-gift-variant="{{- gift_product.variants.first.id -}}"
  data-success-seconds="{{- success_seconds | default: 5 -}}"
  id="popup-embroidery"
>
  <div class="popup-container-inner">
    <div class="popup-embroidery">
      <a href="#popup-embroidery" class="js-close-embroidery-popup">&times;</a><!-- /.js-close-engrave-popup -->

      <form action="?" method="post" class="form-embroidery" novalidate>
        <div class="form__step form__step--1 form__step--active" id="form-step-mode">
          <div class="form__aside">
            {% comment %} gif startter image {% endcomment %}

            {% if opening_image != blank %}
              <div
                class="form__image"
                style="background-image: url('{{- opening_image | img_url: '1000x' -}}');"
                aria-label="{{- opening_image.alt -}}"
                role="img"
              ></div><!-- /.form-image -->
            {% endif %}
          </div><!-- /.form__aside -->

          <div class="form__content">
            <div class="form__content-inner">
              <div class="form__title">{{- first_title -}}</div><!-- /.form__title -->

              <div class="form__radios">
                <div class="radio radio-type-mode">
                  <input type="radio" id="radio-message" name="radio-mode" value="use_message" class="js-radio-mode" checked="true">

                  <label for="radio-message">{{- message_button -}}</label>
                </div><!-- /.radio -->

                <div class="radio radio-type-mode">
                  <input type="radio" id="radio-monogram" name="radio-mode" value="use_monogram" class="js-radio-mode">

                  <label for="radio-monogram">{{- monogram_button -}}</label>
                </div><!-- /.radio -->
              </div><!-- /.form__radios -->
            </div><!-- /.form__content-inner -->
          </div><!-- /.form__content -->
        </div><!-- /.form__step form__step-/-1 -->



        <div class="form__step form__step--2" id="use_monogram">
          <div class="form__aside">
            {% if engrave_image != blank %}
              <div
                class="form__image form__image--small"
                style="background-image: url('{{- engrave_image | img_url: '1000x' -}}');"
                aria-label="{{- engrave_image.alt -}}"
                role="img"
              ></div><!-- /.form-image -->
            {% endif %}

            <div class="form__aside-entry">
              <p class="js-monogram-output"></p><!-- /.js-monogram-output -->
            </div><!-- /.form__aside-entry -->
          </div><!-- /.form__aside -->

          <div class="form__content">
            <div class="form__steps-actions form__prev">
              <a class="js-form-step" href="#form-step-mode">Previous</a>

              {% render 'arrow-left' %}
            </div><!-- /.form__steps-actions -->

            <div class="form__content-inner">
              <h5 class="form__sub-title form__sub-title--md">{{- monogram_title -}}</h5><!-- /.form__sub-title -->

              <div class="form__monogram-items">
                <div class="form__monogram-item">
                  <input type="text" data-idx="0" class="field js-monogram-input">
                </div><!-- /.form__monogram-item -->

                <div class="form__monogram-item">
                  <input type="text" data-idx="1" class="field js-monogram-input">
                </div><!-- /.form__monogram-item -->

                <div class="form__monogram-item">
                  <input type="text" data-idx="2" class="field js-monogram-input">
                </div><!-- /.form__monogram-item -->
              </div><!-- /.form__monogram-items -->

              <input type="hidden" class="js-monogram-full">
            </div><!-- /.form__content-inner -->

            <div class="form__steps-actions form__next">
              {% render 'arrow-right' %}

              <a class="js-form-finish" href="#">Done</a>
            </div><!-- /.form__steps-actions -->

            <div
              class="form__loader"
              {% if loading_image != blank %}
                aria-label="{{- loading_image.alt -}}"
                role="img"
                style="background-image: url('{{- loading_image  | img_url: '1400x' -}}');"
              {% endif %}
            ></div><!-- /.form__loader -->
          </div><!-- /.form__content -->
        </div><!-- /.form__step form__step-/-2 -->

        <div class="form__step form__step--2" id="use_message">
          <div class="form__aside">
            {% if embroidery_image != blank %}
              <div
                class="form__image form__image--small"
                style="background-image: url('{{- engrave_image | img_url: '1000x' -}}');"
                aria-label="{{- embroidery_image.alt -}}"
                role="img"
              ></div><!-- /.form-image -->
            {% endif %}

            <div class="form__aside-entry">
              <p class="js-message-output"></p>
            </div><!-- /.form__aside-entry -->

          </div><!-- /.form__aside -->

          <div class="form__content">
            <div class="form__steps-actions form__prev">
              <a class="js-form-step" href="#form-step-mode">Previous</a>

              {% render 'arrow-left' %}
            </div><!-- /.form__steps-actions -->

            <div class="form__content-inner form__content-inner--md form__content--flex-mobile">
              <div class="popup-temp">

              <h5 class="form__sub-title">{{- message_title -}}</h5><!-- /.form__sub-title -->

              <div class="form__message-items">
                <textarea class="js-message-textarea field-textarea"></textarea>
              </div><!-- /.form__message-items -->

              <div class="form__divider">-or-</div><!-- /.form__divider -->

              <div class="form__message-dropdown">
                {% assign dropdown_messages = _blocks | where: 'type', 'dropdown_message' %}
                {% if dropdown_messages.size > 0 %}
                  <select class="js-message-dropdown" data-placeholder="Pick a please repeat message">
                    <option value=""></option>
                    {% for message in dropdown_messages %}
                      {% assign _message = message.settings %}
                      {% assign title = _message.title %}

                      <option value="{{- title -}}">{{- title | replace: '\n', '' -}}</option>
                    {% endfor %}
                  </select>
                {% endif %}
              </div><!-- /.form__message-dropdown -->

              {% assign message_icons = _blocks | where: 'type', 'message_icon' %}
              {% if message_icons.size > 0 %}
                {% assign iconsJson = '' %}
                <div class="form__message-icons form__col-mobile-small">
                  <h5 class="form__small-title">{{- icons_title -}}</h5><!-- /.form__small-title -->

                  <div class="form__icons">
                    {% for message_icon in message_icons %}
                      {% assign _message_icon = message_icon.settings %}
                      {% assign icon = _message_icon.icon %}
                      {% assign icon_text = _message_icon.icon_text %}

                      {% if icon != blank and icon_text != blank %}
                        {% assign iconJson = '{"icon":"' | append: icon | append: '","text":"' | append: icon_text | append: '"}' %}
                        {% assign iconsJson = iconsJson | append: iconJson | append: ',' %}

                        <div class="form__icon">
                          <a class="js-add-icon" href="#" data-icon-text="{{- icon_text -}}">{{- icon -}}</a>
                        </div><!-- /.form__icon -->
                      {% endif %}
                    {% endfor %}

                    <script type="text/javascript">
                      window.icons = [{{iconsJson}}]
                    </script>
                  </div><!-- /.form__icons -->
                </div><!-- /.form__message-icons -->
              {% endif %}

              <div class="form__message-style form__col-mobile-small">
                <h5 class="form__small-title">{{- font_style_title -}}</h5><!-- /.form__small-title -->

                <div class="radios-fonts">
                  <div class="radio-font">
                    <input type="radio" name="message-style" id="message-style-1" class="js-message-style" data-weight="600"  value="Schnyder S" checked>

                    <label style="font-family: 'Schnyder S'; font-weight: 600" for="message-style-1">Aa</label>
                  </div><!-- /.radio-font -->

                  <div class="radio-font radio-font--lg">
                    <input type="radio" name="message-style" id="message-style-2" class="js-message-style" data-weight="350"  value="Maison Neue">

                    <label style="font-family: 'Maison Neue'; font-weight: 350; padding-top: 3px" for="message-style-2">Aa</label>
                  </div><!-- /.radio-font -->

                  <div class="radio-font">
                    <input type="radio" name="message-style" id="message-style-3" class="js-message-style" data-weight="700" value="Business Penmanship">

                    <label style="font-weight: 700" for="message-style-3">Aa</label>
                  </div><!-- /.radio-font -->
                </div><!-- /.radios-fonts -->
              </div><!-- /.form__message-style -->

              {% if font_size != blank %}
                <div class="form__message-size">
                  <h5 class="form__small-title">{{- font_size_title -}}</h5><!-- /.form__small-title -->

                  <div class="radios-sizes js-radios-sizes">
                    <div class="radios__actions">
                      <a href="#" class="js-decrease-message-size">-</a>
                    </div><!-- /.radios__actions -->

                    <div class="radios__inner">
                      {% assign sizes = font_size | split: ',' %}
                      {% for size in sizes %}
                        {% if size != blank and size != ' ' %}
                          <div class="radio-size">
                            <input
                              type="radio"
                              name="radio-size"
                              id="radio-size-{{- forloop.index -}}"
                              value="{{- size -}}"
                              class="js-message-size"
                              {% if forloop.index == 1 %}
                                checked
                              {% endif %}
                            >

                            <label for="radio-size-{{- forloop.index -}}">{{- size -}}</label>
                          </div><!-- /.radio-size -->
                        {% endif %}
                      {% endfor %}
                    </div><!-- /.radios__inner -->

                    <div class="radios__actions">
                      <a href="#" class="js-increase-message-size">+</a>
                    </div><!-- /.radios__actions -->
                  </div><!-- /.radios-sizes -->
                </div><!-- /.form__message-size -->
              {% endif %}

              {% if font_size_mobile != blank %}
                <div class="form__message-size form__message-size--mobile">
                  <h5 class="form__small-title">{{- font_size_title -}}</h5><!-- /.form__small-title -->

                  <div class="radios-sizes js-radios-sizes">
                    <div class="radios__actions">
                      <a href="#" class="js-decrease-message-size-mobile">-</a>
                    </div><!-- /.radios__actions -->

                    <div class="radios__inner">
                      {% assign sizes = font_size_mobile | split: ',' %}
                      {% for size in sizes %}
                        {% if size != blank and size != ' ' %}
                          <div class="radio-size">
                            <input
                              type="radio"
                              name="radio-size-mobile"
                              id="radio-size-m{{- forloop.index -}}"
                              value="{{- size -}}"
                              class="js-message-size-mobile"
                              {% if forloop.index == 1 %}
                                checked
                              {% endif %}
                            >

                            <label for="radio-size-m{{- forloop.index -}}">{{- size -}}</label>
                          </div><!-- /.radio-size -->
                        {% endif %}
                      {% endfor %}
                    </div><!-- /.radios__inner -->

                    <div class="radios__actions">
                      <a href="#" class="js-increase-message-size-mobile">+</a>
                    </div><!-- /.radios__actions -->
                  </div><!-- /.radios-sizes -->
                </div><!-- /.form__message-size -->
              {% endif %}

              </div><!-- /.popup-temp -->
            </div><!-- /.form__content-inner -->

            <div class="form__steps-actions form__next">
              {% render 'arrow-right' %}

              <a class="js-form-finish" href="#">Done</a>
            </div><!-- /.form__steps-actions -->

            <div
              class="form__loader"
              {% if loading_image != blank %}
                aria-label="{{- loading_image.alt -}}"
                role="img"
                style="background-image: url('{{- loading_image  | img_url: '1400x' -}}');"
              {% endif %}
            ></div><!-- /.form__loader -->
          </div><!-- /.form__content -->
        </div><!-- /.form__step form__step-/-2 -->
      </form>
    </div><!-- /.popup -->
  </div><!-- /.popup-container-inner -->
</div><!-- /.popup-container -->

<div class="popup-finish-container" id="popup-finish">
  <div class="popup-container-inner">
    <div class="popup-finish">
      <a href="#popup-finish" class="js-close-embroidery-popup">&times;</a><!-- /.js-close-engrave-popup -->

      <div class="popup__content">
        <h2 class="popup__title">{{- success_title -}}</h2><!-- /.popup__title -->

        <div class="popup__entry">{{- success_content -}}</div><!-- /.popup__entry -->
      </div><!-- /.popup__content -->
    </div><!-- /.popup -->
  </div><!-- /.popup-container-inner -->
</div><!-- /.popup-container -->

{% schema %}
{
  "name": "Popup Embroidery",
  "settings": [
    {
      "type": "image_picker",
      "id": "opening_image",
      "label": "Opening image",
      "info": "This is the image that will display on the first step of the popup"
    },
    {
      "type": "image_picker",
      "id": "embroidery_image",
      "label": "Embroidery image",
      "info": "This is the image where the user input will display over"
    },
    {
      "type": "image_picker",
      "id": "loading_image",
      "label": "Loading image",
      "info": "This is the image that will be visible during loading"
    },
    {
      "type": "header",
      "content": "First Step"
    },
    {
      "type": "text",
      "id": "first_title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "message_button",
      "label": "Message button label"
    },
    {
      "type": "text",
      "id": "monogram_button",
      "label": "Monogram button label"
    },
    {
      "type": "header",
      "content": "Monogram"
    },
    {
      "type": "text",
      "id": "monogram_title",
      "label": "Monogram title"
    },
    {
      "type": "header",
      "content": "Personalize a message"
    },
    {
      "type": "text",
      "id": "font_size",
      "label": "Font sizes",
      "info": "Separate sizes with a coma -> 14, 18, 20"
    },
    {
      "type": "text",
      "id": "font_size_mobile",
      "label": "Mobile font sizes",
      "info": "Separate sizes with a coma -> 14, 18, 20"
    },
    {
      "type": "text",
      "id": "message_title",
      "label": "Message title"
    },
    {
      "type": "text",
      "id": "icons_title",
      "label": "Icons title"
    },
    {
      "type": "text",
      "id": "font_style_title",
      "label": "Font styles title"
    },
    {
      "type": "text",
      "id": "font_size_title",
      "label": "Font sizes title"
    },
    {
      "type": "header",
      "content": "Success Popup"
    },
    {
      "type": "text",
      "id": "success_seconds",
      "label": "Time",
      "info": "How many seconds should the popup be visible"
    },
    {
      "type": "text",
      "id": "success_title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "success_content",
      "label": "Content"
    }
  ],
  "max_blocks": 9999,
  "blocks": [
    {
      "type": "dropdown_message",
      "name": "Dropdown message",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Message",
          "info": "Add '\\n' to insert a new line -> You \\n are \\n a badass"
        }
      ]
    },
    {
      "type": "message_icon",
      "name": "Message Icon",
      "settings": [
        {
          "type": "text",
          "id": "icon",
          "label": "Message icon"
        },
        {
          "type": "text",
          "id": "icon_text",
          "label": "Text representation of the icon",
          "info": "This will not be seen by customers, this is how the icon will appear in the text for the embroidery"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Popup Embroidery",
      "category": "Global"
    }
  ]
}
{% endschema %}
