{%- assign _section = section.settings -%}
{%- assign _blocks = section.blocks -%}

{%- assign stack_mobile = _section.slider_slides_stack_mobile -%}
{%- assign stack_mobile_class = '' -%}

{%- case stack_mobile -%}
  {%- when 'horizontal' -%}
    {%- assign stack_mobile_class = 'slider-hero--mobile-stack-horizontal' -%}
  {%- when 'vertical' -%}
    {%- assign stack_mobile_class = 'slider-hero--mobile-stack-vertical' -%}
{%- endcase -%}
{%- assign styles = '' -%}
{%- if _blocks.size > 0 -%}
  <section
    class="slider-hero slider-hero--two-up {{ stack_mobile_class }}{% if _section.slider_transition == 'zoom-out' %} slider-hero--zoom-out{% endif %}{% if _section.slider_transition == 'fade' %} slider-hero--fade{% endif %} js-slider-hero"
    id="slider-hero-{{- section.id -}}"
    data-arrows="{{- _section.slider_arrows -}}"
    data-dots="{{- _section.slider_dots -}}"
    data-dots-layout="{{- _section.slider_dots_layout -}}"
    data-autoplay="{{- _section.slider_autoplay -}}"
    data-autoplay-interval="{{- _section.slider_autoplay_interval | times: 1000 -}}"
    data-transition="{{- _section.slider_transition -}}"
    data-slides-to-show="2"
    data-slides-stack-mobile="{{- stack_mobile -}}"
  >
    {%- for block in _blocks -%}
      {%- assign _block = block.settings -%}

      <div class="slider__slide" style="background-color: {{ _block.background_color }};margin-top: {{_block.slider_slides_space_mobile_top}}px;margin-bottom: {{_block.slider_slides_space_mobile_bottom}}px;">
        <div
          class="slider__slide-wrapper"
        >
          {%- if _block.slide_video_url == blank -%}
            {%- if _block.slide_image != blank -%}
              {%- if _block.slide_image_mobile != blank -%}
                <div class="slider__slide-image hidden-xs"
                  style="padding-top: {{ _block.slide_image.height | times: 100.0 | divided_by: _block.slide_image.width }}%;"
                >
                {%- include 'lazyload-image' _image: _block.slide_image, background: true -%}
                </div>
                <div class="slider__slide-image visible-xs-block"
                    style="padding-top: {{ _block.slide_image_mobile.height | times: 100.0 | divided_by: _block.slide_image_mobile.width }}%;"
                > 
                {%- include 'lazyload-image' _image: _block.slide_image_mobile, background: true -%}
                </div>
              {%- else -%}
                <div class="slider__slide-image">
                {%- include 'lazyload-image' _image: _block.slide_image, background: true -%}
                </div>
              {%- endif -%}

              {%- if _block.slide_image_url != blank -%}
                <a
                  href="{{- _block.slide_image_url -}}"
                  class="slider__slide-overlay hidden-xs"
                  style="background-color: {{ _block.slide_overlay_color }}; opacity: {{ _block.slide_overlay_opacity | times: 0.01  }}"
                ></a>

                <a
                  href="{{- _block.slide_image_url -}}"
                  class="slider__slide-overlay visible-xs-block"
                  style="background-color: {{ _block.slide_overlay_color_mobile }}; opacity: {{ _block.slide_overlay_opacity_mobile | times: 0.01  }}"
                ></a>
              {%- else -%}
                <span
                  class="slider__slide-overlay hidden-xs"
                  style="background-color: {{ _block.slide_overlay_color }}; opacity: {{ _block.slide_overlay_opacity | times: 0.01  }}"
                ></span>

                <span
                  class="slider__slide-overlay visible-xs-block"
                  style="background-color: {{ _block.slide_overlay_color_mobile }}; opacity: {{ _block.slide_overlay_opacity_mobile | times: 0.01  }}"
                ></span>
              {%- endif -%}
            {%- endif -%}

            {%- if
              _block.slide_heading_text != blank or
              _block.slide_subheading_text != blank or
              _block.slide_btn_url != blank and _block.slide_btn_text != blank
            -%}
              {%- assign vertical_align_class = 'slider__slide-content--vertical-center' -%}
              {%- assign vertical_align_class_mobile = 'slider__slide-content--vertical-center-mobile' -%}
              {%- assign horizontal_align_class = 'slider__slide-content--horizontal-center' -%}
              {%- assign horizontal_align_class_mobile = 'slider__slide-content--horizontal-center-mobile' -%}

              {%- case _block.slide_content_vertical_position -%}
                {%- when 'top' -%}
                  {%- assign vertical_align_class = 'slider__slide-content--vertical-top' -%}
                {%- when 'bottom' -%}
                  {%- assign vertical_align_class = 'slider__slide-content--vertical-bottom' -%}
              {%- endcase -%}

              {%- case _block.slide_content_vertical_position_mobile -%}
                {%- when 'top' -%}
                  {%- assign vertical_align_class_mobile = 'slider__slide-content--vertical-top-mobile' -%}
                {%- when 'bottom' -%}
                  {%- assign vertical_align_class_mobile = 'slider__slide-content--vertical-bottom-mobile' -%}
              {%- endcase -%}

              {%- case _block.slide_content_horizontal_position -%}
                {%- when 'left' -%}
                  {%- assign horizontal_align_class = 'slider__slide-content--horizontal-left' -%}
                {%- when 'right' -%}
                  {%- assign horizontal_align_class = 'slider__slide-content--horizontal-right' -%}
              {%- endcase -%}

              {%- case _block.slide_content_horizontal_position_mobile -%}
                {%- when 'left' -%}
                  {%- assign horizontal_align_class_mobile = 'slider__slide-content--horizontal-left-mobile' -%}
                {%- when 'right' -%}
                  {%- assign horizontal_align_class_mobile = 'slider__slide-content--horizontal-right-mobile' -%}
              {%- endcase -%}

              <div class="slider__slide-content {{ vertical_align_class }} {{ horizontal_align_class }} {{ vertical_align_class_mobile }} {{ horizontal_align_class_mobile }}">
                {%- if _block.slide_heading_text != blank -%}
                  <h2 class="{%- if _block.slide_heading_text_mobile != blank -%} hidden-xs{%- endif -%}"
                    style="color: {{ _block.slide_heading_color }}; font-size: {{ _block.slide_heading_size }}px;"
                  >{{- _block.slide_heading_text | remove: '<p>' | remove: '</p>' -}}</h2>

                  {%- if _block.slide_heading_text_mobile != blank -%}
                    <h2 class="visible-xs-block"
                    style="color: {{ _block.slide_heading_color_mobile }}; font-size: {{ _block.slide_heading_size_mobile }}px;"
                  >{{- _block.slide_heading_text_mobile | remove: '<p>' | remove: '</p>' -}}</h2>
                  {%- endif -%}
                {%- endif -%}

                {%- if _block.slide_subheading_text != blank -%}
                  <h4 class="{%- if _block.slide_subheading_text_mobile != blank -%} hidden-xs{%- endif -%}"
                    style="color: {{ _block.slide_subheading_color }}; font-size: {{ _block.slide_subheading_size }}px;"
                  >{{- _block.slide_subheading_text | remove: '<p>' | remove: '</p>' -}}</h4>

                  {%- if _block.slide_subheading_text_mobile != blank -%}
                    <h4 class="visible-xs-block"
                    style="color: {{ _block.slide_subheading_color_mobile }}; font-size: {{ _block.slide_subheading_size_mobile }}px;"
                  >{{- _block.slide_subheading_text_mobile | remove: '<p>' | remove: '</p>' -}}</h4>
                  {%- endif -%}
                {%- endif -%}

                {%- if _block.slide_btn_url != blank and _block.slide_btn_text != blank -%}
                  {%- if _block.slide_btn_text_mobile != blank -%}
                    <a
                      href="{{- _block.slide_btn_url -}}"
                      class="btn slider__btn hidden-xs"
                      style="color: {{ _block.slide_btn_color }}; background-color: {{ _block.slide_btn_bg_color }}; border-color: {{ _block.slide_btn_bg_color }}; font-size: {{ _block.slide_btn_size }}px;"
                    >
                      {{- _block.slide_btn_text -}}
                    </a>

                    <a
                      href="{{- _block.slide_btn_url -}}"
                      class="btn slider__btn visible-xs-inline-block"
                      style="color: {{ _block.slide_btn_color_mobile }}; background-color: {{ _block.slide_btn_bg_color_mobile }}; border-color: {{ _block.slide_btn_bg_color_mobile }}; font-size: {{ _block.slide_btn_size_mobile }}px;"
                    >
                      {{- _block.slide_btn_text_mobile -}}
                    </a>
                  {%- else -%}
                    <a
                      href="{{- _block.slide_btn_url -}}"
                      class="btn slider__btn"
                      style="color: {{ _block.slide_btn_color }}; background-color: {{ _block.slide_btn_bg_color }}; border-color: {{ _block.slide_btn_bg_color }}; font-size: {{ _block.slide_btn_size }}px;"
                    >
                      {{- _block.slide_btn_text -}}
                    </a>
                  {%- endif -%}
                {%- endif -%}
              </div><!-- /.slider__slide-content -->
            {%- endif -%}
          {%- endif -%}

          {%- include 'slider-video' -%}
        </div><!-- /.slider__slide-wrapper -->
      </div><!-- /.slider__slide -->
      {%- capture styles -%}
      {{- styles -}}

      <style type="text/css">
        @media (min-width: 768px){
        .slider-hero .slider__slide-video-btn.button_position_top-left_{{block.id}} {
            top: 20%;
            left: 10%;
        }
        .slider-hero .slider__slide-video-btn.button_position_top-right_{{block.id}} {
            top: 20%;
            right: 0%;
            left:auto;
        }
        .slider-hero .slider__slide-video-btn.button_position_bottom-left_{{block.id}} {
            bottom: 0%;
            right: auto;
            left:10%;
            top:auto;
        }
        .slider-hero .slider__slide-video-btn.button_position_bottom-right_{{block.id}} {
          bottom: 0%;
          right: 0%;
          top: auto;
          left: auto;
        }
      }
      @media (max-width: 767px){
        .slider-hero .slider__slide-video-btn.button_position_mobile_top-right_{{block.id}} {
            top: 20%;
            right: 0%;
            left:auto;
        }
        .slider-hero .slider__slide-video-btn.button_position_mobile_bottom-left_{{block.id}} {
            bottom: 0%;
            right: auto;
            left:10%;
            top:auto;
        }
        .slider-hero .slider__slide-video-btn.button_position_mobile_bottom-right_{{block.id}} {
          bottom: 0%;
          right: 0%;
          top: auto;
          left: auto;
        }
      }
      </style>
    {%- endcapture -%}
    {%- endfor -%}
  </section><!-- /.slider-hero -->
{%- endif -%}

<style type="text/css" media="screen">
  .slider-hero#slider-hero-{{ section.id }} .slick-dots {
    color: {{ _section.slider_dots_color }};
  }

  .slider-hero#slider-hero-{{ section.id }} .slick-arrow {
    color: {{ _section.slider_arrows_color }};
  }

  .slider-hero--two-up.slider-hero--zoom-out#slider-hero-{{ section.id }} .slick-track,
  .slider-hero--two-up.slider-hero--fade#slider-hero-{{ section.id }} .slick-track {
    padding-top: calc(42.71% - {{ _section.slider_slides_space | times: 2 }}px);
  }

  .slider-hero#slider-hero-{{ section.id }} .slick-slide {
    padding: 0 {{ _section.slider_slides_space }}px;
  }

  .slider-hero#slider-hero-{{ section.id }} .slick-list {
    margin: 0 -{{ _section.slider_slides_space }}px;
  }
  .slider-hero.slider-hero--two-up .slider__slide-image {
    position: inherit;
  }
  .slider-hero--two-up, .slider-hero--two-up * {
    letter-spacing: {{ _section.kerning_size }}px !important;
    line-height: {{ _section.leading_size }}% !important;
  }
  @media (max-width: 768px) {
    .slider-hero#slider-hero-{{ section.id }} .slider__slide-wrapper,
    .slider-hero--two-up.slider-hero--zoom-out#slider-hero-{{ section.id }} .slick-track,
    .slider-hero--two-up.slider-hero--fade#slider-hero-{{ section.id }} .slick-track {
      padding-top: 0 !important;
    }
    .slider-hero.slider-hero--two-up .slider__slide-image {
      position: inherit;
    }
    .slider-hero--two-up, .slider-hero--two-up * {
      letter-spacing: {{ _section.kerning_mobile_size }}px !important;
      line-height: {{ _section.leading_mobile_size }}% !important;
    }
    
  }
</style>
{{- styles -}}
{% schema %}
{
  "name": "Two-Up Hero",
  "class": "fade-in js-fade-in",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "paragraph",
      "content": "Slides"
    },
    {
      "type": "range",
      "id": "slider_slides_space",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Space between every two slides",
      "default": 0
    },
	
    {
      "type": "select",
      "id": "slider_slides_stack_mobile",
      "label": "Slides stacking on mobile",
      "options": [
        {
          "value": "horizontal",
          "label": "Horizontal"
        },
        {
          "value": "vertical",
          "label": "Vertical"
        }
      ],
      "default": "horizontal"
    },
    {
      "type": "paragraph",
      "content": "Dots"
    },
    {
      "type": "checkbox",
      "id": "slider_dots",
      "label": "Show navigation dots",
      "default": true
    },
    {
      "type": "select",
      "id": "slider_dots_layout",
      "label": "Navigation dots location",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "color",
      "id": "slider_dots_color",
      "label": "Color",
      "default": "#000"
    },
    {
      "type": "paragraph",
      "content": "Arrows"
    },
    {
      "type": "checkbox",
      "id": "slider_arrows",
      "label": "Show navigation arrows",
      "default": true
    },
    {
      "type": "color",
      "id": "slider_arrows_color",
      "label": "Color",
      "default": "#000"
    },
    {
      "type": "header",
      "content": "Autoplay"
    },
    {
      "type": "checkbox",
      "id": "slider_autoplay",
      "label": "Autoplay slideshow",
      "default": false
    },
    {
      "type": "range",
      "id": "slider_autoplay_interval",
      "min": 1,
      "max": 15,
      "step": 1,
      "unit": "sec",
      "label": "Interval between slides",
      "default": 5
    },
    {
      "type": "select",
      "id": "slider_transition",
      "label": "Transition style",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "zoom-out",
          "label": "Zoom out"
        }
      ],
      "default": "slide"
    },
    {
      "type": "paragraph",
      "content": "Leading and Kerning"
    },
    {
      "type": "range",
      "id": "leading_size",
      "min": 100,
      "max": 400,
      "step": 5,
      "unit": "%",
      "label": "Leading",
      "default": 175
    },
    {
      "type": "range",
      "id": "kerning_size",
      "min": -10,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Kerning",
      "default": 1
    },
    {
      "type": "paragraph",
      "content": "Mobile Leading and Kerning"
    },
    {
      "type": "range",
      "id": "leading_mobile_size",
      "min": 100,
      "max": 400,
      "step": 5,
      "unit": "%",
      "label": "Leading",
      "default": 175
    },
    {
      "type": "range",
      "id": "kerning_mobile_size",
      "min": -10,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Kerning",
      "default": 1
    }
  ],
  "max_blocks": 10,
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "header",
          "content": "General"
        },
		{
          "type": "range",
          "id": "slider_slides_space_mobile_top",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Space top mobile",
          "default": 0
        },
        {
          "type": "range",
          "id": "slider_slides_space_mobile_bottom",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Space bottom mobile",
          "default": 0
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background color",
          "default": "transparent"
        },
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "url",
          "id": "slide_image_url",
          "label": "Image URL"
        },
        {
          "type": "paragraph",
          "content": "Desktop"
        },
        {
          "type": "image_picker",
          "id": "slide_image",
          "label": "Image",
          "info": "Recommended image size: 1600x1366 px"
        },
        {
          "type": "color",
          "id": "slide_overlay_color",
          "label": "Overlay color",
          "default": "#000"
        },
        {
          "type": "range",
          "id": "slide_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "label": "Overlay opacity",
          "default": 16
        },
        {
          "type": "paragraph",
          "content": "Mobile"
        },
        {
          "type": "image_picker",
          "id": "slide_image_mobile",
          "label": "Image",
          "info": "Recommended image size: 600x900 px"
        },
        {
          "type": "color",
          "id": "slide_overlay_color_mobile",
          "label": "Overlay color",
          "default": "#000"
        },
        {
          "type": "range",
          "id": "slide_overlay_opacity_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "label": "Overlay opacity",
          "default": 16
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "paragraph",
          "content": "Desktop"
        },
        {
          "type": "richtext",
          "id": "slide_heading_text",
          "label": "Heading text"
        },
        {
          "type": "color",
          "id": "slide_heading_color",
          "label": "Heading color",
          "default": "#fff"
        },
        {
          "type": "range",
          "id": "slide_heading_size",
          "min": 16,
          "max": 80,
          "step": 1,
          "unit": "px",
          "label": "Heading size",
          "default": 80
        },
        {
          "type": "richtext",
          "id": "slide_subheading_text",
          "label": "Subeading text"
        },
        {
          "type": "color",
          "id": "slide_subheading_color",
          "label": "Subheading color",
          "default": "#fff"
        },
        {
          "type": "range",
          "id": "slide_subheading_size",
          "min": 14,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Subheading size",
          "default": 24
        },
        {
          "type": "select",
          "id": "slide_content_vertical_position",
          "label": "Vertical alignment",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "slide_content_horizontal_position",
          "label": "Horizontal alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "paragraph",
          "content": "Mobile"
        },
        {
          "type": "richtext",
          "id": "slide_heading_text_mobile",
          "label": "Heading text"
        },
        {
          "type": "color",
          "id": "slide_heading_color_mobile",
          "label": "Heading color",
          "default": "#fff"
        },
        {
          "type": "range",
          "id": "slide_heading_size_mobile",
          "min": 16,
          "max": 80,
          "step": 1,
          "unit": "px",
          "label": "Heading size",
          "default": 40
        },
        {
          "type": "richtext",
          "id": "slide_subheading_text_mobile",
          "label": "Subeading text"
        },
        {
          "type": "color",
          "id": "slide_subheading_color_mobile",
          "label": "Subheading color",
          "default": "#fff"
        },
        {
          "type": "range",
          "id": "slide_subheading_size_mobile",
          "min": 14,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Subheading size",
          "default": 20
        },
        {
          "type": "select",
          "id": "slide_content_vertical_position_mobile",
          "label": "Vertical alignment",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "slide_content_horizontal_position_mobile",
          "label": "Horizontal alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "url",
          "id": "slide_btn_url",
          "label": "URL"
        },
        {
          "type": "paragraph",
          "content": "Desktop"
        },
        {
          "type": "text",
          "id": "slide_btn_text",
          "label": "Text"
        },
        {
          "type": "color",
          "id": "slide_btn_bg_color",
          "label": "Background color",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "slide_btn_color",
          "label": "Color",
          "default": "#fff"
        },
        {
          "type": "range",
          "id": "slide_btn_size",
          "min": 12,
          "max": 24,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 16
        },
        {
          "type": "paragraph",
          "content": "Mobile"
        },
        {
          "type": "text",
          "id": "slide_btn_text_mobile",
          "label": "Text"
        },
        {
          "type": "color",
          "id": "slide_btn_bg_color_mobile",
          "label": "Background color",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "slide_btn_color_mobile",
          "label": "Color",
          "default": "#fff"
        },
        {
          "type": "range",
          "id": "slide_btn_size_mobile",
          "min": 12,
          "max": 24,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 16
        },
        {
          "type": "header",
          "content": "Video"
        },
        {
          "type": "paragraph",
          "content": "Desktop"
        },
        {
          "type": "checkbox",
          "id": "slide_video_popup_play_desk",
          "label": "Play video with sound",
          "default": true
        },
        {
          "type": "select",
          "id": "play_button_position",
          "label": "Button/Text Position",
          "options": [
            {
              "value": "top-left",
              "label": "Top Left"
            },
            {
              "value": "top-right",
              "label": "Top Right"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "bottom-left",
              "label": "Bottom Left"
            },
            {
              "value": "bottom-right",
              "label": "Bottom Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "slide_video_url",
          "label": "Video URL CDN"
        },
        {
          "type": "paragraph",
          "content": "Mobile"
        },
        {
          "type": "checkbox",
          "id": "slide_video_popup_play_mobile",
          "label": "Play video with sound",
          "default": true
        },
        {
          "type": "select",
          "id": "play_button_position_mobile",
          "label": "Button/Text Position",
          "options": [
            {
              "value": "top-left",
              "label": "Top Left"
            },
            {
              "value": "top-right",
              "label": "Top Right"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "bottom-left",
              "label": "Bottom Left"
            },
            {
              "value": "bottom-right",
              "label": "Bottom Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "slide_video_url_mobile",
          "label": "Video URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Two-Up Hero",
      "category": "Sliders"
    }
  ]
}
{% endschema %}
