<div class="section-cart">
	<div class="shell">
		<form action="/cart" method="post" novalidate class="form form--default">
			<div class="section__inner">
				<div class="section__content">
					<header class="section__head">
						<h1>{{- 'cart.general.title' | t -}}</h1>
					</header><!-- /.section__head -->

					<div class="table-products js-cart-items-holder{% if cart.item_count == 0 %} hidden{% endif %}">
						{%- include 'cart-items', is_cart_layout: true -%}
					</div><!-- /.table-products -->

					<div class="cart__empty js-cart-empty{% if cart.item_count > 0 %} hidden{% endif %}">
						<h6 class="h6-small">{{- 'cart.general.empty' | t -}}</h6><!-- /.h6-small -->

						{{- 'cart.general.continue_browsing_html' | t -}}
					</div><!-- /.cart__empty js-cart-empty -->
				</div><!-- /.section__content -->

				<aside class="section__aside js-cart-aside{% if cart.item_count == 0 %} hidden{% endif %}">
					<h4>{{- 'cart.general.summary_title' | t -}}</h4>

					<div class="js-cart-shipping-bar">
						{%- include 'free-shipping-bar' -%}
					</div><!-- /.js-cart-shipping-bar -->

					<div class="js-cart-summary">
						{%- include 'cart-summary' -%}
					</div><!-- /.js-cart-summary -->

                    <!-- Route Code Edited 07/13/2021 -->
                    <div class="route-div"></div>
                    <div style="font-size: 12px; margin-top: -10px; margin-bottom: 15px; line-height: 15px;">
                      *By opting out of shipping protection, Paper Planes<br> is not liable for lost, stolen, or damaged packages during transit.
                    </div>
                    <style>
                      .route-widget .rw-contents .rw-left .rw-route-logo{
                          margin-top: 11px;
                      }
                    </style>
                    <!-- Route Code End -->

					<div class="cart-afterpay-message-wrapper js-cart-payment-message">
						<div class="cart-afterpay-message-delimiter"></div><!-- /.cart-afterpay-message-delimiter -->
					</div><!-- /.cart-afterpay-message -->

					{%- if settings.cart_type == 'page' -%}
						<button type="submit" class="btn btn--block">{{- 'cart.general.update' | t -}}</button>
					{%- endif -%}

					<button type="submit" name="checkout" class="btn btn--block">{{- 'cart.general.checkout' | t -}}</button>

					<div class="js-cart-checkout-buttons">
						{%- include 'additional-checkout-buttons' -%}
					</div>
                  <i data-govx-id></i>
				</aside><!-- /.section__aside -->
			</div><!-- /.section__inner -->
		</form>
	</div><!-- /.shell -->
</div><!-- /.section-cart -->
{% include 'product-carousel' %}

<style>
  .section-cart h1, .table-products .table__content h5 {font-family: 'heroicCondensed';}
</style>
{% render 'nosto-element', id:'cartpage-nosto-1' %}

{% render 'nosto-element', id:'cartpage-nosto-2' %}

{% render 'nosto-element', id:'cartpage-nosto-3' %}
